docker/local-files/workflows/Lavazza Workflow.json
{"name":"Lavazza Workflow","nodes":[{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(coffee OR cafe OR café OR cafeicultura) sourcecountry:brazil"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"50"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,496],"id":"gdelt-caffe-node","name":"GDELT caffè"},{"parameters":{"resume":"timeInterval","amount":4,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1400,496],"id":"wait-1-node","name":"Wait 4s 1","webhookId":"wait-1-webhook"},{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(protesto OR manifestação OR instabilidade OR \"crise política\") sourcecountry:BR"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"50"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1200,496],"id":"gdelt-proteste-node","name":"GDELT proteste"},{"parameters":{"resume":"timeInterval","amount":4,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1000,496],"id":"wait-2-node","name":"Wait 4s 2","webhookId":"wait-2-webhook"},{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(greve OR paralisação OR sindicato) AND (porto OR Santos OR Paranaguá) sourcecountry:BR"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"50"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-800,496],"id":"gdelt-porti-node","name":"GDELT porti"},{"parameters":{"resume":"timeInterval","amount":4,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-600,496],"id":"wait-3-node","name":"Wait 4s 3","webhookId":"wait-3-webhook"},{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(política OR subsídio OR imposto) AND (café OR agronegócio OR soja) sourcecountry:BR"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"50"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,496],"id":"gdelt-politica-node","name":"GDELT politica"},{"parameters":{"resume":"timeInterval","amount":4,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-200,496],"id":"wait-4-node","name":"Wait 4s 4","webhookId":"wait-4-webhook"},{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(enchente OR seca OR queimada OR \"chuva extrema\" OR desastre) sourcecountry:BR"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"50"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,496],"id":"gdelt-disastri-node","name":"GDELT disastri"},{"parameters":{"jsCode":"const seen = new Map();\nconst nodeNames = ['GDELT caff\\u00e8', 'GDELT proteste', 'GDELT porti', 'GDELT politica', 'GDELT disastri'];\n\nfor (const name of nodeNames) {\n  try {\n    const items = $(name).all();\n    for (const item of items) {\n      const articles = item.json.articles || [];\n      for (const art of articles) {\n        if (art.url && !seen.has(art.url)) {\n          seen.set(art.url, art);\n        }\n      }\n    }\n  } catch(e) {}\n}\n\nreturn [{ json: { articles: Array.from(seen.values()) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,496],"id":"f73ef184-1a87-40a1-894c-4902e0115977","name":"GDELT Multi-Query"},{"parameters":{"fieldToSplitOut":"articles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,496],"id":"27f8dd2a-1b09-4651-b875-83cfb1427bc5","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,496],"id":"610695c4-135c-49ba-ae68-bc4a384476ba","name":"Loop Over Items1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[900,512],"id":"345fdf2d-efae-400e-9f83-7fc8093d34fe","name":"Wait1","webhookId":"6051aa69-e3ba-44e6-ad12-f044f14540b6"},{"parameters":{"promptType":"define","text":"=={{\n`URL: ${$json.url}\nTitle: ${$json.title}\nDomain: ${$json.domain}\nLanguage: ${$json.language}\nSource Country: ${$json.sourcecountry}\nSeen Date: ${$json.seendate}`\n}}\n","messages":{"messageValues":[{"message":"=You are filtering news articles for a Lavazza intelligence system that monitors risks related to coffee origins in Brazil.\n\nDecide whether an article is relevant and worth keeping for downstream scraping and analysis.\n\nAn article is relevant only if it is substantially related to at least one of the following:\n\ncoffee production trends, forecasts, or harvest data at regional or national level in Brazil\nBrazilian coffee-growing regions affected by climate, disease, or structural changes\nagribusiness, agriculture, exports, logistics, trade, tariffs, regulation, or policy that may affect Brazilian coffee at regional, national, or international scale\nenvironmental, climate, wildfire, drought, ENSO, or crop-related conditions that may affect Brazilian coffee\ngeopolitical, economic, or supply-chain developments with plausible impact on Brazilian coffee production or exports\nReject articles that are mainly about:\n\ncafes, coffee shops, restaurants, tourism, lifestyle, recipes, or coffee culture\nentertainment, sports, celebrities, general crime, or unrelated politics\ncoffee in general without a meaningful connection to Brazil\nBrazil in general without a meaningful connection to coffee, agriculture, agribusiness, climate risk, or export/logistics risk\nlocal field days, training workshops, municipal extension events, or cooperative press releases about routine operational activities\nsingle-farm or single-municipality initiatives without regional or national significance\nBe conservative. Keep only articles with impact beyond a single municipality or farm — regional, national, or international scope required.\n\nReturn only valid JSON in this exact format:\n\n\n{\n  \"url\": \"...\",\n  \"keep_article\": true,\n  \"relevance_score\": 0,\n  \"is_about_brazil\": true,\n  \"is_in_scope\": true,\n  \"topic\": \"geo\",\n  \"reason\": \"short explanation\"\n}\nRules:\n\nurl must be the exact URL value provided in the input, copied verbatim.\nkeep_article must be true only if both is_about_brazil and is_in_scope are true AND the article has impact at regional, national, or international scale.\nrelevance_score must be an integer from 0 to 100.\ntopic must be one of: \"geo\", \"crops\", \"prices\", \"environment\", \"other\".\nreason must be short and specific.\nReturn JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1120,512],"id":"27196df6-8187-431b-9637-301357dfa161","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1120,720],"id":"41402a89-7898-46db-a211-61022196d5b2","name":"OpenAI Chat Model1","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const parsed = JSON.parse($json.text);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,512],"id":"aa3c9e3d-9e68-4c35-bf03-8952d849ae54","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"90f83ad7-988e-4c18-99f8-7b4cf54f2e9a","leftValue":"={{ $json.keep_article }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1600,512],"id":"d6661d32-4bd9-45d1-a70d-a2211552fbcb","name":"If1"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1840,496],"id":"ffc6ea51-bcd8-462a-b801-5dca2ab9befd","name":"Scrape Article"},{"parameters":{"jsCode":"const html = $json.data || '';\nconst meta = $('Code in JavaScript1').item.json;\n\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 6000);\n\nreturn [{\n  json: {\n    ...meta,\n    article_text: text\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,496],"id":"9e54e59e-ea23-4340-a602-d2eae39a4266","name":"Strip HTML"},{"parameters":{"promptType":"define","text":"={{ $json.article_text }}","messages":{"messageValues":[{"message":"You extract structured signals from news articles about Brazilian coffee. Return only valid JSON, no extra text.\n\nOutput format:\n{\n  \"signals\": [\"...\"],\n  \"entities\": [\"...\"],\n  \"sentiment\": \"positive|negative|neutral\",\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 5 short strings, each a concrete risk or positive factor for Brazilian coffee\n- entities: regions, organizations, or people mentioned (max 5)\n- sentiment: overall tone toward Brazilian coffee sector\n- summary_en: 1-2 sentences in English summarizing the article\n- Return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2280,480],"id":"2566ba89-3135-4f99-bd34-114fd5ac36d9","name":"Extract Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2280,672],"id":"80800aca-dc28-406d-a044-7d25ff406348","name":"OpenAI Extract Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const signals = JSON.parse($json.text);\nconst meta = $('Strip HTML').item.json;\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    country: 'BR',\n    macroarea: 'geo',\n    collected_at: now,\n    url: meta.url,\n    topic: meta.topic,\n    relevance_score: meta.relevance_score,\n    reason: meta.reason,\n    signals: signals.signals,\n    entities: signals.entities,\n    sentiment: signals.sentiment,\n    summary_en: signals.summary_en,\n    embed_text: signals.summary_en + ' ' + (signals.signals || []).join('. ')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2580,480],"id":"e18ca0d7-148f-4d49-b11f-5112ac0d153c","name":"Parse Signals"},{"parameters":{"operation":"insert","collection":"raw_geo","fields":"country,macroarea,collected_at,url,topic,relevance_score,reason,signals,entities,sentiment,summary_en,embed_text","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[2800,480],"id":"64c3a7e7-3dcb-4104-a6fb-80931f946b83","name":"MongoDB raw_geo","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $('Parse Signals').item.json.embed_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3020,464],"id":"4fbe8885-98c4-4678-a655-aae58e771a16","name":"OpenAI Embeddings","credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const meta = $('Parse Signals').item.json;\nconst vector = $json.data[0].embedding;\n\nconst url = meta.url;\nlet hash = 0;\nfor (let i = 0; i < url.length; i++) {\n  hash = ((hash << 5) - hash) + url.charCodeAt(i);\n  hash |= 0;\n}\nconst pointId = Math.abs(hash);\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector: vector,\n      payload: {\n        country: meta.country,\n        macroarea: meta.macroarea,\n        collected_at: meta.collected_at,\n        url: meta.url,\n        topic: meta.topic,\n        relevance_score: meta.relevance_score,\n        sentiment: meta.sentiment,\n        summary_en: meta.summary_en,\n        signals: meta.signals\n      }\n    }]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3240,464],"id":"73ce9a93-a2a5-4d44-a443-8f36c7a0eff7","name":"Build Qdrant Payload"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/geo_texts/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3460,464],"id":"e5af3929-b031-4798-821f-dc9a9ce72f15","name":"Qdrant Upsert"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'GDELT',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"id":"10304559-6422-45c7-a7b7-b0891beab3c4","name":"Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[1120,320],"id":"0e518f10-1c9e-47e2-b595-c05c6210515a","name":"MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"http://www.wto.org/library/rss/latest_news_e.xml"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-1600,-200],"id":"wto-fetch-node","name":"WTO RSS Fetch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1160,-200],"id":"wto-loop-node","name":"WTO Loop"},{"parameters":{"amount":2,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-960,-200],"id":"wto-wait-node","name":"WTO Wait","webhookId":"wto-wait-webhook"},{"parameters":{"promptType":"define","text":"=URL: {{ $json.link }}\nTitle: {{ $json.title }}\nCategory: {{ $json.category }}\nDate: {{ $json.pubDate }}\nText: {{ $json.text }}","messages":{"messageValues":[{"message":"=You are filtering news articles for a Lavazza intelligence system that monitors risks related to coffee origins in Brazil.\n\nDecide whether an article is relevant and worth keeping for downstream scraping and analysis.\n\nAn article is relevant only if it is substantially related to at least one of the following:\n\ncoffee production trends, forecasts, or harvest data at regional or national level in Brazil\nBrazilian coffee-growing regions affected by climate, disease, or structural changes\nagribusiness, agriculture, exports, logistics, trade, tariffs, regulation, or policy that may affect Brazilian coffee at regional, national, or international scale\nenvironmental, climate, wildfire, drought, ENSO, or crop-related conditions that may affect Brazilian coffee\ngeopolitical, economic, or supply-chain developments with plausible impact on Brazilian coffee production or exports\nReject articles that are mainly about:\n\ncafes, coffee shops, restaurants, tourism, lifestyle, recipes, or coffee culture\nentertainment, sports, celebrities, general crime, or unrelated politics\ncoffee in general without a meaningful connection to Brazil\nBrazil in general without a meaningful connection to coffee, agriculture, agribusiness, climate risk, or export/logistics risk\nlocal field days, training workshops, municipal extension events, or cooperative press releases about routine operational activities\nsingle-farm or single-municipality initiatives without regional or national significance\nBe conservative. Keep only articles with impact beyond a single municipality or farm — regional, national, or international scope required.\n\nReturn only valid JSON in this exact format:\n\n{\n  \"url\": \"...\",\n  \"keep_article\": true,\n  \"relevance_score\": 0,\n  \"is_about_brazil\": true,\n  \"is_in_scope\": true,\n  \"topic\": \"geo\",\n  \"reason\": \"short explanation\"\n}\nRules:\n\nurl must be the exact URL value provided in the input, copied verbatim.\nkeep_article must be true only if both is_about_brazil and is_in_scope are true AND the article has impact at regional, national, or international scale.\nrelevance_score must be an integer from 0 to 100.\ntopic must be one of: \"geo\", \"crops\", \"prices\", \"environment\", \"other\".\nreason must be short and specific.\nReturn JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-740,-200],"id":"wto-llm-filter-node","name":"WTO LLM Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-740,0],"id":"wto-openai-filter-node","name":"WTO OpenAI Filter Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const parsed = JSON.parse($json.text);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-520,-200],"id":"wto-parse-filter-node","name":"WTO Parse Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"wto-if-condition","leftValue":"={{ $json.keep_article }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-300,-200],"id":"wto-if-node","name":"WTO If"},{"parameters":{"promptType":"define","text":"={{ ($('WTO Loop').item.json.content || $('WTO Loop').item.json.summary || '').replace(/<[^>]+>/g, ' ').slice(0, 3000) }}","messages":{"messageValues":[{"message":"You extract structured signals from news articles about Brazilian coffee and trade. Return only valid JSON, no extra text.\n\nOutput format:\n{\n  \"signals\": [\"...\"],\n  \"entities\": [\"...\"],\n  \"sentiment\": \"positive|negative|neutral\",\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 5 short strings, each a concrete risk or positive factor for Brazilian coffee\n- entities: regions, organizations, or people mentioned (max 5)\n- sentiment: overall tone toward Brazilian coffee sector\n- summary_en: 1-2 sentences in English summarizing the article\n- Return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-80,-200],"id":"wto-extract-signals-node","name":"WTO Extract Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-80,0],"id":"wto-openai-extract-node","name":"WTO OpenAI Extract Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const signals = JSON.parse($json.text);\nconst meta = $('WTO Parse Filter').item.json;\nconst original = $('WTO Loop').item.json;\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    country: 'BR',\n    macroarea: 'geo',\n    collected_at: now,\n    url: meta.url,\n    topic: meta.topic,\n    relevance_score: meta.relevance_score,\n    reason: meta.reason,\n    title: original.title,\n    pubDate: original.pubDate,\n    signals: signals.signals,\n    entities: signals.entities,\n    sentiment: signals.sentiment,\n    summary_en: signals.summary_en,\n    embed_text: signals.summary_en + ' ' + (signals.signals || []).join('. ')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-200],"id":"wto-parse-signals-node","name":"WTO Parse Signals"},{"parameters":{"operation":"insert","collection":"raw_geo","fields":"country,macroarea,collected_at,url,topic,relevance_score,reason,title,pubDate,signals,entities,sentiment,summary_en,embed_text","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[380,-200],"id":"wto-mongo-raw-geo-node","name":"WTO MongoDB raw_geo","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $('WTO Parse Signals').item.json.embed_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[600,-200],"id":"wto-embeddings-node","name":"WTO OpenAI Embeddings","credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const meta = $('WTO Parse Signals').item.json;\nconst vector = $json.data[0].embedding;\n\nconst url = meta.url;\nlet hash = 0;\nfor (let i = 0; i < url.length; i++) {\n  hash = ((hash << 5) - hash) + url.charCodeAt(i);\n  hash |= 0;\n}\nconst pointId = Math.abs(hash);\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector: vector,\n      payload: {\n        country: meta.country,\n        macroarea: meta.macroarea,\n        collected_at: meta.collected_at,\n        url: meta.url,\n        topic: meta.topic,\n        relevance_score: meta.relevance_score,\n        sentiment: meta.sentiment,\n        summary_en: meta.summary_en,\n        signals: meta.signals\n      }\n    }]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,-200],"id":"wto-qdrant-payload-node","name":"WTO Build Qdrant Payload"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/geo_texts/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1040,-200],"id":"wto-qdrant-upsert-node","name":"WTO Qdrant Upsert"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'WTO_RSS',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1160,-380],"id":"wto-build-log-node","name":"WTO Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-940,-380],"id":"wto-mongo-log-node","name":"WTO MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"https://psl.noaa.gov/data/correlation/oni.data","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-920],"id":"noaa-enso-download-node","name":"NOAA ENSO Download"},{"parameters":{"jsCode":"const raw = $json.data || '';\nconst sourceUrl = 'https://psl.noaa.gov/data/correlation/oni.data';\nconst now = new Date().toISOString();\nconst months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n\nconst rows = [];\nfor (const line of raw.split(/\\r?\\n/)) {\n  const parts = line.trim().split(/\\s+/);\n  if (parts.length < 13) continue;\n\n  const year = Number(parts[0]);\n  if (!Number.isInteger(year) || year < 1950) continue;\n\n  for (let i = 0; i < months.length; i++) {\n    const value = Number(parts[i + 1]);\n    if (Number.isNaN(value) || value < -10) continue;\n\n    rows.push({\n      year,\n      month: months[i],\n      month_number: i + 1,\n      period: `${year}-${String(i + 1).padStart(2, '0')}`,\n      period_label: `${year}-${months[i]}`,\n      oni_value: Number(value.toFixed(2))\n    });\n  }\n}\n\nif (!rows.length) {\n  throw new Error('No valid ONI values parsed from NOAA ENSO file');\n}\n\nconst latest = rows[rows.length - 1];\nconst recentSeries = rows.slice(-24);\n\nlet ensoPhase = 'NEUTRAL';\nlet phaseStrength = 'neutral';\nlet alertLevel = 'LOW';\nlet impactForecast = 'No major ENSO-driven climate disruptions expected.';\nlet northNortheastImpact = 'No strong ENSO-driven anomaly signaled.';\nlet southImpact = 'No strong ENSO-driven anomaly signaled.';\nlet summaryEn = `Latest NOAA ONI reading for ${latest.period_label} is ${latest.oni_value.toFixed(2)}, indicating a neutral ENSO phase. No major ENSO-driven climate disruption is currently signaled for Brazil.`;\nlet signals = [\n  'ENSO phase neutral',\n  `Latest ONI anomaly ${latest.oni_value.toFixed(2)}`,\n  'No major ENSO-driven disruption signaled for Brazil'\n];\n\nif (latest.oni_value >= 0.5) {\n  ensoPhase = 'EL_NINO';\n  alertLevel = 'MODERATE';\n  phaseStrength = 'moderate';\n  impactForecast = 'Possible water shortages in North and Northeast Brazil; increased rainfall in Southern Brazil.';\n  northNortheastImpact = 'Drier and hotter conditions with higher drought and wildfire risk.';\n  southImpact = 'Wetter conditions with higher heavy-rain and flooding risk.';\n  summaryEn = `Latest NOAA ONI reading for ${latest.period_label} is ${latest.oni_value.toFixed(2)}, indicating El Nino conditions. Brazil faces higher drought pressure in North and Northeast regions and higher rainfall risk in the South.`;\n  signals = [\n    'ENSO phase El Nino',\n    `Latest ONI anomaly ${latest.oni_value.toFixed(2)}`,\n    'North and Northeast Brazil drought risk elevated',\n    'Southern Brazil heavy rainfall risk elevated'\n  ];\n\n  if (latest.oni_value >= 1.5) {\n    alertLevel = 'CRITICAL';\n    phaseStrength = 'strong';\n    impactForecast = 'High risk of drought in Amazon and Northeast Brazil; severe flood risk in Southern Brazil.';\n    northNortheastImpact = 'Strong drought and wildfire pressure across Amazon and Northeast Brazil.';\n    southImpact = 'Strong heavy-rain and flood pressure in Southern Brazil.';\n    summaryEn = `Latest NOAA ONI reading for ${latest.period_label} is ${latest.oni_value.toFixed(2)}, indicating a strong El Nino phase. Brazil faces severe drought pressure in Amazon and Northeast regions and severe flood risk in the South.`;\n    signals = [\n      'ENSO phase strong El Nino',\n      `Latest ONI anomaly ${latest.oni_value.toFixed(2)}`,\n      'Amazon and Northeast Brazil drought risk critical',\n      'Southern Brazil flood risk critical'\n    ];\n  }\n} else if (latest.oni_value <= -0.5) {\n  ensoPhase = 'LA_NINA';\n  alertLevel = 'MODERATE';\n  phaseStrength = 'moderate';\n  impactForecast = 'Drier conditions likely in Southern Brazil; wetter conditions in North and Northeast Brazil.';\n  northNortheastImpact = 'Wetter conditions with higher river flooding risk.';\n  southImpact = 'Drier conditions with higher agricultural drought risk.';\n  summaryEn = `Latest NOAA ONI reading for ${latest.period_label} is ${latest.oni_value.toFixed(2)}, indicating La Nina conditions. Brazil faces higher dryness risk in the South and wetter conditions in North and Northeast regions.`;\n  signals = [\n    'ENSO phase La Nina',\n    `Latest ONI anomaly ${latest.oni_value.toFixed(2)}`,\n    'Southern Brazil drought risk elevated',\n    'North and Northeast Brazil flood risk elevated'\n  ];\n\n  if (latest.oni_value <= -1.5) {\n    alertLevel = 'CRITICAL';\n    phaseStrength = 'strong';\n    impactForecast = 'High risk of drought in Southern Brazil crops; flood risk in North and Northeast Brazil.';\n    northNortheastImpact = 'Strong wet conditions with flood pressure in North and Northeast Brazil.';\n    southImpact = 'Strong agricultural drought pressure in Southern Brazil.';\n    summaryEn = `Latest NOAA ONI reading for ${latest.period_label} is ${latest.oni_value.toFixed(2)}, indicating a strong La Nina phase. Brazil faces critical southern dryness pressure and elevated flood risk in North and Northeast regions.`;\n    signals = [\n      'ENSO phase strong La Nina',\n      `Latest ONI anomaly ${latest.oni_value.toFixed(2)}`,\n      'Southern Brazil crop drought risk critical',\n      'North and Northeast Brazil flood risk elevated'\n    ];\n  }\n}\n\nreturn [{\n  json: {\n    source: 'NOAA_ENSO',\n    source_url: sourceUrl,\n    country: 'BR',\n    macroarea: 'environment',\n    collected_at: now,\n    latest_period: latest.period,\n    latest_period_label: latest.period_label,\n    latest_year: latest.year,\n    latest_month: latest.month,\n    latest_month_number: latest.month_number,\n    oni_value: latest.oni_value,\n    enso_phase: ensoPhase,\n    phase_strength: phaseStrength,\n    alert_level: alertLevel,\n    impact_forecast: impactForecast,\n    brazil_impact_north_northeast: northNortheastImpact,\n    brazil_impact_south: southImpact,\n    summary_en: summaryEn,\n    signals,\n    history_window_months: recentSeries.length,\n    recent_series: recentSeries\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-920],"id":"noaa-enso-parse-node","name":"NOAA ENSO Parse"},{"parameters":{"operation":"insert","collection":"raw_environment","options":{},"fields":"source,source_url,country,macroarea,collected_at,latest_period,latest_period_label,latest_year,latest_month,latest_month_number,oni_value,enso_phase,phase_strength,alert_level,impact_forecast,brazil_impact_north_northeast,brazil_impact_south,summary_en,signals,history_window_months,recent_series"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-920],"id":"noaa-mongo-raw-environment-node","name":"NOAA MongoDB raw_environment","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'NOAA_ENSO',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-920],"id":"noaa-build-log-node","name":"NOAA Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-920],"id":"noaa-mongo-log-node","name":"NOAA MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"={{ 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + $env.NASA_FIRMS_KEY + '/VIIRS_SNPP_NRT/-75,-35,-33,6/5' }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-1320],"id":"nasa-firms-download-node","name":"NASA FIRMS Download"},{"parameters":{"jsCode":"const raw = $json.data || '';\nconst now = new Date().toISOString();\nconst sensor = 'VIIRS_SNPP_NRT';\nconst lookbackDays = 5;\nconst bbox = '-75,-35,-33,6';\nconst sourceUrlTemplate = `https://firms.modaps.eosdis.nasa.gov/api/area/csv/[NASA_FIRMS_KEY]/${sensor}/${bbox}/${lookbackDays}`;\n\nfunction parseCsvLine(line) {\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      values.push(current);\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n\n  values.push(current);\n  return values;\n}\n\nfunction toNumber(value, decimals = 4) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nfunction buildDetectionUtc(acqDate, acqTime) {\n  if (!acqDate) return null;\n  const time = String(acqTime || '').padStart(4, '0');\n  const hh = time.slice(0, 2);\n  const mm = time.slice(2, 4);\n  return `${acqDate}T${hh}:${mm}:00Z`;\n}\n\nfunction percentile(sortedValues, p) {\n  if (!sortedValues.length) return null;\n  const index = Math.min(sortedValues.length - 1, Math.max(0, Math.ceil(sortedValues.length * p) - 1));\n  return Number(sortedValues[index].toFixed(2));\n}\n\nconst lines = raw.split(/\\r?\\n/).filter((line) => line.trim() !== '');\nif (!lines.length) {\n  throw new Error('NASA FIRMS response is empty');\n}\n\nconst headers = parseCsvLine(lines[0]).map((header) => header.trim());\nconst requiredHeaders = ['latitude', 'longitude', 'acq_date', 'acq_time', 'frp'];\nfor (const header of requiredHeaders) {\n  if (!headers.includes(header)) {\n    throw new Error(`Unexpected NASA FIRMS CSV schema: missing ${header}`);\n  }\n}\n\nconst numericFields = new Set(['latitude', 'longitude', 'bright_ti4', 'bright_ti5', 'scan', 'track', 'frp']);\n\nconst detections = lines.slice(1).map((line) => {\n  const values = parseCsvLine(line);\n  const row = {};\n\n  headers.forEach((header, index) => {\n    const rawValue = (values[index] ?? '').trim();\n    row[header] = numericFields.has(header) ? toNumber(rawValue) : rawValue;\n  });\n\n  row.acq_time = String(row.acq_time || '').padStart(4, '0');\n  row.detection_utc = buildDetectionUtc(row.acq_date, row.acq_time);\n\n  return row;\n}).filter((row) => row.latitude !== null && row.longitude !== null && row.acq_date);\n\nconst totalDetections = detections.length;\nconst detectionsByDay = {};\nconst confidenceCounts = {};\nconst daynightCounts = {};\nconst satelliteCounts = {};\n\nfor (const detection of detections) {\n  const acqDate = detection.acq_date || 'unknown';\n  const confidence = String(detection.confidence || 'unknown');\n  const daynight = String(detection.daynight || 'unknown');\n  const satellite = String(detection.satellite || 'unknown');\n\n  detectionsByDay[acqDate] = (detectionsByDay[acqDate] || 0) + 1;\n  confidenceCounts[confidence] = (confidenceCounts[confidence] || 0) + 1;\n  daynightCounts[daynight] = (daynightCounts[daynight] || 0) + 1;\n  satelliteCounts[satellite] = (satelliteCounts[satellite] || 0) + 1;\n}\n\nconst frpValues = detections.map((detection) => detection.frp).filter((value) => typeof value === 'number');\nconst sortedFrpValues = [...frpValues].sort((a, b) => a - b);\nconst frpSum = frpValues.reduce((sum, value) => sum + value, 0);\nconst maxFrp = sortedFrpValues.length ? Number(sortedFrpValues[sortedFrpValues.length - 1].toFixed(2)) : null;\nconst minFrp = sortedFrpValues.length ? Number(sortedFrpValues[0].toFixed(2)) : null;\nconst avgFrp = sortedFrpValues.length ? Number((frpSum / sortedFrpValues.length).toFixed(2)) : null;\nconst p95Frp = percentile(sortedFrpValues, 0.95);\nconst smallFrpLt50Count = frpValues.filter((value) => value < 50).length;\nconst extremeFrpGte500Count = frpValues.filter((value) => value >= 500).length;\n\nconst detectionUtcValues = detections.map((detection) => detection.detection_utc).filter(Boolean).sort();\nconst earliestDetectionUtc = detectionUtcValues.length ? detectionUtcValues[0] : null;\nconst latestDetectionUtc = detectionUtcValues.length ? detectionUtcValues[detectionUtcValues.length - 1] : null;\nconst latestDay = Object.keys(detectionsByDay).sort().slice(-1)[0] || null;\nconst latestDayCount = latestDay ? detectionsByDay[latestDay] : 0;\n\nconst topDetectionsByFrp = [...detections]\n  .filter((detection) => typeof detection.frp === 'number')\n  .sort((a, b) => b.frp - a.frp)\n  .slice(0, 20)\n  .map((detection) => ({\n    latitude: detection.latitude,\n    longitude: detection.longitude,\n    acq_date: detection.acq_date,\n    acq_time: detection.acq_time,\n    detection_utc: detection.detection_utc,\n    frp: detection.frp,\n    confidence: detection.confidence || null,\n    daynight: detection.daynight || null,\n    satellite: detection.satellite || null,\n    instrument: detection.instrument || null,\n    bright_ti4: detection.bright_ti4 ?? null,\n    bright_ti5: detection.bright_ti5 ?? null\n  }));\n\nconst topDays = Object.entries(detectionsByDay)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([date, count]) => ({ date, count }));\n\nlet summaryEn = `NASA FIRMS returned ${totalDetections} fire detections in the Brazil bounding box over the last ${lookbackDays} days.`;\nconst signals = [`${totalDetections} FIRMS detections in Brazil bbox over ${lookbackDays} days`];\n\nif (totalDetections > 0) {\n  summaryEn += ` Max FRP was ${maxFrp ?? 'n/a'} MW, ${extremeFrpGte500Count} detections were at or above 500 MW, and the latest detection timestamp was ${latestDetectionUtc || 'n/a'}.`;\n  signals.push(`Max FRP ${maxFrp ?? 'n/a'} MW`);\n  signals.push(`${extremeFrpGte500Count} detections at or above 500 MW`);\n  if (latestDay) {\n    signals.push(`${latestDayCount} detections on latest day ${latestDay}`);\n  }\n} else {\n  summaryEn += ' No active fire detections were returned for the configured area and lookback window.';\n  signals.push('No detections returned in current FIRMS query window');\n}\n\nreturn [{\n  json: {\n    source: 'NASA_FIRMS',\n    source_format: 'csv',\n    source_url_template: sourceUrlTemplate,\n    country: 'BR',\n    macroarea: 'environment',\n    collected_at: now,\n    sensor,\n    bbox,\n    lookback_days: lookbackDays,\n    records_schema: headers,\n    total_detections: totalDetections,\n    earliest_detection_utc: earliestDetectionUtc,\n    latest_detection_utc: latestDetectionUtc,\n    latest_day: latestDay,\n    latest_day_count: latestDayCount,\n    detections_by_day: detectionsByDay,\n    top_days_by_detection_count: topDays,\n    confidence_counts: confidenceCounts,\n    daynight_counts: daynightCounts,\n    satellite_counts: satelliteCounts,\n    frp_stats: {\n      min_mw: minFrp,\n      avg_mw: avgFrp,\n      max_mw: maxFrp,\n      p95_mw: p95Frp,\n      small_lt_50_count: smallFrpLt50Count,\n      extreme_gte_500_count: extremeFrpGte500Count\n    },\n    top_detections_by_frp: topDetectionsByFrp,\n    summary_en: summaryEn,\n    signals,\n    detections\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-1320],"id":"nasa-firms-parse-node","name":"NASA FIRMS Parse"},{"parameters":{"operation":"insert","collection":"raw_environment","options":{},"fields":"source,source_format,source_url_template,country,macroarea,collected_at,sensor,bbox,lookback_days,records_schema,total_detections,earliest_detection_utc,latest_detection_utc,latest_day,latest_day_count,detections_by_day,top_days_by_detection_count,confidence_counts,daynight_counts,satellite_counts,frp_stats,top_detections_by_frp,summary_en,signals,detections"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-1320],"id":"nasa-mongo-raw-environment-node","name":"NASA MongoDB raw_environment","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'NASA_FIRMS',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-1320],"id":"nasa-build-log-node","name":"NASA Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-1320],"id":"nasa-mongo-log-node","name":"NASA MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"={{ (() => { const lookbackDays = 10; const end = new Date(); const start = new Date(end); start.setDate(start.getDate() - lookbackDays); const fmt = (d) => `${String(d.getMonth() + 1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}-${d.getFullYear()}`; const startEncoded = encodeURIComponent(`'${fmt(start)}'`); const endEncoded = encodeURIComponent(`'${fmt(end)}'`); return `https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial=${startEncoded}&@dataFinalCotacao=${endEncoded}&$top=100&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao`; })() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-1720],"id":"bcb-ptax-download-node","name":"BCB PTAX Download"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst lookbackDays = 10;\nconst end = new Date();\nconst start = new Date(end);\nstart.setDate(start.getDate() - lookbackDays);\n\nfunction formatIsoDate(date) {\n  return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;\n}\n\nfunction toNumber(value, decimals = 4) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nconst responseRows = Array.isArray($json.value) ? $json.value : [];\nconst rows = responseRows\n  .map((row) => {\n    const dataHoraCotacao = String(row.dataHoraCotacao || '').trim();\n    const cotacaoCompra = toNumber(row.cotacaoCompra, 4);\n    const cotacaoVenda = toNumber(row.cotacaoVenda, 4);\n\n    return {\n      dataHoraCotacao,\n      quote_date: dataHoraCotacao ? dataHoraCotacao.slice(0, 10) : null,\n      cotacaoCompra,\n      cotacaoVenda,\n      spread: cotacaoCompra !== null && cotacaoVenda !== null ? Number((cotacaoVenda - cotacaoCompra).toFixed(4)) : null\n    };\n  })\n  .filter((row) => row.dataHoraCotacao && row.cotacaoCompra !== null && row.cotacaoVenda !== null)\n  .sort((a, b) => a.dataHoraCotacao.localeCompare(b.dataHoraCotacao));\n\nif (!rows.length) {\n  throw new Error('BCB PTAX returned no valid quotes in the selected period');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-10);\nconst sellValues = rows.map((row) => row.cotacaoVenda).filter((value) => typeof value === 'number');\nconst minSell = sellValues.length ? Number(Math.min(...sellValues).toFixed(4)) : null;\nconst maxSell = sellValues.length ? Number(Math.max(...sellValues).toFixed(4)) : null;\nconst avgSell = sellValues.length ? Number((sellValues.reduce((sum, value) => sum + value, 0) / sellValues.length).toFixed(4)) : null;\nconst rangeSell = minSell !== null && maxSell !== null ? Number((maxSell - minSell).toFixed(4)) : null;\n\nconst changeVsPrevious = previous ? Number((latest.cotacaoVenda - previous.cotacaoVenda).toFixed(4)) : null;\nconst changePctVsPrevious = previous && previous.cotacaoVenda ? Number((((latest.cotacaoVenda - previous.cotacaoVenda) / previous.cotacaoVenda) * 100).toFixed(4)) : null;\n\nlet movementLabel = 'stable';\nlet summaryEn = `Latest BCB PTAX USD/BRL fixing on ${latest.quote_date} was ${latest.cotacaoVenda.toFixed(4)} BRL sell and ${latest.cotacaoCompra.toFixed(4)} BRL buy.`;\nconst signals = [\n  `Latest PTAX sell ${latest.cotacaoVenda.toFixed(4)} BRL/USD`,\n  `Latest PTAX buy ${latest.cotacaoCompra.toFixed(4)} BRL/USD`,\n  `10-day sell range ${rangeSell !== null ? rangeSell.toFixed(4) : 'n/a'} BRL`\n];\n\nif (changeVsPrevious !== null) {\n  if (changeVsPrevious > 0) movementLabel = 'brl_weaker';\n  else if (changeVsPrevious < 0) movementLabel = 'brl_stronger';\n\n  summaryEn += ` Versus the previous fixing, the PTAX sell rate changed by ${changeVsPrevious.toFixed(4)} BRL (${changePctVsPrevious.toFixed(4)}%).`;\n  if (movementLabel === 'brl_weaker') {\n    summaryEn += ' This indicates BRL weakening against the USD versus the previous fixing.';\n    signals.push('BRL weakened versus previous PTAX fixing');\n  } else if (movementLabel === 'brl_stronger') {\n    summaryEn += ' This indicates BRL strengthening against the USD versus the previous fixing.';\n    signals.push('BRL strengthened versus previous PTAX fixing');\n  } else {\n    signals.push('PTAX unchanged versus previous fixing');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'BCB_PTAX',\n    source_format: 'odata_json',\n    source_url_template: 'https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(...)',\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    lookback_days: lookbackDays,\n    query_start_date: formatIsoDate(start),\n    query_end_date: formatIsoDate(end),\n    total_quotes: rows.length,\n    quote_date: latest.quote_date,\n    dataHoraCotacao: latest.dataHoraCotacao,\n    cotacaoCompra: latest.cotacaoCompra,\n    cotacaoVenda: latest.cotacaoVenda,\n    spread: latest.spread,\n    movement_label: movementLabel,\n    previous_quote_date: previous ? previous.quote_date : null,\n    previous_dataHoraCotacao: previous ? previous.dataHoraCotacao : null,\n    previous_cotacaoCompra: previous ? previous.cotacaoCompra : null,\n    previous_cotacaoVenda: previous ? previous.cotacaoVenda : null,\n    change_vs_previous: changeVsPrevious,\n    change_pct_vs_previous: changePctVsPrevious,\n    sell_stats_lookback: {\n      min: minSell,\n      avg: avgSell,\n      max: maxSell,\n      range: rangeSell\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-1720],"id":"bcb-ptax-parse-node","name":"BCB PTAX Parse"},{"parameters":{"operation":"insert","collection":"raw_prices","options":{},"fields":"source,source_format,source_url_template,country,macroarea,collected_at,lookback_days,query_start_date,query_end_date,total_quotes,quote_date,dataHoraCotacao,cotacaoCompra,cotacaoVenda,spread,movement_label,previous_quote_date,previous_dataHoraCotacao,previous_cotacaoCompra,previous_cotacaoVenda,change_vs_previous,change_pct_vs_previous,sell_stats_lookback,recent_series,summary_en,signals"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-1720],"id":"bcb-mongo-raw-prices-node","name":"BCB MongoDB raw_prices","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'BCB_PTAX',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-1720],"id":"bcb-build-log-node","name":"BCB Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-1720],"id":"bcb-mongo-log-node","name":"BCB MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"={{ (() => { const lookbackDays = 10; const end = new Date(); const start = new Date(end); start.setDate(start.getDate() - lookbackDays); const fmt = (d) => `${d.getFullYear()}-${String(d.getMonth() + 1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}`; return `https://data-api.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?startPeriod=${fmt(start)}&endPeriod=${fmt(end)}&detail=dataonly&format=csvdata`; })() }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-2120],"id":"ecb-download-node","name":"ECB Data Portal Download"},{"parameters":{"jsCode":"const raw = $json.data || '';\nconst now = new Date().toISOString();\nconst lookbackDays = 10;\nconst end = new Date();\nconst start = new Date(end);\nstart.setDate(start.getDate() - lookbackDays);\nconst seriesKey = 'EXR.D.BRL.EUR.SP00.A';\n\nfunction formatIsoDate(date) {\n  return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;\n}\n\nfunction parseCsvLine(line) {\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      values.push(current);\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n\n  values.push(current);\n  return values;\n}\n\nfunction toNumber(value, decimals = 6) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nconst lines = raw.split(/\\r?\\n/).filter((line) => line.trim() !== '');\nif (!lines.length) {\n  throw new Error('ECB Data Portal response is empty');\n}\n\nconst headers = parseCsvLine(lines[0]).map((header) => header.trim());\nconst timeIndex = headers.findIndex((header) => header === 'TIME_PERIOD');\nconst valueIndex = headers.findIndex((header) => header === 'OBS_VALUE');\n\nif (timeIndex === -1 || valueIndex === -1) {\n  throw new Error('Unexpected ECB CSV schema: TIME_PERIOD or OBS_VALUE missing');\n}\n\nconst rows = lines.slice(1)\n  .map((line) => {\n    const values = parseCsvLine(line);\n    const timePeriod = (values[timeIndex] ?? '').trim();\n    const obsValue = toNumber((values[valueIndex] ?? '').trim(), 6);\n\n    return {\n      quote_date: timePeriod,\n      fx_rate_brl_per_eur: obsValue\n    };\n  })\n  .filter((row) => row.quote_date && row.fx_rate_brl_per_eur !== null)\n  .sort((a, b) => a.quote_date.localeCompare(b.quote_date));\n\nif (!rows.length) {\n  throw new Error('ECB Data Portal returned no valid FX observations in the selected period');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-10);\nconst fxValues = rows.map((row) => row.fx_rate_brl_per_eur).filter((value) => typeof value === 'number');\nconst minFx = fxValues.length ? Number(Math.min(...fxValues).toFixed(6)) : null;\nconst maxFx = fxValues.length ? Number(Math.max(...fxValues).toFixed(6)) : null;\nconst avgFx = fxValues.length ? Number((fxValues.reduce((sum, value) => sum + value, 0) / fxValues.length).toFixed(6)) : null;\nconst rangeFx = minFx !== null && maxFx !== null ? Number((maxFx - minFx).toFixed(6)) : null;\n\nconst changeVsPrevious = previous ? Number((latest.fx_rate_brl_per_eur - previous.fx_rate_brl_per_eur).toFixed(6)) : null;\nconst changePctVsPrevious = previous && previous.fx_rate_brl_per_eur ? Number((((latest.fx_rate_brl_per_eur - previous.fx_rate_brl_per_eur) / previous.fx_rate_brl_per_eur) * 100).toFixed(6)) : null;\n\nlet movementLabel = 'stable';\nlet summaryEn = `Latest ECB EUR/BRL reference rate on ${latest.quote_date} was ${latest.fx_rate_brl_per_eur.toFixed(6)} BRL per EUR.`;\nconst signals = [\n  `Latest ECB EUR/BRL ${latest.fx_rate_brl_per_eur.toFixed(6)}`,\n  `${lookbackDays}-day EUR/BRL range ${rangeFx !== null ? rangeFx.toFixed(6) : 'n/a'}`,\n  `Series key ${seriesKey}`\n];\n\nif (changeVsPrevious !== null) {\n  if (changeVsPrevious > 0) movementLabel = 'brl_weaker_vs_eur';\n  else if (changeVsPrevious < 0) movementLabel = 'brl_stronger_vs_eur';\n\n  summaryEn += ` Versus the previous observation, the rate changed by ${changeVsPrevious.toFixed(6)} (${changePctVsPrevious.toFixed(6)}%).`;\n  if (movementLabel === 'brl_weaker_vs_eur') {\n    summaryEn += ' This indicates BRL weakening against EUR versus the previous ECB reference rate.';\n    signals.push('BRL weakened versus EUR compared with previous ECB fixing');\n  } else if (movementLabel === 'brl_stronger_vs_eur') {\n    summaryEn += ' This indicates BRL strengthening against EUR versus the previous ECB reference rate.';\n    signals.push('BRL strengthened versus EUR compared with previous ECB fixing');\n  } else {\n    signals.push('ECB EUR/BRL unchanged versus previous fixing');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'ECB_DATA_PORTAL',\n    source_format: 'sdmx_csvdata',\n    source_url_template: 'https://data-api.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?...',\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    dataset: 'EXR',\n    series_key: seriesKey,\n    base_currency: 'EUR',\n    quote_currency: 'BRL',\n    lookback_days: lookbackDays,\n    query_start_date: formatIsoDate(start),\n    query_end_date: formatIsoDate(end),\n    total_quotes: rows.length,\n    quote_date: latest.quote_date,\n    fx_rate_brl_per_eur: latest.fx_rate_brl_per_eur,\n    movement_label: movementLabel,\n    previous_quote_date: previous ? previous.quote_date : null,\n    previous_fx_rate_brl_per_eur: previous ? previous.fx_rate_brl_per_eur : null,\n    change_vs_previous: changeVsPrevious,\n    change_pct_vs_previous: changePctVsPrevious,\n    fx_stats_lookback: {\n      min: minFx,\n      avg: avgFx,\n      max: maxFx,\n      range: rangeFx\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-2120],"id":"ecb-parse-node","name":"ECB Data Portal Parse"},{"parameters":{"operation":"insert","collection":"raw_prices","options":{},"fields":"source,source_format,source_url_template,country,macroarea,collected_at,dataset,series_key,base_currency,quote_currency,lookback_days,query_start_date,query_end_date,total_quotes,quote_date,fx_rate_brl_per_eur,movement_label,previous_quote_date,previous_fx_rate_brl_per_eur,change_vs_previous,change_pct_vs_previous,fx_stats_lookback,recent_series,summary_en,signals"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-2120],"id":"ecb-mongo-raw-prices-node","name":"ECB MongoDB raw_prices","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'ECB_DATA_PORTAL',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-2120],"id":"ecb-build-log-node","name":"ECB Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-2120],"id":"ecb-mongo-log-node","name":"ECB MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"https://thedocs.worldbank.org/en/doc/74e8be41ceb20fa0da750cda2f6b9e4e-0050012026/related/CMO-Historical-Data-Monthly.xlsx","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1840,-2520],"id":"wb-pink-sheet-download-node","name":"World Bank Pink Sheet Download"},{"parameters":{"operation":"xlsx","binaryPropertyName":"data","options":{"sheetName":"Monthly Prices","range":"A5:N5000","includeEmptyCells":true,"headerRow":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1600,-2520],"id":"wb-pink-sheet-extract-node","name":"World Bank Pink Sheet Extract"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst lookbackMonths = 12;\nconst sourceFileUrl = 'https://thedocs.worldbank.org/en/doc/74e8be41ceb20fa0da750cda2f6b9e4e-0050012026/related/CMO-Historical-Data-Monthly.xlsx';\nconst extractedRows = $input.all()\n  .map((item) => Array.isArray(item.json.row) ? item.json.row : [])\n  .filter((row) => row.length);\n\nif (extractedRows.length < 4) {\n  throw new Error('World Bank Pink Sheet extract returned too few rows');\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').trim();\n}\n\nfunction normalizeNumber(value, decimals = 4) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'number') {\n    if (!Number.isFinite(value)) return null;\n    return Number(value.toFixed(decimals));\n  }\n\n  const text = normalizeText(value);\n  if (!text || text === '...' || text === '…') return null;\n\n  const numeric = Number(text.replace(/,/g, ''));\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nfunction parsePeriod(periodRaw) {\n  const match = /^(\\d{4})M(\\d{2})$/.exec(periodRaw);\n  if (!match) return null;\n  return {\n    period_raw: periodRaw,\n    report_month: `${match[1]}-${match[2]}`,\n    report_date: `${match[1]}-${match[2]}-01`\n  };\n}\n\nfunction buildStats(values, decimals = 4) {\n  if (!values.length) return null;\n  const min = Math.min(...values);\n  const max = Math.max(...values);\n  const avg = values.reduce((sum, value) => sum + value, 0) / values.length;\n  return {\n    min: Number(min.toFixed(decimals)),\n    avg: Number(avg.toFixed(decimals)),\n    max: Number(max.toFixed(decimals)),\n    range: Number((max - min).toFixed(decimals))\n  };\n}\n\nconst headerRow = extractedRows[0].map(normalizeText);\nconst unitsRow = extractedRows[1].map(normalizeText);\nconst arabicaIndex = headerRow.findIndex((value) => value === 'Coffee, Arabica');\nconst robustaIndex = headerRow.findIndex((value) => value === 'Coffee, Robusta');\n\nif (arabicaIndex === -1 || robustaIndex === -1) {\n  throw new Error('World Bank Pink Sheet columns Coffee, Arabica / Coffee, Robusta not found');\n}\n\nconst arabicaUnit = unitsRow[arabicaIndex] || null;\nconst robustaUnit = unitsRow[robustaIndex] || null;\n\nconst rows = extractedRows\n  .slice(2)\n  .map((row) => {\n    const periodInfo = parsePeriod(normalizeText(row[0]));\n    if (!periodInfo) return null;\n\n    const arabica = normalizeNumber(row[arabicaIndex], 4);\n    const robusta = normalizeNumber(row[robustaIndex], 4);\n    if (arabica === null || robusta === null) return null;\n\n    return {\n      ...periodInfo,\n      coffee_arabica_price: arabica,\n      coffee_robusta_price: robusta,\n      arabica_robusta_spread: Number((arabica - robusta).toFixed(4))\n    };\n  })\n  .filter((row) => row !== null)\n  .sort((a, b) => a.period_raw.localeCompare(b.period_raw));\n\nif (!rows.length) {\n  throw new Error('World Bank Pink Sheet returned no valid coffee observations');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-lookbackMonths);\nconst arabicaStats = buildStats(recentSeries.map((row) => row.coffee_arabica_price));\nconst robustaStats = buildStats(recentSeries.map((row) => row.coffee_robusta_price));\nconst spreadStats = buildStats(recentSeries.map((row) => row.arabica_robusta_spread));\n\nconst changeMomArabica = previous ? Number((latest.coffee_arabica_price - previous.coffee_arabica_price).toFixed(4)) : null;\nconst changePctMomArabica = previous && previous.coffee_arabica_price ? Number((((latest.coffee_arabica_price - previous.coffee_arabica_price) / previous.coffee_arabica_price) * 100).toFixed(4)) : null;\nconst changeMomRobusta = previous ? Number((latest.coffee_robusta_price - previous.coffee_robusta_price).toFixed(4)) : null;\nconst changePctMomRobusta = previous && previous.coffee_robusta_price ? Number((((latest.coffee_robusta_price - previous.coffee_robusta_price) / previous.coffee_robusta_price) * 100).toFixed(4)) : null;\nconst changeMomSpread = previous ? Number((latest.arabica_robusta_spread - previous.arabica_robusta_spread).toFixed(4)) : null;\n\nlet movementLabel = 'mixed';\nif (changeMomArabica === 0 && changeMomRobusta === 0) movementLabel = 'stable';\nelse if ((changeMomArabica ?? 0) > 0 && (changeMomRobusta ?? 0) > 0) movementLabel = 'coffee_benchmarks_up';\nelse if ((changeMomArabica ?? 0) < 0 && (changeMomRobusta ?? 0) < 0) movementLabel = 'coffee_benchmarks_down';\n\nlet summaryEn = `Latest World Bank Pink Sheet monthly observation for ${latest.report_month} shows Arabica at ${latest.coffee_arabica_price.toFixed(4)} USD/kg and Robusta at ${latest.coffee_robusta_price.toFixed(4)} USD/kg.`;\nconst signals = [\n  `Latest Arabica ${latest.coffee_arabica_price.toFixed(4)} USD/kg`,\n  `Latest Robusta ${latest.coffee_robusta_price.toFixed(4)} USD/kg`,\n  `Latest Arabica-Robusta spread ${latest.arabica_robusta_spread.toFixed(4)} USD/kg`,\n  `${lookbackMonths}-month Arabica range ${arabicaStats ? arabicaStats.range.toFixed(4) : 'n/a'} USD/kg`,\n  `${lookbackMonths}-month Robusta range ${robustaStats ? robustaStats.range.toFixed(4) : 'n/a'} USD/kg`\n];\n\nif (previous) {\n  summaryEn += ` Versus ${previous.report_month}, Arabica changed by ${changeMomArabica.toFixed(4)} USD/kg (${changePctMomArabica.toFixed(4)}%) and Robusta changed by ${changeMomRobusta.toFixed(4)} USD/kg (${changePctMomRobusta.toFixed(4)}%).`;\n\n  if (movementLabel === 'coffee_benchmarks_up') {\n    summaryEn += ' Both coffee benchmarks moved up month over month.';\n    signals.push('Arabica and Robusta both increased month over month');\n  } else if (movementLabel === 'coffee_benchmarks_down') {\n    summaryEn += ' Both coffee benchmarks moved down month over month.';\n    signals.push('Arabica and Robusta both decreased month over month');\n  } else if (movementLabel === 'stable') {\n    signals.push('Arabica and Robusta unchanged month over month');\n  } else {\n    summaryEn += ' Arabica and Robusta moved in different directions month over month.';\n    signals.push('Arabica and Robusta moved in different directions month over month');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'WB_PINK_SHEET',\n    source_format: 'xlsx',\n    source_file_url: sourceFileUrl,\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    dataset: 'CMO_HISTORICAL_DATA_MONTHLY',\n    sheet_name: 'Monthly Prices',\n    price_unit: arabicaUnit === robustaUnit ? arabicaUnit : null,\n    arabica_unit: arabicaUnit,\n    robusta_unit: robustaUnit,\n    lookback_months: lookbackMonths,\n    total_observations: rows.length,\n    report_period: latest.period_raw,\n    report_month: latest.report_month,\n    report_date: latest.report_date,\n    coffee_arabica_price: latest.coffee_arabica_price,\n    coffee_robusta_price: latest.coffee_robusta_price,\n    arabica_robusta_spread: latest.arabica_robusta_spread,\n    movement_label: movementLabel,\n    previous_report_period: previous ? previous.period_raw : null,\n    previous_report_month: previous ? previous.report_month : null,\n    previous_report_date: previous ? previous.report_date : null,\n    previous_coffee_arabica_price: previous ? previous.coffee_arabica_price : null,\n    previous_coffee_robusta_price: previous ? previous.coffee_robusta_price : null,\n    previous_arabica_robusta_spread: previous ? previous.arabica_robusta_spread : null,\n    change_mom_arabica: changeMomArabica,\n    change_pct_mom_arabica: changePctMomArabica,\n    change_mom_robusta: changeMomRobusta,\n    change_pct_mom_robusta: changePctMomRobusta,\n    change_mom_spread: changeMomSpread,\n    coffee_price_stats_lookback: {\n      arabica: arabicaStats,\n      robusta: robustaStats,\n      spread: spreadStats\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-2520],"id":"wb-pink-sheet-parse-node","name":"World Bank Pink Sheet Parse"},{"parameters":{"operation":"insert","collection":"raw_prices","options":{},"fields":"source,source_format,source_file_url,country,macroarea,collected_at,dataset,sheet_name,price_unit,arabica_unit,robusta_unit,lookback_months,total_observations,report_period,report_month,report_date,coffee_arabica_price,coffee_robusta_price,arabica_robusta_spread,movement_label,previous_report_period,previous_report_month,previous_report_date,previous_coffee_arabica_price,previous_coffee_robusta_price,previous_arabica_robusta_spread,change_mom_arabica,change_pct_mom_arabica,change_mom_robusta,change_pct_mom_robusta,change_mom_spread,coffee_price_stats_lookback,recent_series,summary_en,signals"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-2520],"id":"wb-mongo-raw-prices-node","name":"World Bank MongoDB raw_prices","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'WB_PINK_SHEET',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-2520],"id":"wb-build-log-node","name":"World Bank Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-2520],"id":"wb-mongo-log-node","name":"World Bank MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const currentYear = new Date().getFullYear();\nconst lookbackYears = 12;\nconst startYear = currentYear - lookbackYears + 1;\nreturn Array.from({ length: lookbackYears }, (_, index) => ({\n  json: {\n    market_year: startYear + index\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,-2920],"id":"usda-build-year-list-node","name":"USDA Build Year List"},{"parameters":{"url":"=https://api.fas.usda.gov/api/psd/commodity/0711100/country/BR/year/{{$json.market_year}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-Api-Key","value":"={{ $env.USDA_API_KEY }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-2920],"id":"usda-fetch-year-data-node","name":"USDA Fetch Year Data"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst currentYear = new Date().getFullYear();\nconst lookbackYears = 12;\nconst startYear = currentYear - lookbackYears + 1;\nconst BAG_TO_MT = 60 / 1000000;\nconst ATTRIBUTE_MAP = {\n  20: 'Beginning Stocks',\n  28: 'Production',\n  29: 'Arabica Production',\n  53: 'Robusta Production',\n  56: 'Other Production',\n  57: 'Imports',\n  58: 'Bean Imports',\n  75: 'Roast & Ground Imports',\n  82: 'Soluble Imports',\n  86: 'Total Supply',\n  88: 'Exports',\n  90: 'Bean Exports',\n  107: 'Roast & Ground Exports',\n  114: 'Soluble Exports',\n  125: 'Domestic Consumption',\n  141: 'Rst,Ground Dom. Consum',\n  154: 'Soluble Dom. Cons.',\n  176: 'Ending Stocks',\n  178: 'Total Distribution'\n};\n\nfunction round(value, decimals = 4) {\n  if (value === null || value === undefined || Number.isNaN(value)) return null;\n  return Number(Number(value).toFixed(decimals));\n}\n\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  return Number.isNaN(numeric) ? null : numeric;\n}\n\nfunction safeDivide(numerator, denominator, decimals = 4) {\n  if (numerator === null || denominator === null || denominator === 0) return null;\n  return round(numerator / denominator, decimals);\n}\n\nfunction pctChange(current, previous, decimals = 4) {\n  if (current === null || previous === null || previous === 0) return null;\n  return round(((current - previous) / previous) * 100, decimals);\n}\n\nfunction ppChange(current, previous, decimals = 4) {\n  if (current === null || previous === null) return null;\n  return round(current - previous, decimals);\n}\n\nfunction marketYearLabel(year) {\n  return `${year}/${String((year + 1) % 100).padStart(2, '0')}`;\n}\n\nfunction formatMetric(value, decimals = 4) {\n  return value === null ? 'n/a' : value.toFixed(decimals);\n}\n\nfunction buildYearRecord(yearEntry) {\n  const attributesMt = yearEntry.attributes_mt;\n  const attributesRaw = yearEntry.attributes_raw;\n\n  const productionTotalMt = attributesMt['Production'] ?? null;\n  const arabicaProductionMt = attributesMt['Arabica Production'] ?? null;\n  const robustaProductionMt = attributesMt['Robusta Production'] ?? null;\n  const otherProductionMt = attributesMt['Other Production'] ?? null;\n  const exportsTotalMt = attributesMt['Exports'] ?? null;\n  const beanExportsMt = attributesMt['Bean Exports'] ?? null;\n  const roastGroundExportsMt = attributesMt['Roast & Ground Exports'] ?? null;\n  const solubleExportsMt = attributesMt['Soluble Exports'] ?? null;\n  const domesticConsumptionMt = attributesMt['Domestic Consumption'] ?? null;\n  const consRoastGroundMt = attributesMt['Rst,Ground Dom. Consum'] ?? null;\n  const consSolubleMt = attributesMt['Soluble Dom. Cons.'] ?? null;\n  const beginningStocksMt = attributesMt['Beginning Stocks'] ?? null;\n  const endingStocksMt = attributesMt['Ending Stocks'] ?? null;\n\n  const arabicaSharePct = safeDivide(arabicaProductionMt, productionTotalMt, 6);\n  const robustaSharePct = safeDivide(robustaProductionMt, productionTotalMt, 6);\n  const valueAddedExportsMt = (roastGroundExportsMt ?? 0) + (solubleExportsMt ?? 0);\n  const valueAddedExportsSharePct = exportsTotalMt !== null && exportsTotalMt !== 0\n    ? round((valueAddedExportsMt / exportsTotalMt) * 100, 4)\n    : null;\n  const apparentTotalUseMt = exportsTotalMt !== null && domesticConsumptionMt !== null\n    ? round(exportsTotalMt + domesticConsumptionMt, 4)\n    : null;\n  const exportToProductionRatio = safeDivide(exportsTotalMt, productionTotalMt, 6);\n  const stockToUseRatio = safeDivide(endingStocksMt, apparentTotalUseMt, 6);\n  const stockBalanceMt = beginningStocksMt !== null && endingStocksMt !== null\n    ? round(endingStocksMt - beginningStocksMt, 4)\n    : null;\n\n  return {\n    market_year: yearEntry.market_year,\n    market_year_label: marketYearLabel(yearEntry.market_year),\n    calendar_year: yearEntry.calendar_year,\n    release_month: yearEntry.release_month,\n    release_month_padded: String(yearEntry.release_month).padStart(2, '0'),\n    production_total_mt: productionTotalMt,\n    arabica_production_mt: arabicaProductionMt,\n    robusta_production_mt: robustaProductionMt,\n    other_production_mt: otherProductionMt,\n    exports_total_mt: exportsTotalMt,\n    bean_exports_mt: beanExportsMt,\n    roast_ground_exports_mt: roastGroundExportsMt,\n    soluble_exports_mt: solubleExportsMt,\n    domestic_consumption_mt: domesticConsumptionMt,\n    cons_roast_ground_mt: consRoastGroundMt,\n    cons_soluble_mt: consSolubleMt,\n    beginning_stocks_mt: beginningStocksMt,\n    ending_stocks_mt: endingStocksMt,\n    arabica_share_pct: arabicaSharePct !== null ? round(arabicaSharePct * 100, 4) : null,\n    robusta_share_pct: robustaSharePct !== null ? round(robustaSharePct * 100, 4) : null,\n    value_added_exports_share_pct: valueAddedExportsSharePct,\n    apparent_total_use_mt: apparentTotalUseMt,\n    export_to_production_ratio: exportToProductionRatio,\n    stock_to_use_ratio: stockToUseRatio,\n    stock_balance_mt: stockBalanceMt,\n    raw_attributes_1000_60kg_bags: attributesRaw\n  };\n}\n\nconst rawRows = [];\nfor (const item of $input.all()) {\n  if (Array.isArray(item.json)) {\n    rawRows.push(...item.json);\n  } else if (Array.isArray(item.json.data)) {\n    rawRows.push(...item.json.data);\n  } else if (Array.isArray(item.json.body)) {\n    rawRows.push(...item.json.body);\n  } else if (item.json && typeof item.json === 'object' && Object.prototype.hasOwnProperty.call(item.json, 'attributeId')) {\n    rawRows.push(item.json);\n  }\n}\n\nconst normalizedRows = rawRows\n  .map((row) => {\n    const attributeId = toNumber(row.attributeId);\n    const marketYear = toNumber(row.marketYear);\n    const calendarYear = toNumber(row.calendarYear);\n    const month = toNumber(row.month);\n    const rawValue = toNumber(row.value);\n\n    if (attributeId === null || marketYear === null || month === null || rawValue === null) return null;\n\n    return {\n      attribute_id: attributeId,\n      attribute_name: ATTRIBUTE_MAP[attributeId] || `attribute_${attributeId}`,\n      market_year: marketYear,\n      calendar_year: calendarYear,\n      month,\n      raw_value_1000_60kg_bags: round(rawValue, 4),\n      value_mt: round(rawValue * BAG_TO_MT, 4)\n    };\n  })\n  .filter((row) => row !== null)\n  .sort((a, b) => {\n    if (a.market_year !== b.market_year) return a.market_year - b.market_year;\n    if (a.attribute_id !== b.attribute_id) return a.attribute_id - b.attribute_id;\n    return a.month - b.month;\n  });\n\nif (!normalizedRows.length) {\n  throw new Error('USDA FAS PSD returned no valid rows for the requested market years');\n}\n\nconst yearMap = new Map();\nfor (const row of normalizedRows) {\n  const yearEntry = yearMap.get(row.market_year) || {\n    market_year: row.market_year,\n    calendar_year: row.calendar_year,\n    release_month: row.month,\n    attributes_raw: {},\n    attributes_mt: {}\n  };\n\n  yearEntry.calendar_year = row.calendar_year;\n  yearEntry.release_month = Math.max(yearEntry.release_month || 0, row.month);\n  yearEntry.attributes_raw[row.attribute_name] = row.raw_value_1000_60kg_bags;\n  yearEntry.attributes_mt[row.attribute_name] = row.value_mt;\n  yearMap.set(row.market_year, yearEntry);\n}\n\nconst yearRecords = Array.from(yearMap.values())\n  .map(buildYearRecord)\n  .filter((row) => row.production_total_mt !== null)\n  .sort((a, b) => a.market_year - b.market_year);\n\nif (!yearRecords.length) {\n  throw new Error('USDA FAS PSD produced no market-year records with production data');\n}\n\nconst latest = { ...yearRecords[yearRecords.length - 1] };\nconst previous = yearRecords.length > 1 ? { ...yearRecords[yearRecords.length - 2] } : null;\n\nconst productionYoYPct = previous ? pctChange(latest.production_total_mt, previous.production_total_mt) : null;\nconst exportsYoYPct = previous ? pctChange(latest.exports_total_mt, previous.exports_total_mt) : null;\nconst domesticConsumptionYoYPct = previous ? pctChange(latest.domestic_consumption_mt, previous.domestic_consumption_mt) : null;\nconst endingStocksYoYPct = previous ? pctChange(latest.ending_stocks_mt, previous.ending_stocks_mt) : null;\nconst arabicaShareChangePp = previous ? ppChange(latest.arabica_share_pct, previous.arabica_share_pct) : null;\nconst robustaShareChangePp = previous ? ppChange(latest.robusta_share_pct, previous.robusta_share_pct) : null;\n\nconst signals = [];\nif (productionYoYPct !== null && productionYoYPct >= 5) signals.push('production_up');\nif (productionYoYPct !== null && productionYoYPct <= -5) signals.push('production_down');\nif (productionYoYPct !== null && productionYoYPct <= -10) signals.push('production_down_sharp');\nif (previous && latest.arabica_production_mt !== null && previous.arabica_production_mt !== null && pctChange(latest.arabica_production_mt, previous.arabica_production_mt) <= -5) signals.push('arabica_down');\nif (robustaShareChangePp !== null && robustaShareChangePp >= 2) signals.push('robusta_share_rising');\nif (robustaShareChangePp !== null && robustaShareChangePp <= -2) signals.push('robusta_share_falling');\nif (exportsYoYPct !== null && exportsYoYPct >= 5) signals.push('exports_accelerating');\nif (latest.export_to_production_ratio !== null && latest.export_to_production_ratio >= 0.70) signals.push('exports_pressure_high');\nif (domesticConsumptionYoYPct !== null && domesticConsumptionYoYPct >= 3) signals.push('domestic_absorption_rising');\nif (endingStocksYoYPct !== null && endingStocksYoYPct <= -10) signals.push('ending_stocks_drawdown');\nif (endingStocksYoYPct !== null && endingStocksYoYPct >= 10) signals.push('ending_stocks_build');\nif (latest.stock_to_use_ratio !== null && latest.stock_to_use_ratio <= 0.15) signals.push('stock_buffer_tight');\nif (latest.stock_to_use_ratio !== null && latest.stock_to_use_ratio >= 0.25) signals.push('stock_buffer_healthy');\nif (productionYoYPct !== null && exportsYoYPct !== null && endingStocksYoYPct !== null && productionYoYPct <= 0 && exportsYoYPct > 0 && endingStocksYoYPct < 0) signals.push('balance_tightening');\n\nconst tighteningScore = [\n  productionYoYPct !== null && productionYoYPct <= -5,\n  endingStocksYoYPct !== null && endingStocksYoYPct <= -10,\n  latest.stock_to_use_ratio !== null && latest.stock_to_use_ratio <= 0.15,\n  latest.export_to_production_ratio !== null && latest.export_to_production_ratio >= 0.70\n].filter(Boolean).length;\n\nconst expansionScore = [\n  productionYoYPct !== null && productionYoYPct >= 5,\n  endingStocksYoYPct !== null && endingStocksYoYPct >= 10,\n  latest.stock_to_use_ratio !== null && latest.stock_to_use_ratio >= 0.25\n].filter(Boolean).length;\n\nlet movementLabel = 'mixed';\nif (tighteningScore >= 2) movementLabel = 'supply_tightening';\nelse if (expansionScore >= 2) movementLabel = 'supply_expanding';\n\nlet summaryEn = `Latest USDA PSD Brazil coffee snapshot for market year ${latest.market_year_label} reports ${formatMetric(latest.production_total_mt)} million metric tons of production, ${formatMetric(latest.exports_total_mt)} million metric tons of exports, and ${formatMetric(latest.ending_stocks_mt)} million metric tons of ending stocks.`;\nif (previous) {\n  summaryEn += ` Versus ${previous.market_year_label}, production changed by ${formatMetric(productionYoYPct, 4)}%, exports by ${formatMetric(exportsYoYPct, 4)}%, and ending stocks by ${formatMetric(endingStocksYoYPct, 4)}%.`;\n}\nif (movementLabel === 'supply_tightening') summaryEn += ' The balance points to tighter supply conditions.';\nif (movementLabel === 'supply_expanding') summaryEn += ' The balance points to looser supply conditions.';\nif (movementLabel === 'mixed') summaryEn += ' Signals are mixed across supply, exports, and stocks.';\n\nconst recentSeries = yearRecords.slice(-10).map((row) => ({\n  market_year: row.market_year,\n  market_year_label: row.market_year_label,\n  release_month: row.release_month,\n  production_total_mt: row.production_total_mt,\n  arabica_production_mt: row.arabica_production_mt,\n  robusta_production_mt: row.robusta_production_mt,\n  exports_total_mt: row.exports_total_mt,\n  domestic_consumption_mt: row.domestic_consumption_mt,\n  ending_stocks_mt: row.ending_stocks_mt,\n  stock_to_use_ratio: row.stock_to_use_ratio\n}));\n\nreturn [{\n  json: {\n    source: 'USDA_FAS_PSD',\n    source_format: 'json_api',\n    source_url_template: 'https://api.fas.usda.gov/api/psd/commodity/0711100/country/BR/year/{marketYear}',\n    country: 'BR',\n    macroarea: 'crops',\n    commodity_code: '0711100',\n    commodity_name: 'Coffee, Green',\n    marketing_year_basis: 'July-June',\n    collected_at: now,\n    dataset: 'PSD',\n    lookback_years_requested: lookbackYears,\n    requested_years: Array.from({ length: lookbackYears }, (_, index) => startYear + index),\n    total_records_fetched: normalizedRows.length,\n    market_year: latest.market_year,\n    market_year_label: latest.market_year_label,\n    calendar_year: latest.calendar_year,\n    release_month: latest.release_month,\n    units: {\n      raw: '1000_60kg_bags',\n      normalized: 'million_metric_tons'\n    },\n    latest: {\n      production_total_mt: latest.production_total_mt,\n      arabica_production_mt: latest.arabica_production_mt,\n      robusta_production_mt: latest.robusta_production_mt,\n      other_production_mt: latest.other_production_mt,\n      exports_total_mt: latest.exports_total_mt,\n      bean_exports_mt: latest.bean_exports_mt,\n      roast_ground_exports_mt: latest.roast_ground_exports_mt,\n      soluble_exports_mt: latest.soluble_exports_mt,\n      domestic_consumption_mt: latest.domestic_consumption_mt,\n      cons_roast_ground_mt: latest.cons_roast_ground_mt,\n      cons_soluble_mt: latest.cons_soluble_mt,\n      beginning_stocks_mt: latest.beginning_stocks_mt,\n      ending_stocks_mt: latest.ending_stocks_mt\n    },\n    previous: previous ? {\n      market_year: previous.market_year,\n      market_year_label: previous.market_year_label,\n      release_month: previous.release_month,\n      production_total_mt: previous.production_total_mt,\n      exports_total_mt: previous.exports_total_mt,\n      domestic_consumption_mt: previous.domestic_consumption_mt,\n      ending_stocks_mt: previous.ending_stocks_mt\n    } : null,\n    derived_metrics: {\n      arabica_share_pct: latest.arabica_share_pct,\n      robusta_share_pct: latest.robusta_share_pct,\n      value_added_exports_share_pct: latest.value_added_exports_share_pct,\n      apparent_total_use_mt: latest.apparent_total_use_mt,\n      export_to_production_ratio: latest.export_to_production_ratio,\n      stock_to_use_ratio: latest.stock_to_use_ratio,\n      stock_balance_mt: latest.stock_balance_mt,\n      production_yoy_pct: productionYoYPct,\n      exports_yoy_pct: exportsYoYPct,\n      domestic_consumption_yoy_pct: domesticConsumptionYoYPct,\n      ending_stocks_yoy_pct: endingStocksYoYPct,\n      arabica_share_change_pp: arabicaShareChangePp,\n      robusta_share_change_pp: robustaShareChangePp\n    },\n    movement_label: movementLabel,\n    signals: Array.from(new Set(signals)),\n    summary_en: summaryEn,\n    recent_series: recentSeries,\n    raw_latest_attributes: latest.raw_attributes_1000_60kg_bags\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-2920],"id":"usda-parse-node","name":"USDA Parse PSD"},{"parameters":{"operation":"insert","collection":"raw_crops","options":{},"fields":"source,source_format,source_url_template,country,macroarea,commodity_code,commodity_name,marketing_year_basis,collected_at,dataset,lookback_years_requested,requested_years,total_records_fetched,market_year,market_year_label,calendar_year,release_month,units,latest,previous,derived_metrics,movement_label,signals,summary_en,recent_series,raw_latest_attributes"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-3040],"id":"usda-mongo-raw-crops-node","name":"USDA MongoDB raw_crops","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'USDA_FAS_PSD',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-3040],"id":"usda-build-log-node","name":"USDA Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-160,-3040],"id":"usda-mongo-log-node","name":"USDA MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify({ source: $json.source, market_year_label: $json.market_year_label, latest: $json.latest, previous: $json.previous, derived_metrics: $json.derived_metrics, recent_series: $json.recent_series, rule_based_signals: $json.signals, rule_based_movement_label: $json.movement_label, fallback_summary_en: $json.summary_en }, null, 2) }}","messages":{"messageValues":[{"message":"You are interpreting structured USDA PSD data for a Lavazza intelligence system monitoring Brazilian coffee supply. Use only the provided metrics and return only valid JSON.\n\nOutput format:\n{\n  \"movement_label\": \"supply_tightening|supply_expanding|mixed\",\n  \"risk_level\": \"low|medium|high\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 6 short strings about production, exports, stocks, species mix, or balance pressure\n- keep the interpretation numerically consistent with the input\n- movement_label must describe the national supply balance\n- risk_level reflects downside risk to Brazilian coffee supply/export balance\n- summary_en must be 1-2 English sentences\n- return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1120,-3040],"id":"usda-ai-signals-chain-node","name":"USDA AI Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1120,-2840],"id":"usda-openai-signals-node","name":"USDA OpenAI Signals Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const raw = ($json.text || '').trim();\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('USDA Parse PSD').item.json;\n\nreturn [{\n  json: {\n    ...base,\n    rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n    rule_based_movement_label: base.movement_label || 'mixed',\n    fallback_summary_en: base.summary_en || '',\n    movement_label: parsed.movement_label || base.movement_label || 'mixed',\n    risk_level: parsed.risk_level || 'medium',\n    signals: Array.isArray(parsed.signals) ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n    summary_en: parsed.summary_en || base.summary_en || ''\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-3040],"id":"usda-parse-signals-node","name":"USDA Parse Signals"},{"parameters":{"url":"https://apisidra.ibge.gov.br/values/t/6588/n1/1/n3/11,29,31,32/v/35,36,109,216/p/last%2012/c48/39454,39455/f/a?formato=json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-3320],"id":"ibge-sidra-download-node","name":"IBGE SIDRA Download"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst SOURCE_URL = 'https://apisidra.ibge.gov.br/values/t/6588/n1/1/n3/11,29,31,32/v/35,36,109,216/p/last%2012/c48/39454,39455/f/a?formato=json';\nconst PRODUCT_MAP = {\n  '39454': { key: 'arabica', name: 'Cafe arabica' },\n  '39455': { key: 'canephora', name: 'Cafe canephora' }\n};\nconst VARIABLE_MAP = {\n  '35': { key: 'production_tons', name: 'Produção' },\n  '36': { key: 'yield_kg_per_ha', name: 'Rendimento médio' },\n  '109': { key: 'planted_area_ha', name: 'Área plantada' },\n  '216': { key: 'harvested_area_ha', name: 'Área colhida' }\n};\nconst GEO_META = {\n  '1': { code: '1', name: 'Brasil', level: 'BR' },\n  '31': { code: '31', name: 'Minas Gerais', level: 'UF' },\n  '32': { code: '32', name: 'Espírito Santo', level: 'UF' },\n  '29': { code: '29', name: 'Bahia', level: 'UF' },\n  '11': { code: '11', name: 'Rondônia', level: 'UF' }\n};\nconst STATE_CODES = ['31', '32', '29', '11'];\n\nfunction round(value, decimals = 4) {\n  if (value === null || value === undefined || Number.isNaN(value)) return null;\n  return Number(Number(value).toFixed(decimals));\n}\n\nfunction parseValue(value) {\n  if (value === null || value === undefined || value === '') return null;\n  const normalized = String(value).trim();\n  if (normalized === '-' || normalized === '0') return 0;\n  if (normalized === '..' || normalized === '...' || normalized === 'X') return null;\n  if (/^[A-WY-Z]$/i.test(normalized)) return null;\n  const numeric = Number(normalized.replace(/\\./g, '').replace(',', '.'));\n  return Number.isNaN(numeric) ? null : numeric;\n}\n\nfunction safeDivide(numerator, denominator, decimals = 6) {\n  if (numerator === null || denominator === null || denominator === 0) return null;\n  return round(numerator / denominator, decimals);\n}\n\nfunction pctChange(current, previous, decimals = 4) {\n  if (current === null || previous === null || previous === 0) return null;\n  return round(((current - previous) / previous) * 100, decimals);\n}\n\nconst rawRows = [];\nfor (const item of $input.all()) {\n  if (Array.isArray(item.json)) rawRows.push(...item.json);\n  else if (Array.isArray(item.json.body)) rawRows.push(...item.json.body);\n  else if (item.json && typeof item.json === 'object' && Object.prototype.hasOwnProperty.call(item.json, 'V')) rawRows.push(item.json);\n}\n\nconst rows = rawRows\n  .filter((row) => row && row.V !== 'Valor' && PRODUCT_MAP[row.D4C] && VARIABLE_MAP[row.D2C] && GEO_META[row.D1C])\n  .map((row) => ({\n    geo_code: row.D1C,\n    geo_name: GEO_META[row.D1C].name,\n    geo_level: GEO_META[row.D1C].level,\n    variable_code: row.D2C,\n    variable_key: VARIABLE_MAP[row.D2C].key,\n    variable_name: VARIABLE_MAP[row.D2C].name,\n    period_code: row.D3C,\n    period_label: row.D3N,\n    product_code: row.D4C,\n    product_key: PRODUCT_MAP[row.D4C].key,\n    product_name: PRODUCT_MAP[row.D4C].name,\n    unit_name: row.MN,\n    value: parseValue(row.V)\n  }));\n\nif (!rows.length) {\n  throw new Error('IBGE SIDRA returned no valid rows for the requested coffee query');\n}\n\nconst periodLabels = {};\nconst index = new Map();\nfor (const row of rows) {\n  periodLabels[row.period_code] = row.period_label;\n  const key = `${row.period_code}|${row.geo_code}|${row.product_code}`;\n  const current = index.get(key) || {\n    period_code: row.period_code,\n    period_label: row.period_label,\n    geo_code: row.geo_code,\n    geo_name: row.geo_name,\n    geo_level: row.geo_level,\n    product_code: row.product_code,\n    product_key: row.product_key,\n    product_name: row.product_name\n  };\n  current[row.variable_key] = row.value;\n  index.set(key, current);\n}\n\nconst periods = Array.from(new Set(rows.map((row) => row.period_code))).sort();\nif (!periods.length) throw new Error('IBGE SIDRA returned no periods');\nconst latestPeriod = periods[periods.length - 1];\nconst comparisonPeriod = periods[0];\n\nfunction getEntry(periodCode, geoCode, productCode) {\n  const record = index.get(`${periodCode}|${geoCode}|${productCode}`) || {};\n  return {\n    production_tons: record.production_tons ?? null,\n    yield_kg_per_ha: record.yield_kg_per_ha ?? null,\n    planted_area_ha: record.planted_area_ha ?? null,\n    harvested_area_ha: record.harvested_area_ha ?? null\n  };\n}\n\nfunction buildGeoSnapshot(periodCode, geoCode) {\n  const arabica = getEntry(periodCode, geoCode, '39454');\n  const canephora = getEntry(periodCode, geoCode, '39455');\n  const totalProduction = (arabica.production_tons ?? 0) + (canephora.production_tons ?? 0);\n  return {\n    geo_code: geoCode,\n    geo_name: GEO_META[geoCode].name,\n    geo_level: GEO_META[geoCode].level,\n    arabica,\n    canephora,\n    total_production_tons: totalProduction ? round(totalProduction, 0) : 0\n  };\n}\n\nconst nationalLatest = buildGeoSnapshot(latestPeriod, '1');\nconst nationalComparison = buildGeoSnapshot(comparisonPeriod, '1');\nconst stateFocusLatest = STATE_CODES.map((geoCode) => buildGeoSnapshot(latestPeriod, geoCode));\nconst stateFocusComparison = Object.fromEntries(STATE_CODES.map((geoCode) => [geoCode, buildGeoSnapshot(comparisonPeriod, geoCode)]));\n\nconst latestTotal = nationalLatest.total_production_tons;\nconst comparisonTotal = nationalComparison.total_production_tons;\nconst arabicaSharePct = safeDivide(nationalLatest.arabica.production_tons, latestTotal);\nconst canephoraSharePct = safeDivide(nationalLatest.canephora.production_tons, latestTotal);\n\nconst stateProductionSharesPct = {};\nconst stateProductionChangesPct = {};\nfor (const stateCode of STATE_CODES) {\n  const latestState = stateFocusLatest.find((entry) => entry.geo_code === stateCode);\n  const previousState = stateFocusComparison[stateCode];\n  stateProductionSharesPct[stateCode] = {\n    geo_name: GEO_META[stateCode].name,\n    arabica_share_of_brazil_pct: latestState ? round((safeDivide(latestState.arabica.production_tons, nationalLatest.arabica.production_tons) || 0) * 100, 4) : null,\n    canephora_share_of_brazil_pct: latestState ? round((safeDivide(latestState.canephora.production_tons, nationalLatest.canephora.production_tons) || 0) * 100, 4) : null\n  };\n  stateProductionChangesPct[stateCode] = {\n    geo_name: GEO_META[stateCode].name,\n    arabica_production_change_pct: latestState ? pctChange(latestState.arabica.production_tons, previousState.arabica.production_tons) : null,\n    canephora_production_change_pct: latestState ? pctChange(latestState.canephora.production_tons, previousState.canephora.production_tons) : null,\n    total_production_change_pct: latestState ? pctChange(latestState.total_production_tons, previousState.total_production_tons) : null\n  };\n}\n\nconst recentSeries = periods.map((periodCode) => {\n  const brazil = buildGeoSnapshot(periodCode, '1');\n  return {\n    period_code: periodCode,\n    period_label: periodLabels[periodCode],\n    arabica_production_tons: brazil.arabica.production_tons,\n    canephora_production_tons: brazil.canephora.production_tons,\n    total_production_tons: brazil.total_production_tons,\n    arabica_yield_kg_per_ha: brazil.arabica.yield_kg_per_ha,\n    canephora_yield_kg_per_ha: brazil.canephora.yield_kg_per_ha,\n    arabica_harvested_area_ha: brazil.arabica.harvested_area_ha,\n    canephora_harvested_area_ha: brazil.canephora.harvested_area_ha\n  };\n});\n\nconst arabicaProductionChangePct = pctChange(nationalLatest.arabica.production_tons, nationalComparison.arabica.production_tons);\nconst canephoraProductionChangePct = pctChange(nationalLatest.canephora.production_tons, nationalComparison.canephora.production_tons);\nconst totalProductionChangePct = pctChange(latestTotal, comparisonTotal);\nconst arabicaYieldChangePct = pctChange(nationalLatest.arabica.yield_kg_per_ha, nationalComparison.arabica.yield_kg_per_ha);\nconst canephoraYieldChangePct = pctChange(nationalLatest.canephora.yield_kg_per_ha, nationalComparison.canephora.yield_kg_per_ha);\n\nconst ruleBasedFlags = [];\nif (arabicaProductionChangePct !== null && arabicaProductionChangePct >= 5) ruleBasedFlags.push('arabica_output_rising');\nif (arabicaProductionChangePct !== null && arabicaProductionChangePct <= -5) ruleBasedFlags.push('arabica_output_falling');\nif (canephoraProductionChangePct !== null && canephoraProductionChangePct >= 5) ruleBasedFlags.push('canephora_output_rising');\nif (canephoraProductionChangePct !== null && canephoraProductionChangePct <= -5) ruleBasedFlags.push('canephora_output_falling');\nif ((stateProductionSharesPct['31']?.arabica_share_of_brazil_pct ?? 0) >= 70) ruleBasedFlags.push('minas_gerais_dominates_arabica');\nif ((stateProductionSharesPct['32']?.canephora_share_of_brazil_pct ?? 0) >= 50) ruleBasedFlags.push('espirito_santo_dominates_canephora');\nif ((stateProductionChangesPct['29']?.canephora_production_change_pct ?? 0) >= 5) ruleBasedFlags.push('bahia_canephora_rising');\nif ((stateProductionChangesPct['11']?.canephora_production_change_pct ?? 0) >= 5) ruleBasedFlags.push('rondonia_canephora_rising');\nif (arabicaYieldChangePct !== null && arabicaYieldChangePct <= -5) ruleBasedFlags.push('arabica_yield_softening');\nif (canephoraYieldChangePct !== null && canephoraYieldChangePct <= -5) ruleBasedFlags.push('canephora_yield_softening');\n\nlet movementLabel = 'mixed';\nif (totalProductionChangePct !== null && totalProductionChangePct >= 5) movementLabel = 'supply_expanding';\nelse if (totalProductionChangePct !== null && totalProductionChangePct <= -5) movementLabel = 'supply_tightening';\nelse if ((stateProductionSharesPct['31']?.arabica_share_of_brazil_pct ?? 0) >= 70 || (stateProductionSharesPct['32']?.canephora_share_of_brazil_pct ?? 0) >= 50) movementLabel = 'regional_shift';\n\nlet riskLevel = 'low';\nif ((totalProductionChangePct !== null && totalProductionChangePct <= -10) || ((arabicaYieldChangePct !== null && arabicaYieldChangePct <= -5) && (canephoraYieldChangePct !== null && canephoraYieldChangePct <= -5))) riskLevel = 'high';\nelse if ((totalProductionChangePct !== null && totalProductionChangePct <= -5) || (arabicaYieldChangePct !== null && arabicaYieldChangePct <= -5) || (canephoraYieldChangePct !== null && canephoraYieldChangePct <= -5)) riskLevel = 'medium';\n\nconst fallbackSummaryEn = `Latest IBGE LSPA coffee estimate for ${periodLabels[latestPeriod]} shows Brazil at ${round(latestTotal, 0)} tons, with arabica at ${round(nationalLatest.arabica.production_tons, 0)} tons and canephora at ${round(nationalLatest.canephora.production_tons, 0)} tons. Compared with ${periodLabels[comparisonPeriod]}, total production changed by ${totalProductionChangePct === null ? 'n/a' : `${totalProductionChangePct.toFixed(4)}%`}, while Minas Gerais remained dominant in arabica and Espírito Santo remained dominant in canephora.`;\n\nreturn [{\n  json: {\n    source: 'IBGE_SIDRA_LSPA',\n    source_format: 'json_api',\n    source_url: SOURCE_URL,\n    source_descriptor_url: 'https://apisidra.ibge.gov.br/DescritoresTabela/t/6588',\n    country: 'BR',\n    macroarea: 'crops',\n    dataset: 'LSPA',\n    table_id: 6588,\n    classification_id: 48,\n    product_codes: { arabica: '39454', canephora: '39455' },\n    focus_states: STATE_CODES.map((code) => GEO_META[code]),\n    collected_at: now,\n    latest_period_code: latestPeriod,\n    latest_period_label: periodLabels[latestPeriod],\n    comparison_period_code: comparisonPeriod,\n    comparison_period_label: periodLabels[comparisonPeriod],\n    national_latest: nationalLatest,\n    national_comparison: nationalComparison,\n    derived_metrics: {\n      national_total_production_tons: latestTotal,\n      national_arabica_share_pct: arabicaSharePct !== null ? round(arabicaSharePct * 100, 4) : null,\n      national_canephora_share_pct: canephoraSharePct !== null ? round(canephoraSharePct * 100, 4) : null,\n      national_changes_vs_first_period_pct: {\n        total_production_change_pct: totalProductionChangePct,\n        arabica_production_change_pct: arabicaProductionChangePct,\n        canephora_production_change_pct: canephoraProductionChangePct,\n        arabica_yield_change_pct: arabicaYieldChangePct,\n        canephora_yield_change_pct: canephoraYieldChangePct\n      },\n      state_production_shares_pct: stateProductionSharesPct,\n      state_production_changes_pct: stateProductionChangesPct\n    },\n    state_focus_latest: stateFocusLatest,\n    recent_series: recentSeries,\n    movement_label: movementLabel,\n    risk_level: riskLevel,\n    signals: Array.from(new Set(ruleBasedFlags)),\n    summary_en: fallbackSummaryEn\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-3320],"id":"ibge-sidra-parse-node","name":"IBGE SIDRA Parse"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify({ latest_period_label: $json.latest_period_label, national_latest: $json.national_latest, national_comparison: $json.national_comparison, derived_metrics: $json.derived_metrics, state_focus_latest: $json.state_focus_latest, recent_series: $json.recent_series, rule_based_signals: $json.signals, rule_based_movement_label: $json.movement_label, rule_based_risk_level: $json.risk_level, fallback_summary_en: $json.summary_en }, null, 2) }}","messages":{"messageValues":[{"message":"You are interpreting structured IBGE LSPA data for Brazilian coffee. Focus on Brazil and these four states only: Minas Gerais, Espírito Santo, Bahia, Rondônia. Use only the provided metrics and return only valid JSON.\n\nOutput format:\n{\n  \"movement_label\": \"supply_tightening|supply_expanding|regional_shift|mixed\",\n  \"risk_level\": \"low|medium|high\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 6 short strings about production, yield, species mix, or geographic concentration\n- mention arabica vs canephora only when numerically relevant\n- use movement_label = regional_shift when the national picture is mixed but concentration across Minas Gerais, Espírito Santo, Bahia, or Rondônia matters\n- summary_en must be 1-2 English sentences\n- return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1120,-3440],"id":"ibge-ai-signals-chain-node","name":"IBGE AI Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1120,-3240],"id":"ibge-openai-signals-node","name":"IBGE OpenAI Signals Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const raw = ($json.text || '').trim();\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('IBGE SIDRA Parse').item.json;\n\nreturn [{\n  json: {\n    ...base,\n    rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n    rule_based_movement_label: base.movement_label || 'mixed',\n    rule_based_risk_level: base.risk_level || 'low',\n    fallback_summary_en: base.summary_en || '',\n    movement_label: parsed.movement_label || base.movement_label || 'mixed',\n    risk_level: parsed.risk_level || base.risk_level || 'low',\n    signals: Array.isArray(parsed.signals) ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n    summary_en: parsed.summary_en || base.summary_en || ''\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-3440],"id":"ibge-parse-signals-node","name":"IBGE Parse Signals"},{"parameters":{"operation":"insert","collection":"raw_crops","options":{},"fields":"source,source_format,source_url,source_descriptor_url,country,macroarea,dataset,table_id,classification_id,product_codes,focus_states,collected_at,latest_period_code,latest_period_label,comparison_period_code,comparison_period_label,national_latest,national_comparison,derived_metrics,state_focus_latest,recent_series,movement_label,risk_level,signals,summary_en"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-640,-3440],"id":"ibge-mongo-raw-crops-node","name":"IBGE MongoDB raw_crops","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'IBGE_SIDRA_LSPA',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-3440],"id":"ibge-build-log-node","name":"IBGE Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-160,-3440],"id":"ibge-mongo-log-node","name":"IBGE MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"https://antigo.conab.gov.br/info-agro/safras/cafe/boletim-da-safra-de-cafe","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-3840],"id":"conab-index-download-node","name":"CONAB Index Download"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst INDEX_URL = 'https://antigo.conab.gov.br/info-agro/safras/cafe/boletim-da-safra-de-cafe';\nconst rawHtml = String($json.data ?? $json.body ?? $json.html ?? '').trim();\nif (!rawHtml) throw new Error('CONAB index page returned empty HTML');\n\nfunction decodeHtml(value) {\n  return String(value ?? '')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&#x2F;/gi, '/')\n    .replace(/&ccedil;/gi, 'ç')\n    .replace(/&atilde;/gi, 'ã')\n    .replace(/&otilde;/gi, 'õ')\n    .replace(/&aacute;/gi, 'á')\n    .replace(/&eacute;/gi, 'é')\n    .replace(/&iacute;/gi, 'í')\n    .replace(/&oacute;/gi, 'ó')\n    .replace(/&uacute;/gi, 'ú')\n    .replace(/&ecirc;/gi, 'ê')\n    .replace(/&agrave;/gi, 'à')\n    .replace(/&ordm;/gi, 'º')\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCharCode(Number(code)));\n}\n\nfunction absolutize(url) {\n  if (!url) return null;\n  if (/^https?:\\/\\//i.test(url)) return url;\n  if (url.startsWith('/')) return 'https://antigo.conab.gov.br' + url;\n  return 'https://antigo.conab.gov.br/' + url.replace(/^\\.?\\//, '');\n}\n\nconst sectionRegex = /<h[1-6][^>]*>\\s*([^<]*Levantamento[^<]*Safra[^<]*)<\\/h[1-6]>([\\s\\S]*?)(?=<h[1-6][^>]*>\\s*[^<]*Levantamento[^<]*Safra[^<]*<\\/h[1-6]>|$)/gi;\nconst sections = [];\nlet sectionMatch;\nwhile ((sectionMatch = sectionRegex.exec(rawHtml)) !== null) {\n  const title = decodeHtml(sectionMatch[1]).replace(/\\s+/g, ' ').trim();\n  const body = sectionMatch[2];\n  const links = [];\n  const linkRegex = /<a[^>]+href=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let linkMatch;\n  while ((linkMatch = linkRegex.exec(body)) !== null) {\n    const linkText = decodeHtml(linkMatch[2]).replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    links.push({ href: absolutize(linkMatch[1]), text: linkText });\n  }\n  const publishedDateMatch = body.match(/(\\d{2}\\/\\d{2}\\/\\d{2,4})/);\n  const publishedTimeMatch = body.match(/(\\d{2}h\\d{2})/i);\n  sections.push({\n    title,\n    bodyText: decodeHtml(body).replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim(),\n    links,\n    published_date_raw: publishedDateMatch ? publishedDateMatch[1] : null,\n    published_time_raw: publishedTimeMatch ? publishedTimeMatch[1] : null\n  });\n}\n\nif (!sections.length) throw new Error('CONAB release sections not found on index page');\n\nconst latest = sections[0];\nconst pdfLink = latest.links.find((link) => /boletim/i.test(link.text) && /\\.pdf($|\\?)/i.test(link.href));\nconst tableLink = latest.links.find((link) => /tabela\\s+de\\s+dados|estimativas\\s+da\\s+produ[cç][aã]o/i.test(link.text));\nconst presentationLink = latest.links.find((link) => /apresenta/i.test(link.text));\nif (!pdfLink) throw new Error('CONAB latest release PDF link not found');\nif (!tableLink) throw new Error('CONAB latest release table link not found');\n\nconst surveyNumberMatch = latest.title.match(/(\\d+º)\\s+Levantamento/i);\nconst seasonMatch = latest.title.match(/Safra\\s*(\\d{4}(?:\\/\\d{2,4})?)/i);\nconst releaseKey = [\n  surveyNumberMatch ? surveyNumberMatch[1] : 'unknown',\n  seasonMatch ? seasonMatch[1] : 'unknown',\n  latest.published_date_raw || 'unknown',\n  pdfLink.href,\n  tableLink.href\n].join('|');\n\nreturn [{\n  json: {\n    source: 'CONAB_CAFE_SAFRA',\n    source_format: 'html_index',\n    index_url: INDEX_URL,\n    collected_at: now,\n    release_title: latest.title,\n    survey_number: surveyNumberMatch ? surveyNumberMatch[1] : null,\n    season: seasonMatch ? seasonMatch[1] : null,\n    published_date_raw: latest.published_date_raw,\n    published_time_raw: latest.published_time_raw,\n    pdf_url: pdfLink.href,\n    pdf_label: pdfLink.text,\n    table_url: tableLink.href,\n    table_label: tableLink.text,\n    presentation_url: presentationLink ? presentationLink.href : null,\n    presentation_label: presentationLink ? presentationLink.text : null,\n    release_key: releaseKey,\n    release_excerpt: latest.bodyText.slice(0, 1200)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-3840],"id":"conab-parse-latest-release-node","name":"CONAB Parse Latest Release"},{"parameters":{"url":"={{ $json.table_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1120,-3840],"id":"conab-download-table-node","name":"CONAB Download Table"},{"parameters":{"operation":"xlsx","binaryPropertyName":"data","options":{"includeEmptyCells":true,"headerRow":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-880,-3840],"id":"conab-extract-table-node","name":"CONAB Extract Table"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst meta = $('CONAB Parse Latest Release').item.json;\nconst extractedRows = $input.all()\n  .map((item) => Array.isArray(item.json.row) ? item.json.row : [])\n  .filter((row) => row.some((value) => String(value ?? '').trim() !== ''));\n\nif (!extractedRows.length) throw new Error('CONAB table extract returned no rows');\n\nfunction normalizeText(value) {\n  return String(value ?? '').trim();\n}\n\nfunction normalizeNumber(value, decimals = 4) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'number') {\n    if (!Number.isFinite(value)) return null;\n    return Number(value.toFixed(decimals));\n  }\n  const text = normalizeText(value);\n  if (!text || text === '-' || text === '--' || text === '…' || text === '...') return null;\n  const numeric = Number(text.replace(/\\./g, '').replace(',', '.'));\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nconst normalizedRows = extractedRows.map((row) => row.map((cell) => normalizeText(cell).toLowerCase()));\nconst headerIndex = normalizedRows.findIndex((row) => row.includes('(d)') && row.includes('(f)'));\nif (headerIndex === -1) throw new Error('CONAB table markers (d) and (f) not found');\nconst yieldColumn = normalizedRows[headerIndex].findIndex((value) => value === '(d)');\nconst productionColumn = normalizedRows[headerIndex].findIndex((value) => value === '(f)');\nconst regionColumn = 0;\n\nconst ufMap = {\n  MG: 'Minas Gerais', ES: 'Espírito Santo', SP: 'São Paulo', PR: 'Paraná', BA: 'Bahia', RO: 'Rondônia', GO: 'Goiás',\n  MT: 'Mato Grosso', RJ: 'Rio de Janeiro', PE: 'Pernambuco', AC: 'Acre', CE: 'Ceará', PA: 'Pará', AM: 'Amazonas'\n};\nconst focusUfs = ['MG', 'ES', 'BA', 'RO'];\n\nconst stateRows = extractedRows\n  .slice(headerIndex + 1)\n  .map((row) => ({\n    uf: normalizeText(row[regionColumn]).toUpperCase(),\n    production_raw: normalizeNumber(row[productionColumn], 4),\n    yield_raw: normalizeNumber(row[yieldColumn], 4)\n  }))\n  .filter((row) => /^[A-Z]{2}$/.test(row.uf))\n  .map((row) => ({\n    uf: row.uf,\n    state: ufMap[row.uf] || row.uf,\n    production_thousand_60kg_bags: row.production_raw,\n    yield_60kg_bags_per_ha: row.yield_raw,\n    production_mt: row.production_raw === null ? null : Number((row.production_raw * 60).toFixed(4)),\n    yield_kgha: row.yield_raw === null ? null : Number((row.yield_raw * 60).toFixed(4))\n  }))\n  .filter((row) => row.production_mt !== null || row.yield_kgha !== null);\n\nif (!stateRows.length) throw new Error('CONAB table produced no state rows');\n\nconst validProductionRows = stateRows.filter((row) => row.production_mt !== null);\nconst totalProductionMt = validProductionRows.reduce((sum, row) => sum + row.production_mt, 0);\nconst topStatesByProduction = [...validProductionRows]\n  .sort((a, b) => (b.production_mt ?? -Infinity) - (a.production_mt ?? -Infinity))\n  .slice(0, 10)\n  .map((row) => ({\n    uf: row.uf,\n    state: row.state,\n    production_mt: row.production_mt,\n    share_of_total_pct: totalProductionMt ? Number(((row.production_mt / totalProductionMt) * 100).toFixed(4)) : null,\n    yield_kgha: row.yield_kgha\n  }));\nconst focusStates = focusUfs.map((uf) => {\n  const row = stateRows.find((entry) => entry.uf === uf) || { uf, state: ufMap[uf] || uf, production_mt: null, yield_kgha: null, production_thousand_60kg_bags: null, yield_60kg_bags_per_ha: null };\n  return {\n    ...row,\n    share_of_total_pct: row.production_mt !== null && totalProductionMt ? Number(((row.production_mt / totalProductionMt) * 100).toFixed(4)) : null\n  };\n});\nconst focusProductionMt = focusStates.reduce((sum, row) => sum + (row.production_mt ?? 0), 0);\nconst focusSharePct = totalProductionMt ? Number(((focusProductionMt / totalProductionMt) * 100).toFixed(4)) : null;\nconst bestYieldState = [...stateRows].filter((row) => row.yield_kgha !== null).sort((a, b) => b.yield_kgha - a.yield_kgha)[0] || null;\nconst lowestYieldState = [...stateRows].filter((row) => row.yield_kgha !== null).sort((a, b) => a.yield_kgha - b.yield_kgha)[0] || null;\n\nreturn [{\n  json: {\n    ...meta,\n    source_format: 'html_index+xls',\n    country: 'BR',\n    macroarea: 'crops',\n    dataset: 'CONAB_CAFE_BULLETIN',\n    collected_at: now,\n    states_covered: stateRows.length,\n    units: {\n      production_raw: 'thousand_60kg_bags',\n      production_normalized: 'metric_tons',\n      yield_raw: '60kg_bags_per_ha',\n      yield_normalized: 'kg_per_ha'\n    },\n    national_snapshot: {\n      total_production_mt: Number(totalProductionMt.toFixed(4)),\n      focus_states_total_production_mt: Number(focusProductionMt.toFixed(4)),\n      focus_states_share_pct: focusSharePct,\n      best_yield_state: bestYieldState ? { uf: bestYieldState.uf, state: bestYieldState.state, yield_kgha: bestYieldState.yield_kgha } : null,\n      lowest_yield_state: lowestYieldState ? { uf: lowestYieldState.uf, state: lowestYieldState.state, yield_kgha: lowestYieldState.yield_kgha } : null\n    },\n    focus_states: focusStates,\n    top_states_by_production: topStatesByProduction,\n    all_states: stateRows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-3840],"id":"conab-parse-table-node","name":"CONAB Parse Table"},{"parameters":{"url":"={{ $json.pdf_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,-3840],"id":"conab-download-pdf-node","name":"CONAB Download PDF"},{"parameters":{"operation":"pdf","binaryPropertyName":"data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-160,-3840],"id":"conab-extract-pdf-node","name":"CONAB Extract PDF"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify({ release_title: $('CONAB Parse Table').item.json.release_title, survey_number: $('CONAB Parse Table').item.json.survey_number, season: $('CONAB Parse Table').item.json.season, published_date_raw: $('CONAB Parse Table').item.json.published_date_raw, published_time_raw: $('CONAB Parse Table').item.json.published_time_raw, national_snapshot: $('CONAB Parse Table').item.json.national_snapshot, focus_states: $('CONAB Parse Table').item.json.focus_states, top_states_by_production: $('CONAB Parse Table').item.json.top_states_by_production, release_excerpt: $('CONAB Parse Table').item.json.release_excerpt, pdf_text: String($json.text ?? $json.content ?? $json.data ?? JSON.stringify($json)).replace(/\\s+/g, ' ').slice(0, 14000) }, null, 2) }}","messages":{"messageValues":[{"message":"You are interpreting a CONAB coffee crop bulletin for a Lavazza intelligence system. Focus on Brazil and especially Minas Gerais, Espírito Santo, Bahia, and Rondônia. Use only the provided structured metrics and PDF text excerpt. Return only valid JSON.\n\nOutput format:\n{\n  \"movement_label\": \"supply_tightening|supply_expanding|regional_shift|mixed\",\n  \"risk_level\": \"low|medium|high\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 6 short strings about production, yields, concentration, or regional crop risk\n- movement_label must summarize the overall coffee supply picture in Brazil\n- use regional_shift when the national total is less informative than the geographic pattern across the focus states\n- risk_level should reflect downside risk to Brazilian coffee supply or regional concentration risk\n- summary_en must be 1-2 English sentences\n- return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[80,-3840],"id":"conab-ai-signals-chain-node","name":"CONAB AI Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[80,-3640],"id":"conab-openai-signals-node","name":"CONAB OpenAI Signals Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const parsed = JSON.parse(($json.text || '').trim());\nconst base = $('CONAB Parse Table').item.json;\nconst pdfSource = $('CONAB Extract PDF').item.json;\nconst pdfText = String(pdfSource.text ?? pdfSource.content ?? pdfSource.data ?? JSON.stringify(pdfSource)).replace(/\\s+/g, ' ').trim();\nconst excerpt = pdfText.slice(0, 3000);\nconst embedText = [parsed.summary_en || '', ...(Array.isArray(parsed.signals) ? parsed.signals : []), excerpt.slice(0, 1200)].filter(Boolean).join(' ');\n\nreturn [{\n  json: {\n    ...base,\n    source_format: 'html_index+xls+pdf',\n    movement_label: parsed.movement_label || 'mixed',\n    risk_level: parsed.risk_level || 'medium',\n    signals: Array.isArray(parsed.signals) ? parsed.signals : [],\n    summary_en: parsed.summary_en || '',\n    report_text_excerpt: excerpt,\n    embed_text: embedText\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-3840],"id":"conab-parse-signals-node","name":"CONAB Parse Signals"},{"parameters":{"operation":"insert","collection":"raw_crops","options":{},"fields":"source,source_format,index_url,collected_at,release_title,survey_number,season,published_date_raw,published_time_raw,pdf_url,pdf_label,table_url,table_label,presentation_url,presentation_label,release_key,release_excerpt,country,macroarea,dataset,states_covered,units,national_snapshot,focus_states,top_states_by_production,all_states,movement_label,risk_level,signals,summary_en,report_text_excerpt,embed_text"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[540,-3840],"id":"conab-mongo-raw-crops-node","name":"CONAB MongoDB raw_crops","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $('CONAB Parse Signals').item.json.embed_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[760,-3840],"id":"conab-embeddings-node","name":"CONAB OpenAI Embeddings","credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const meta = $('CONAB Parse Signals').item.json;\nconst vector = $json.data[0].embedding;\nconst key = meta.release_key || meta.pdf_url || meta.release_title || '';\nlet hash = 0;\nfor (let i = 0; i < key.length; i++) {\n  hash = ((hash << 5) - hash) + key.charCodeAt(i);\n  hash |= 0;\n}\nconst pointId = Math.abs(hash);\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector,\n      payload: {\n        source: meta.source,\n        country: meta.country,\n        macroarea: meta.macroarea,\n        collected_at: meta.collected_at,\n        release_title: meta.release_title,\n        survey_number: meta.survey_number,\n        season: meta.season,\n        published_date_raw: meta.published_date_raw,\n        pdf_url: meta.pdf_url,\n        table_url: meta.table_url,\n        movement_label: meta.movement_label,\n        risk_level: meta.risk_level,\n        summary_en: meta.summary_en,\n        signals: meta.signals\n      }\n    }]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[980,-3840],"id":"conab-qdrant-payload-node","name":"CONAB Build Qdrant Payload"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/crops_texts/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1200,-3840],"id":"conab-qdrant-upsert-node","name":"CONAB Qdrant Upsert"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nreturn [{\n  json: {\n    source: 'CONAB_CAFE_SAFRA',\n    country: 'BR',\n    run_date: now,\n    status: 'done',\n    completed_at: now\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-3840],"id":"conab-build-log-node","name":"CONAB Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[1640,-3840],"id":"conab-mongo-log-node","name":"CONAB MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"method":"POST","url":"http://ais-port-probe:8080/snapshot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ listen_time_seconds: 15 }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-4440],"id":"port-congestion-snapshot-node","name":"Port Congestion Snapshot"},{"parameters":{"jsCode":"const snapshot = $json;\nconst collectedAt = snapshot.completed_at || new Date().toISOString();\nconst ports = Array.isArray(snapshot.ports) ? snapshot.ports : [];\n\nfunction slug(value) {\n  return String(value ?? '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\nconst congestedPorts = ports.filter((port) => Number(port.anchored_vessels_count ?? 0) > 0);\nconst totalAnchored = Number(snapshot.total_anchored_vessels ?? 0);\nconst topPort = snapshot.top_congested_port && Number(snapshot.top_congested_port.anchored_vessels_count ?? 0) > 0\n  ? snapshot.top_congested_port\n  : (congestedPorts[0] ?? null);\n\nconst signals = [];\nif (totalAnchored === 0) signals.push('no_port_queue_detected');\nif (totalAnchored > 0) signals.push('port_queue_detected');\nif (congestedPorts.length >= 2) signals.push('multi_port_congestion');\nif (congestedPorts.length >= 3) signals.push('widespread_port_congestion');\nif (topPort && Number(topPort.anchored_vessels_count ?? 0) >= 3) signals.push('moderate_queue_' + slug(topPort.port_name));\nif (topPort && Number(topPort.anchored_vessels_count ?? 0) >= 6) signals.push('high_queue_' + slug(topPort.port_name));\nif (totalAnchored >= 8) signals.push('regional_export_delay_risk');\nif (Array.isArray(snapshot.errors) && snapshot.errors.length) signals.push('snapshot_data_quality_watch');\n\nlet riskLevel = 'low';\nif (totalAnchored >= 8 || (topPort && Number(topPort.anchored_vessels_count ?? 0) >= 6)) riskLevel = 'high';\nelse if (totalAnchored >= 3 || congestedPorts.length >= 1) riskLevel = 'medium';\n\nconst perPortText = ports\n  .map((port) => port.port_name + ': ' + Number(port.anchored_vessels_count ?? 0) + ' anchored vessels')\n  .join('; ');\n\nlet summaryEn;\nif (!congestedPorts.length) {\n  summaryEn = 'No anchored vessel accumulation was detected across the monitored Brazilian port anchorage zones during the ' + snapshot.snapshot_seconds + '-second AIS snapshot.';\n} else {\n  summaryEn = totalAnchored + ' anchored or near-stationary vessels were detected across ' + congestedPorts.length + ' monitored Brazilian port zones during the ' + snapshot.snapshot_seconds + '-second AIS snapshot.';\n  if (topPort) {\n    summaryEn += ' The most congested area was ' + topPort.port_name + ' with ' + topPort.anchored_vessels_count + ' vessels in queue-like conditions.';\n  }\n}\n\nconst embedText = [\n  summaryEn,\n  'Risk level: ' + riskLevel + '.',\n  perPortText,\n  ...signals,\n].filter(Boolean).join(' ');\n\nreturn [{\n  json: {\n    source: 'AISSTREAM_PORT_CONGESTION',\n    source_url: 'wss://stream.aisstream.io/v0/stream',\n    source_format: 'websocket_snapshot',\n    country: 'BR',\n    macroarea: 'geo',\n    collected_at: collectedAt,\n    started_at: snapshot.started_at || null,\n    status: snapshot.status || 'done',\n    snapshot_seconds: Number(snapshot.snapshot_seconds ?? 0),\n    ports_monitored: Number(snapshot.ports_monitored ?? ports.length),\n    port_names: Array.isArray(snapshot.port_names) ? snapshot.port_names : ports.map((port) => port.port_name),\n    raw_messages_received: Number(snapshot.raw_messages_received ?? 0),\n    position_reports_received: Number(snapshot.position_reports_received ?? 0),\n    port_reports_received: Number(snapshot.port_reports_received ?? 0),\n    total_anchored_vessels: totalAnchored,\n    congested_ports_count: congestedPorts.length,\n    top_congested_port: topPort ? {\n      port_name: topPort.port_name,\n      anchored_vessels_count: Number(topPort.anchored_vessels_count ?? 0),\n      average_sog: Number(topPort.average_sog ?? 0),\n    } : null,\n    risk_level: riskLevel,\n    signals: Array.from(new Set(signals)),\n    summary_en: summaryEn,\n    embed_text: embedText,\n    ports,\n    errors: Array.isArray(snapshot.errors) ? snapshot.errors : [],\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-4440],"id":"port-congestion-parse-node","name":"Port Congestion Parse"},{"parameters":{"operation":"insert","collection":"raw_geo","fields":"source,source_url,source_format,country,macroarea,collected_at,started_at,status,snapshot_seconds,ports_monitored,port_names,raw_messages_received,position_reports_received,port_reports_received,total_anchored_vessels,congested_ports_count,top_congested_port,risk_level,signals,summary_en,embed_text,ports,errors","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1120,-4440],"id":"port-mongodb-raw-geo-node","name":"Port MongoDB raw_geo","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $('Port Congestion Parse').item.json.embed_text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-4440],"id":"port-openai-embeddings-node","name":"Port OpenAI Embeddings","credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const meta = $('Port Congestion Parse').item.json;\nconst vector = $json.data[0].embedding;\nconst key = meta.source + '|' + meta.collected_at + '|' + meta.total_anchored_vessels + '|' + meta.port_reports_received;\nlet hash = 0;\nfor (let i = 0; i < key.length; i++) {\n  hash = ((hash << 5) - hash) + key.charCodeAt(i);\n  hash |= 0;\n}\nconst pointId = Math.abs(hash);\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector,\n      payload: {\n        source: meta.source,\n        country: meta.country,\n        macroarea: meta.macroarea,\n        collected_at: meta.collected_at,\n        snapshot_seconds: meta.snapshot_seconds,\n        total_anchored_vessels: meta.total_anchored_vessels,\n        congested_ports_count: meta.congested_ports_count,\n        top_congested_port: meta.top_congested_port ? meta.top_congested_port.port_name : null,\n        risk_level: meta.risk_level,\n        summary_en: meta.summary_en,\n        signals: meta.signals,\n        port_names: meta.port_names,\n      },\n    }],\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-4440],"id":"port-build-qdrant-payload-node","name":"Port Build Qdrant Payload"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/geo_texts/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,-4440],"id":"port-qdrant-upsert-node","name":"Port Qdrant Upsert"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst meta = $('Port Congestion Parse').item.json;\n\nreturn [{\n  json: {\n    source: 'AISSTREAM_PORT_CONGESTION',\n    country: 'BR',\n    macroarea: 'geo',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    items_ingested: meta.total_anchored_vessels,\n    ports_monitored: meta.ports_monitored,\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-4440],"id":"port-build-ingestion-log-node","name":"Port Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[60,-4440],"id":"port-mongodb-ingestion-log-node","name":"Port MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"url":"https://api-comexstat.mdic.gov.br/general/dates/updated","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-4960],"id":"comex-updated-check-node","name":"Comex Updated Check"},{"parameters":{"jsCode":"const SOURCE_BASE_URL = 'https://api-comexstat.mdic.gov.br';\nconst updated = $json && $json.data ? $json.data : {};\nconst latestYear = Number(updated.year);\nconst latestMonth = Number(updated.monthNumber);\n\nif (!Number.isInteger(latestYear) || !Number.isInteger(latestMonth) || latestMonth < 1 || latestMonth > 12) {\n  throw new Error('Comex Stat updated endpoint returned invalid year/month');\n}\n\nfunction pad(value) {\n  return String(value).padStart(2, '0');\n}\n\nfunction shiftPeriod(year, month, offsetMonths) {\n  const date = new Date(Date.UTC(year, month - 1 + offsetMonths, 1));\n  return {\n    year: date.getUTCFullYear(),\n    month: date.getUTCMonth() + 1,\n    period: date.getUTCFullYear() + '-' + pad(date.getUTCMonth() + 1),\n  };\n}\n\nconst latestPeriod = shiftPeriod(latestYear, latestMonth, 0);\nconst previousPeriod = shiftPeriod(latestYear, latestMonth, -1);\nconst sameMonthPreviousYear = shiftPeriod(latestYear, latestMonth, -12);\nconst startPeriod = shiftPeriod(latestYear, latestMonth, -23);\n\nconst ncmGroups = {\n  green: ['09011110', '09011190', '09011200'],\n  roasted: ['09012100', '09012200'],\n  soluble: ['21011110', '21011190', '21011200'],\n};\nconst ncmCodes = [\n  ...ncmGroups.green,\n  ...ncmGroups.roasted,\n  ...ncmGroups.soluble,\n];\n\nreturn [{\n  json: {\n    source: 'COMEX_STAT',\n    source_format: 'json_api',\n    source_base_url: SOURCE_BASE_URL,\n    source_updated_date: updated.updated || null,\n    latest_available_year: latestPeriod.year,\n    latest_available_month: latestPeriod.month,\n    latest_available_period: latestPeriod.period,\n    previous_period: previousPeriod.period,\n    same_month_previous_year: sameMonthPreviousYear.period,\n    lookback_months: 24,\n    period_from: startPeriod.period,\n    period_to: latestPeriod.period,\n    focus_states: ['Minas Gerais', 'Espírito Santo', 'Bahia', 'Rondônia'],\n    ncm_groups,\n    ncm_codes: ncmCodes,\n    state_series_request: {\n      flow: 'export',\n      monthDetail: true,\n      period: {\n        from: startPeriod.period,\n        to: latestPeriod.period,\n      },\n      filters: [\n        {\n          filter: 'ncm',\n          values: ncmCodes,\n        },\n      ],\n      details: ['state', 'ncm'],\n      metrics: ['metricFOB', 'metricKG', 'metricStatistic'],\n    },\n    destination_request: {\n      flow: 'export',\n      monthDetail: true,\n      period: {\n        from: latestPeriod.period,\n        to: latestPeriod.period,\n      },\n      filters: [\n        {\n          filter: 'ncm',\n          values: ncmCodes,\n        },\n      ],\n      details: ['country', 'ncm'],\n      metrics: ['metricFOB', 'metricKG', 'metricStatistic'],\n    },\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-4960],"id":"comex-build-query-params-node","name":"Comex Build Query Params"},{"parameters":{"method":"POST","url":"https://api-comexstat.mdic.gov.br/general?language=pt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.state_series_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1120,-4960],"id":"comex-state-series-node","name":"Comex State Series"},{"parameters":{"method":"POST","url":"https://api-comexstat.mdic.gov.br/general?language=pt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Comex Build Query Params').item.json.destination_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-4960],"id":"comex-destination-snapshot-node","name":"Comex Destination Snapshot"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst meta = $('Comex Build Query Params').item.json;\nconst updatedResponse = $('Comex Updated Check').item.json;\nconst stateSeriesResponse = $('Comex State Series').item.json;\nconst destinationResponse = $('Comex Destination Snapshot').item.json;\n\nconst GREEN_CODES = new Set(meta.ncm_groups.green);\nconst ROASTED_CODES = new Set(meta.ncm_groups.roasted);\nconst SOLUBLE_CODES = new Set(meta.ncm_groups.soluble);\nconst FOCUS_STATES = [\n  { key: 'minas gerais', name: 'Minas Gerais' },\n  { key: 'espirito santo', name: 'Espírito Santo' },\n  { key: 'bahia', name: 'Bahia' },\n  { key: 'rondonia', name: 'Rondônia' },\n];\n\nfunction round(value, decimals = 4) {\n  if (value === null || value === undefined || Number.isNaN(value)) return null;\n  return Number(Number(value).toFixed(decimals));\n}\n\nfunction pad(value) {\n  return String(value).padStart(2, '0');\n}\n\nfunction extractRows(payload) {\n  if (Array.isArray(payload)) return payload;\n  if (payload && payload.data && Array.isArray(payload.data.list)) return payload.data.list;\n  if (payload && payload.data && Array.isArray(payload.data)) return payload.data;\n  if (payload && Array.isArray(payload.list)) return payload.list;\n  return [];\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').trim();\n}\n\nfunction normalizeStateKey(value) {\n  return normalizeText(value)\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n}\n\nfunction toNumber(value, decimals = 4) {\n  if (value === null || value === undefined || value === '') return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? round(value, decimals) : null;\n  const raw = normalizeText(value);\n  if (!raw) return null;\n  const cleaned = raw.includes(',')\n    ? raw.replace(/\\./g, '').replace(',', '.')\n    : raw;\n  const numeric = Number(cleaned);\n  return Number.isNaN(numeric) ? null : round(numeric, decimals);\n}\n\nfunction pctChange(current, previous, decimals = 4) {\n  if (current === null || previous === null || previous === 0) return null;\n  return round(((current - previous) / previous) * 100, decimals);\n}\n\nfunction sharePct(part, total, decimals = 4) {\n  if (part === null || total === null || total === 0) return null;\n  return round((part / total) * 100, decimals);\n}\n\nfunction sharePpChange(current, previous, decimals = 4) {\n  if (current === null || previous === null) return null;\n  return round(current - previous, decimals);\n}\n\nfunction formatNumber(value, decimals = 2) {\n  return value === null ? 'n/a' : Number(value).toFixed(decimals);\n}\n\nfunction extractNcmCode(value) {\n  const raw = normalizeText(value);\n  if (!raw) return null;\n  const match = raw.match(/\\b(\\d{8})\\b/);\n  if (match) return match[1];\n  const digits = raw.replace(/\\D/g, '');\n  if (digits.length === 8) return digits;\n  return null;\n}\n\nfunction classifyProductGroup(ncmCode) {\n  if (!ncmCode) return 'unknown';\n  if (GREEN_CODES.has(ncmCode) || /^090111|^090112/.test(ncmCode)) return 'green';\n  if (ROASTED_CODES.has(ncmCode) || /^090121|^090122/.test(ncmCode)) return 'roasted';\n  if (SOLUBLE_CODES.has(ncmCode) || /^210111|^210112/.test(ncmCode)) return 'soluble';\n  return 'unknown';\n}\n\nfunction buildEmptyMetricBucket() {\n  return {\n    fob_usd: 0,\n    kg: 0,\n    statistic_qty: 0,\n  };\n}\n\nfunction getMetricBucket(container, key) {\n  if (!container[key]) container[key] = buildEmptyMetricBucket();\n  return container[key];\n}\n\nfunction addMetrics(bucket, row) {\n  bucket.fob_usd += row.metric_fob_usd || 0;\n  bucket.kg += row.metric_kg || 0;\n  bucket.statistic_qty += row.metric_statistic || 0;\n}\n\nfunction finalizeBucket(bucket, totalFob, totalKg) {\n  return {\n    fob_usd: round(bucket.fob_usd, 2),\n    kg: round(bucket.kg, 2),\n    statistic_qty: round(bucket.statistic_qty, 2),\n    share_fob_pct: sharePct(bucket.fob_usd, totalFob, 4),\n    share_kg_pct: sharePct(bucket.kg, totalKg, 4),\n  };\n}\n\nfunction avgPrice(fob, kg) {\n  if (fob === null || kg === null || kg === 0) return null;\n  return round(fob / kg, 6);\n}\n\nfunction sortPeriods(a, b) {\n  return a.localeCompare(b);\n}\n\nfunction normalizeRow(row, kind) {\n  const year = Number(row.year);\n  const month = Number(row.monthNumber || meta.latest_available_month);\n  if (!Number.isInteger(year) || !Number.isInteger(month)) return null;\n  const period = year + '-' + pad(month);\n  const ncmCode = extractNcmCode(row.ncm || row.coNcm || row.ncmCode || '');\n\n  return {\n    kind,\n    year,\n    month,\n    period,\n    state: normalizeText(row.state || row.stateName || ''),\n    state_key: normalizeStateKey(row.state || row.stateName || ''),\n    country: normalizeText(row.country || row.countryName || ''),\n    ncm_raw: normalizeText(row.ncm || row.coNcm || row.ncmCode || ''),\n    ncm_code: ncmCode,\n    product_group: classifyProductGroup(ncmCode),\n    metric_fob_usd: toNumber(row.metricFOB, 2) || 0,\n    metric_kg: toNumber(row.metricKG, 2) || 0,\n    metric_statistic: toNumber(row.metricStatistic, 2) || 0,\n  };\n}\n\nconst rawStateRows = extractRows(stateSeriesResponse).map((row) => normalizeRow(row, 'state')).filter(Boolean);\nconst rawDestinationRows = extractRows(destinationResponse).map((row) => normalizeRow(row, 'destination')).filter(Boolean);\n\nif (!rawStateRows.length) throw new Error('Comex State Series returned no valid rows');\nif (!rawDestinationRows.length) throw new Error('Comex Destination Snapshot returned no valid rows');\n\nconst periodMap = new Map();\nfor (const row of rawStateRows) {\n  const periodEntry = periodMap.get(row.period) || {\n    period: row.period,\n    year: row.year,\n    month: row.month,\n    total_exports_fob_usd: 0,\n    total_exports_kg: 0,\n    total_exports_statistic_qty: 0,\n    by_group: {},\n    by_state: new Map(),\n  };\n\n  periodEntry.total_exports_fob_usd += row.metric_fob_usd;\n  periodEntry.total_exports_kg += row.metric_kg;\n  periodEntry.total_exports_statistic_qty += row.metric_statistic;\n  addMetrics(getMetricBucket(periodEntry.by_group, row.product_group), row);\n\n  if (row.state_key) {\n    const stateEntry = periodEntry.by_state.get(row.state_key) || {\n      state: row.state,\n      bucket: buildEmptyMetricBucket(),\n    };\n    addMetrics(stateEntry.bucket, row);\n    periodEntry.by_state.set(row.state_key, stateEntry);\n  }\n\n  periodMap.set(row.period, periodEntry);\n}\n\nconst periods = Array.from(periodMap.keys()).sort(sortPeriods);\nconst latestPeriod = meta.latest_available_period;\nconst previousPeriod = meta.previous_period;\nconst yoyPeriod = meta.same_month_previous_year;\n\nconst latestAgg = periodMap.get(latestPeriod);\nif (!latestAgg) throw new Error('Comex parser could not find latest period in state series');\nconst previousAgg = periodMap.get(previousPeriod) || null;\nconst yoyAgg = periodMap.get(yoyPeriod) || null;\n\nfunction finalizePeriod(entry) {\n  if (!entry) return null;\n  const productMix = {\n    green: finalizeBucket(getMetricBucket(entry.by_group, 'green'), entry.total_exports_fob_usd, entry.total_exports_kg),\n    roasted: finalizeBucket(getMetricBucket(entry.by_group, 'roasted'), entry.total_exports_fob_usd, entry.total_exports_kg),\n    soluble: finalizeBucket(getMetricBucket(entry.by_group, 'soluble'), entry.total_exports_fob_usd, entry.total_exports_kg),\n    unknown: finalizeBucket(getMetricBucket(entry.by_group, 'unknown'), entry.total_exports_fob_usd, entry.total_exports_kg),\n  };\n\n  return {\n    period: entry.period,\n    total_exports_fob_usd: round(entry.total_exports_fob_usd, 2),\n    total_exports_kg: round(entry.total_exports_kg, 2),\n    total_exports_statistic_qty: round(entry.total_exports_statistic_qty, 2),\n    avg_fob_usd_per_kg: avgPrice(entry.total_exports_fob_usd, entry.total_exports_kg),\n    product_mix: productMix,\n  };\n}\n\nconst latestFinal = finalizePeriod(latestAgg);\nconst previousFinal = finalizePeriod(previousAgg);\nconst yoyFinal = finalizePeriod(yoyAgg);\n\nconst focusStates = FOCUS_STATES.map((focusState) => {\n  const stateEntry = latestAgg.by_state.get(focusState.key);\n  const bucket = stateEntry ? stateEntry.bucket : buildEmptyMetricBucket();\n  return {\n    state: focusState.name,\n    fob_usd: round(bucket.fob_usd, 2),\n    kg: round(bucket.kg, 2),\n    statistic_qty: round(bucket.statistic_qty, 2),\n    share_fob_pct: sharePct(bucket.fob_usd, latestAgg.total_exports_fob_usd, 4),\n    share_kg_pct: sharePct(bucket.kg, latestAgg.total_exports_kg, 4),\n  };\n});\n\nconst focusStatesFobTotal = focusStates.reduce((sum, row) => sum + (row.fob_usd || 0), 0);\nconst focusStatesKgTotal = focusStates.reduce((sum, row) => sum + (row.kg || 0), 0);\n\nconst destinationsMap = new Map();\nfor (const row of rawDestinationRows.filter((entry) => entry.period === latestPeriod)) {\n  const key = row.country || 'Unknown';\n  const destination = destinationsMap.get(key) || {\n    country: key,\n    bucket: buildEmptyMetricBucket(),\n  };\n  addMetrics(destination.bucket, row);\n  destinationsMap.set(key, destination);\n}\n\nconst topDestinations = Array.from(destinationsMap.values())\n  .map((entry) => ({\n    country: entry.country,\n    fob_usd: round(entry.bucket.fob_usd, 2),\n    kg: round(entry.bucket.kg, 2),\n    statistic_qty: round(entry.bucket.statistic_qty, 2),\n    share_fob_pct: sharePct(entry.bucket.fob_usd, latestAgg.total_exports_fob_usd, 4),\n    share_kg_pct: sharePct(entry.bucket.kg, latestAgg.total_exports_kg, 4),\n  }))\n  .sort((a, b) => (b.fob_usd || 0) - (a.fob_usd || 0))\n  .slice(0, 10);\n\nconst topDestinationSharePct = topDestinations.length ? topDestinations[0].share_fob_pct : null;\nconst top3DestinationsFob = topDestinations.slice(0, 3).reduce((sum, row) => sum + (row.fob_usd || 0), 0);\nconst top3DestinationsSharePct = sharePct(top3DestinationsFob, latestAgg.total_exports_fob_usd, 4);\n\nconst recentSeries = periods.slice(-meta.lookback_months).map((period) => {\n  const entry = periodMap.get(period);\n  const finalized = finalizePeriod(entry);\n  return {\n    period: finalized.period,\n    total_exports_fob_usd: finalized.total_exports_fob_usd,\n    total_exports_kg: finalized.total_exports_kg,\n    total_exports_statistic_qty: finalized.total_exports_statistic_qty,\n    avg_fob_usd_per_kg: finalized.avg_fob_usd_per_kg,\n    green_share_kg_pct: finalized.product_mix.green.share_kg_pct,\n    roasted_share_kg_pct: finalized.product_mix.roasted.share_kg_pct,\n    soluble_share_kg_pct: finalized.product_mix.soluble.share_kg_pct,\n  };\n});\n\nconst momExportsKgPct = previousFinal ? pctChange(latestFinal.total_exports_kg, previousFinal.total_exports_kg) : null;\nconst momExportsFobPct = previousFinal ? pctChange(latestFinal.total_exports_fob_usd, previousFinal.total_exports_fob_usd) : null;\nconst yoyExportsKgPct = yoyFinal ? pctChange(latestFinal.total_exports_kg, yoyFinal.total_exports_kg) : null;\nconst yoyExportsFobPct = yoyFinal ? pctChange(latestFinal.total_exports_fob_usd, yoyFinal.total_exports_fob_usd) : null;\nconst avgPriceMomPct = previousFinal ? pctChange(latestFinal.avg_fob_usd_per_kg, previousFinal.avg_fob_usd_per_kg) : null;\nconst avgPriceYoYPct = yoyFinal ? pctChange(latestFinal.avg_fob_usd_per_kg, yoyFinal.avg_fob_usd_per_kg) : null;\nconst greenShareChangePpYoY = yoyFinal ? sharePpChange(latestFinal.product_mix.green.share_kg_pct, yoyFinal.product_mix.green.share_kg_pct) : null;\nconst roastedShareChangePpYoY = yoyFinal ? sharePpChange(latestFinal.product_mix.roasted.share_kg_pct, yoyFinal.product_mix.roasted.share_kg_pct) : null;\nconst solubleShareChangePpYoY = yoyFinal ? sharePpChange(latestFinal.product_mix.soluble.share_kg_pct, yoyFinal.product_mix.soluble.share_kg_pct) : null;\n\nconst signals = [];\nif (yoyExportsKgPct !== null && yoyExportsKgPct >= 10) signals.push('export_volume_yoy_up');\nif (yoyExportsKgPct !== null && yoyExportsKgPct <= -10) signals.push('export_volume_yoy_down');\nif (yoyExportsFobPct !== null && yoyExportsFobPct >= 10) signals.push('export_value_yoy_up');\nif (yoyExportsFobPct !== null && yoyExportsFobPct <= -10) signals.push('export_value_yoy_down');\nif (avgPriceYoYPct !== null && avgPriceYoYPct >= 10) signals.push('average_export_price_rising');\nif (avgPriceYoYPct !== null && avgPriceYoYPct <= -10) signals.push('average_export_price_falling');\nif (solubleShareChangePpYoY !== null && solubleShareChangePpYoY >= 3) signals.push('soluble_share_rising');\nif (roastedShareChangePpYoY !== null && roastedShareChangePpYoY >= 2) signals.push('roasted_share_rising');\nif (top3DestinationsSharePct !== null && top3DestinationsSharePct >= 60) signals.push('destination_concentration_high');\nif (sharePct(focusStatesKgTotal, latestAgg.total_exports_kg, 4) !== null && sharePct(focusStatesKgTotal, latestAgg.total_exports_kg, 4) >= 80) signals.push('focus_states_export_concentration_high');\nif (yoyExportsFobPct !== null && yoyExportsFobPct >= 10 && yoyExportsKgPct !== null && Math.abs(yoyExportsKgPct) < 5) signals.push('export_value_up_volume_flat');\n\nlet movementLabel = 'mixed';\nif ((solubleShareChangePpYoY !== null && solubleShareChangePpYoY >= 3) || (roastedShareChangePpYoY !== null && roastedShareChangePpYoY >= 2) || (greenShareChangePpYoY !== null && greenShareChangePpYoY <= -3)) {\n  movementLabel = 'mix_shift';\n} else if ((yoyExportsKgPct !== null && yoyExportsKgPct >= 10) || (momExportsKgPct !== null && momExportsKgPct >= 10)) {\n  movementLabel = 'export_pressure_rising';\n} else if ((yoyExportsKgPct !== null && yoyExportsKgPct <= -10) || (momExportsKgPct !== null && momExportsKgPct <= -10)) {\n  movementLabel = 'export_pressure_easing';\n}\n\nconst focusStatesShareKgPct = sharePct(focusStatesKgTotal, latestAgg.total_exports_kg, 4);\nconst focusStatesShareFobPct = sharePct(focusStatesFobTotal, latestAgg.total_exports_fob_usd, 4);\n\nlet riskLevel = 'low';\nconst riskScore = [\n  yoyExportsKgPct !== null && yoyExportsKgPct >= 10,\n  top3DestinationsSharePct !== null && top3DestinationsSharePct >= 60,\n  focusStatesShareKgPct !== null && focusStatesShareKgPct >= 80,\n  avgPriceYoYPct !== null && avgPriceYoYPct >= 10,\n].filter(Boolean).length;\nif (riskScore >= 3) riskLevel = 'high';\nelse if (riskScore >= 1) riskLevel = 'medium';\n\nconst dominantGroup = ['green', 'roasted', 'soluble', 'unknown']\n  .map((group) => ({\n    group,\n    share: latestFinal.product_mix[group].share_kg_pct || 0,\n  }))\n  .sort((a, b) => b.share - a.share)[0];\n\nlet summaryEn = 'Latest Comex Stat export snapshot for ' + latestFinal.period + ' shows ' + formatNumber(latestFinal.total_exports_kg, 2) + ' kg and ' + formatNumber(latestFinal.total_exports_fob_usd, 2) + ' USD FOB in Brazilian coffee exports.';\nif (dominantGroup && dominantGroup.group !== 'unknown') {\n  summaryEn += ' ' + dominantGroup.group.charAt(0).toUpperCase() + dominantGroup.group.slice(1) + ' coffee accounted for ' + formatNumber(dominantGroup.share, 2) + '% of export volume.';\n}\nif (previousFinal) {\n  summaryEn += ' Versus ' + previousFinal.period + ', export volume changed by ' + formatNumber(momExportsKgPct, 4) + '% and export value by ' + formatNumber(momExportsFobPct, 4) + '%.';\n}\nif (yoyFinal) {\n  summaryEn += ' Versus ' + yoyFinal.period + ', export volume changed by ' + formatNumber(yoyExportsKgPct, 4) + '% and the average export price by ' + formatNumber(avgPriceYoYPct, 4) + '%.';\n}\nif (topDestinations.length) {\n  summaryEn += ' The top destination was ' + topDestinations[0].country + '.';\n}\n\nconst recentTailPeriods = new Set(periods.slice(-6));\n\nreturn [{\n  json: {\n    source: 'COMEX_STAT',\n    source_format: 'json_api',\n    source_base_url: meta.source_base_url,\n    source_updated_date: meta.source_updated_date,\n    country: 'BR',\n    macroarea: 'crops',\n    flow: 'export',\n    collected_at: now,\n    updated_reference: {\n      updated: meta.source_updated_date,\n      year: meta.latest_available_year,\n      month: meta.latest_available_month,\n      period: meta.latest_available_period,\n    },\n    lookback_months: meta.lookback_months,\n    ncm_codes: meta.ncm_codes,\n    ncm_groups: meta.ncm_groups,\n    latest_month: {\n      period: latestFinal.period,\n      total_exports_fob_usd: latestFinal.total_exports_fob_usd,\n      total_exports_kg: latestFinal.total_exports_kg,\n      total_exports_statistic_qty: latestFinal.total_exports_statistic_qty,\n      avg_fob_usd_per_kg: latestFinal.avg_fob_usd_per_kg,\n    },\n    previous_month: previousFinal ? {\n      period: previousFinal.period,\n      total_exports_fob_usd: previousFinal.total_exports_fob_usd,\n      total_exports_kg: previousFinal.total_exports_kg,\n      total_exports_statistic_qty: previousFinal.total_exports_statistic_qty,\n      avg_fob_usd_per_kg: previousFinal.avg_fob_usd_per_kg,\n    } : null,\n    same_month_previous_year: yoyFinal ? {\n      period: yoyFinal.period,\n      total_exports_fob_usd: yoyFinal.total_exports_fob_usd,\n      total_exports_kg: yoyFinal.total_exports_kg,\n      total_exports_statistic_qty: yoyFinal.total_exports_statistic_qty,\n      avg_fob_usd_per_kg: yoyFinal.avg_fob_usd_per_kg,\n    } : null,\n    product_mix: {\n      green: latestFinal.product_mix.green,\n      roasted: latestFinal.product_mix.roasted,\n      soluble: latestFinal.product_mix.soluble,\n    },\n    focus_states,\n    top_destinations: topDestinations,\n    derived_metrics: {\n      mom_exports_kg_pct: momExportsKgPct,\n      mom_exports_fob_pct: momExportsFobPct,\n      yoy_exports_kg_pct: yoyExportsKgPct,\n      yoy_exports_fob_pct: yoyExportsFobPct,\n      avg_price_mom_pct: avgPriceMomPct,\n      avg_price_yoy_pct: avgPriceYoYPct,\n      green_share_change_pp_yoy: greenShareChangePpYoY,\n      roasted_share_change_pp_yoy: roastedShareChangePpYoY,\n      soluble_share_change_pp_yoy: solubleShareChangePpYoY,\n      top_destination_share_pct: topDestinationSharePct,\n      top_3_destinations_share_pct: top3DestinationsSharePct,\n      focus_states_share_fob_pct: focusStatesShareFobPct,\n      focus_states_share_kg_pct: focusStatesShareKgPct,\n    },\n    movement_label: movementLabel,\n    risk_level: riskLevel,\n    signals: Array.from(new Set(signals)),\n    summary_en: summaryEn,\n    recent_series: recentSeries,\n    raw_rows_latest_month_destinations: rawDestinationRows.filter((row) => row.period === latestPeriod).slice(0, 100),\n    raw_rows_state_series_tail: rawStateRows.filter((row) => recentTailPeriods.has(row.period)).slice(0, 250),\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-4960],"id":"comex-parse-node","name":"Comex Parse"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify({ updated_reference: $json.updated_reference, latest_month: $json.latest_month, previous_month: $json.previous_month, same_month_previous_year: $json.same_month_previous_year, product_mix: $json.product_mix, focus_states: $json.focus_states, top_destinations: $json.top_destinations, derived_metrics: $json.derived_metrics, recent_series: $json.recent_series, rule_based_signals: $json.signals, rule_based_movement_label: $json.movement_label, rule_based_risk_level: $json.risk_level, fallback_summary_en: $json.summary_en }, null, 2) }}","messages":{"messageValues":[{"message":"You are interpreting structured Comex Stat export data for Brazilian coffee for a Lavazza intelligence system. Focus on export pressure, product mix, concentration across Minas Gerais, Espírito Santo, Bahia, and Rondônia, and concentration across destination markets. Use only the provided metrics and return only valid JSON.\n\nOutput format:\n{\n  \"movement_label\": \"export_pressure_rising|export_pressure_easing|mix_shift|mixed\",\n  \"risk_level\": \"low|medium|high\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 6 short strings about export volume, export value, export price, product mix, state concentration, or destination concentration\n- higher export pressure and higher concentration can imply higher risk to Brazilian coffee export balance\n- movement_label = mix_shift when the main change is green/roasted/soluble composition rather than aggregate export volume\n- summary_en must be 1-2 English sentences\n- return JSON only, with no extra text."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-400,-5080],"id":"comex-ai-signals-chain-node","name":"Comex AI Signals"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-400,-4880],"id":"comex-openai-signals-node","name":"Comex OpenAI Signals Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"jsCode":"const raw = ($json.text || '').trim();\nconst cleaned = raw\n  .replace(/^```json\\\\s*/i, '')\n  .replace(/^```\\\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('Comex Parse').item.json;\n\nreturn [{\n  json: {\n    ...base,\n    rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n    rule_based_movement_label: base.movement_label || 'mixed',\n    rule_based_risk_level: base.risk_level || 'low',\n    fallback_summary_en: base.summary_en || '',\n    movement_label: parsed.movement_label || base.movement_label || 'mixed',\n    risk_level: parsed.risk_level || base.risk_level || 'low',\n    signals: Array.isArray(parsed.signals) ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n    summary_en: parsed.summary_en || base.summary_en || '',\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-4960],"id":"comex-parse-signals-node","name":"Comex Parse Signals"},{"parameters":{"operation":"insert","collection":"raw_crops","options":{},"fields":"source,source_format,source_base_url,source_updated_date,country,macroarea,flow,collected_at,updated_reference,lookback_months,ncm_codes,ncm_groups,latest_month,previous_month,same_month_previous_year,product_mix,focus_states,top_destinations,derived_metrics,movement_label,risk_level,signals,summary_en,recent_series,raw_rows_latest_month_destinations,raw_rows_state_series_tail"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[80,-4960],"id":"comex-mongo-raw-crops-node","name":"Comex MongoDB raw_crops","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst meta = $('Comex Parse Signals').item.json;\n\nreturn [{\n  json: {\n    source: 'COMEX_STAT',\n    country: 'BR',\n    macroarea: 'crops',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    report_period: meta.updated_reference ? meta.updated_reference.period : null,\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-4960],"id":"comex-build-log-node","name":"Comex Build Ingestion Log"},{"parameters":{"operation":"insert","collection":"ingestion_log","options":{},"fields":"source,country,run_date,status,completed_at"},"type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[560,-4960],"id":"comex-mongo-log-node","name":"Comex MongoDB ingestion_log","credentials":{"mongoDb":{"id":"Jo4ZHZCY4HM8JRrD","name":"MongoDB account"}}}],"pinData":{},"connections":{"GDELT caffè":{"main":[[{"node":"Wait 4s 1","type":"main","index":0}]]},"Wait 4s 1":{"main":[[{"node":"GDELT proteste","type":"main","index":0}]]},"GDELT proteste":{"main":[[{"node":"Wait 4s 2","type":"main","index":0}]]},"Wait 4s 2":{"main":[[{"node":"GDELT porti","type":"main","index":0}]]},"GDELT porti":{"main":[[{"node":"Wait 4s 3","type":"main","index":0}]]},"Wait 4s 3":{"main":[[{"node":"GDELT politica","type":"main","index":0}]]},"GDELT politica":{"main":[[{"node":"Wait 4s 4","type":"main","index":0}]]},"Wait 4s 4":{"main":[[{"node":"GDELT disastri","type":"main","index":0}]]},"GDELT disastri":{"main":[[{"node":"GDELT Multi-Query","type":"main","index":0}]]},"GDELT Multi-Query":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Build Ingestion Log","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Scrape Article","type":"main","index":0}],[]]},"Scrape Article":{"main":[[{"node":"Strip HTML","type":"main","index":0}]]},"Strip HTML":{"main":[[{"node":"Extract Signals","type":"main","index":0}]]},"OpenAI Extract Model":{"ai_languageModel":[[{"node":"Extract Signals","type":"ai_languageModel","index":0}]]},"Extract Signals":{"main":[[{"node":"Parse Signals","type":"main","index":0}]]},"Parse Signals":{"main":[[{"node":"MongoDB raw_geo","type":"main","index":0}]]},"MongoDB raw_geo":{"main":[[{"node":"OpenAI Embeddings","type":"main","index":0}]]},"OpenAI Embeddings":{"main":[[{"node":"Build Qdrant Payload","type":"main","index":0}]]},"Build Qdrant Payload":{"main":[[{"node":"Qdrant Upsert","type":"main","index":0}]]},"Build Ingestion Log":{"main":[[{"node":"MongoDB ingestion_log","type":"main","index":0}]]},"WTO RSS Fetch":{"main":[[{"node":"WTO Loop","type":"main","index":0}]]},"WTO Loop":{"main":[[{"node":"WTO Build Ingestion Log","type":"main","index":0}],[{"node":"WTO Wait","type":"main","index":0}]]},"WTO Wait":{"main":[[{"node":"WTO LLM Filter","type":"main","index":0}]]},"WTO OpenAI Filter Model":{"ai_languageModel":[[{"node":"WTO LLM Filter","type":"ai_languageModel","index":0}]]},"WTO LLM Filter":{"main":[[{"node":"WTO Parse Filter","type":"main","index":0}]]},"WTO Parse Filter":{"main":[[{"node":"WTO If","type":"main","index":0}]]},"WTO If":{"main":[[{"node":"WTO Extract Signals","type":"main","index":0}],[]]},"WTO OpenAI Extract Model":{"ai_languageModel":[[{"node":"WTO Extract Signals","type":"ai_languageModel","index":0}]]},"WTO Extract Signals":{"main":[[{"node":"WTO Parse Signals","type":"main","index":0}]]},"WTO Parse Signals":{"main":[[{"node":"WTO MongoDB raw_geo","type":"main","index":0}]]},"WTO MongoDB raw_geo":{"main":[[{"node":"WTO OpenAI Embeddings","type":"main","index":0}]]},"WTO OpenAI Embeddings":{"main":[[{"node":"WTO Build Qdrant Payload","type":"main","index":0}]]},"WTO Build Qdrant Payload":{"main":[[{"node":"WTO Qdrant Upsert","type":"main","index":0}]]},"WTO Build Ingestion Log":{"main":[[{"node":"WTO MongoDB ingestion_log","type":"main","index":0}]]},"NOAA ENSO Download":{"main":[[{"node":"NOAA ENSO Parse","type":"main","index":0}]]},"NOAA ENSO Parse":{"main":[[{"node":"NOAA MongoDB raw_environment","type":"main","index":0}]]},"NOAA MongoDB raw_environment":{"main":[[{"node":"NOAA Build Ingestion Log","type":"main","index":0}]]},"NOAA Build Ingestion Log":{"main":[[{"node":"NOAA MongoDB ingestion_log","type":"main","index":0}]]},"NASA FIRMS Download":{"main":[[{"node":"NASA FIRMS Parse","type":"main","index":0}]]},"NASA FIRMS Parse":{"main":[[{"node":"NASA MongoDB raw_environment","type":"main","index":0}]]},"NASA MongoDB raw_environment":{"main":[[{"node":"NASA Build Ingestion Log","type":"main","index":0}]]},"NASA Build Ingestion Log":{"main":[[{"node":"NASA MongoDB ingestion_log","type":"main","index":0}]]},"BCB PTAX Download":{"main":[[{"node":"BCB PTAX Parse","type":"main","index":0}]]},"BCB PTAX Parse":{"main":[[{"node":"BCB MongoDB raw_prices","type":"main","index":0}]]},"BCB MongoDB raw_prices":{"main":[[{"node":"BCB Build Ingestion Log","type":"main","index":0}]]},"BCB Build Ingestion Log":{"main":[[{"node":"BCB MongoDB ingestion_log","type":"main","index":0}]]},"ECB Data Portal Download":{"main":[[{"node":"ECB Data Portal Parse","type":"main","index":0}]]},"ECB Data Portal Parse":{"main":[[{"node":"ECB MongoDB raw_prices","type":"main","index":0}]]},"ECB MongoDB raw_prices":{"main":[[{"node":"ECB Build Ingestion Log","type":"main","index":0}]]},"ECB Build Ingestion Log":{"main":[[{"node":"ECB MongoDB ingestion_log","type":"main","index":0}]]},"World Bank Pink Sheet Download":{"main":[[{"node":"World Bank Pink Sheet Extract","type":"main","index":0}]]},"World Bank Pink Sheet Extract":{"main":[[{"node":"World Bank Pink Sheet Parse","type":"main","index":0}]]},"World Bank Pink Sheet Parse":{"main":[[{"node":"World Bank MongoDB raw_prices","type":"main","index":0}]]},"World Bank MongoDB raw_prices":{"main":[[{"node":"World Bank Build Ingestion Log","type":"main","index":0}]]},"World Bank Build Ingestion Log":{"main":[[{"node":"World Bank MongoDB ingestion_log","type":"main","index":0}]]},"USDA Build Year List":{"main":[[{"node":"USDA Fetch Year Data","type":"main","index":0}]]},"USDA Fetch Year Data":{"main":[[{"node":"USDA Parse PSD","type":"main","index":0}]]},"USDA Parse PSD":{"main":[[{"node":"USDA AI Signals","type":"main","index":0}]]},"USDA OpenAI Signals Model":{"ai_languageModel":[[{"node":"USDA AI Signals","type":"ai_languageModel","index":0}]]},"USDA AI Signals":{"main":[[{"node":"USDA Parse Signals","type":"main","index":0}]]},"USDA Parse Signals":{"main":[[{"node":"USDA MongoDB raw_crops","type":"main","index":0}]]},"USDA MongoDB raw_crops":{"main":[[{"node":"USDA Build Ingestion Log","type":"main","index":0}]]},"USDA Build Ingestion Log":{"main":[[{"node":"USDA MongoDB ingestion_log","type":"main","index":0}]]},"IBGE SIDRA Download":{"main":[[{"node":"IBGE SIDRA Parse","type":"main","index":0}]]},"IBGE SIDRA Parse":{"main":[[{"node":"IBGE AI Signals","type":"main","index":0}]]},"IBGE OpenAI Signals Model":{"ai_languageModel":[[{"node":"IBGE AI Signals","type":"ai_languageModel","index":0}]]},"IBGE AI Signals":{"main":[[{"node":"IBGE Parse Signals","type":"main","index":0}]]},"IBGE Parse Signals":{"main":[[{"node":"IBGE MongoDB raw_crops","type":"main","index":0}]]},"IBGE MongoDB raw_crops":{"main":[[{"node":"IBGE Build Ingestion Log","type":"main","index":0}]]},"IBGE Build Ingestion Log":{"main":[[{"node":"IBGE MongoDB ingestion_log","type":"main","index":0}]]},"CONAB Index Download":{"main":[[{"node":"CONAB Parse Latest Release","type":"main","index":0}]]},"CONAB Parse Latest Release":{"main":[[{"node":"CONAB Download Table","type":"main","index":0}]]},"CONAB Download Table":{"main":[[{"node":"CONAB Extract Table","type":"main","index":0}]]},"CONAB Extract Table":{"main":[[{"node":"CONAB Parse Table","type":"main","index":0}]]},"CONAB Parse Table":{"main":[[{"node":"CONAB Download PDF","type":"main","index":0}]]},"CONAB Download PDF":{"main":[[{"node":"CONAB Extract PDF","type":"main","index":0}]]},"CONAB Extract PDF":{"main":[[{"node":"CONAB AI Signals","type":"main","index":0}]]},"CONAB OpenAI Signals Model":{"ai_languageModel":[[{"node":"CONAB AI Signals","type":"ai_languageModel","index":0}]]},"CONAB AI Signals":{"main":[[{"node":"CONAB Parse Signals","type":"main","index":0}]]},"CONAB Parse Signals":{"main":[[{"node":"CONAB MongoDB raw_crops","type":"main","index":0}]]},"CONAB MongoDB raw_crops":{"main":[[{"node":"CONAB OpenAI Embeddings","type":"main","index":0}]]},"CONAB OpenAI Embeddings":{"main":[[{"node":"CONAB Build Qdrant Payload","type":"main","index":0}]]},"CONAB Build Qdrant Payload":{"main":[[{"node":"CONAB Qdrant Upsert","type":"main","index":0}]]},"CONAB Qdrant Upsert":{"main":[[{"node":"CONAB Build Ingestion Log","type":"main","index":0}]]},"CONAB Build Ingestion Log":{"main":[[{"node":"CONAB MongoDB ingestion_log","type":"main","index":0}]]},"Port Congestion Snapshot":{"main":[[{"node":"Port Congestion Parse","type":"main","index":0}]]},"Port Congestion Parse":{"main":[[{"node":"Port MongoDB raw_geo","type":"main","index":0}]]},"Port MongoDB raw_geo":{"main":[[{"node":"Port OpenAI Embeddings","type":"main","index":0}]]},"Port OpenAI Embeddings":{"main":[[{"node":"Port Build Qdrant Payload","type":"main","index":0}]]},"Port Build Qdrant Payload":{"main":[[{"node":"Port Qdrant Upsert","type":"main","index":0}]]},"Port Qdrant Upsert":{"main":[[{"node":"Port Build Ingestion Log","type":"main","index":0}]]},"Port Build Ingestion Log":{"main":[[{"node":"Port MongoDB ingestion_log","type":"main","index":0}]]},"Comex Updated Check":{"main":[[{"node":"Comex Build Query Params","type":"main","index":0}]]},"Comex Build Query Params":{"main":[[{"node":"Comex State Series","type":"main","index":0}]]},"Comex State Series":{"main":[[{"node":"Comex Destination Snapshot","type":"main","index":0}]]},"Comex Destination Snapshot":{"main":[[{"node":"Comex Parse","type":"main","index":0}]]},"Comex Parse":{"main":[[{"node":"Comex AI Signals","type":"main","index":0}]]},"Comex OpenAI Signals Model":{"ai_languageModel":[[{"node":"Comex AI Signals","type":"ai_languageModel","index":0}]]},"Comex AI Signals":{"main":[[{"node":"Comex Parse Signals","type":"main","index":0}]]},"Comex Parse Signals":{"main":[[{"node":"Comex MongoDB raw_crops","type":"main","index":0}]]},"Comex MongoDB raw_crops":{"main":[[{"node":"Comex Build Ingestion Log","type":"main","index":0}]]},"Comex Build Ingestion Log":{"main":[[{"node":"Comex MongoDB ingestion_log","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"versionId":"b9def83d-a909-4ab3-92e0-80d6d01b7169","meta":{"templateCredsSetupCompleted":true,"instanceId":"2be5d016e514bca7075b92e7e4319cc52b5ecaf9d38e791fac92ccc23d3d69ba"},"id":"wMkgfDo8WSmHHs1J","tags":[]}