docker/local-files/workflows/wMkgfDo8WSmHHs1J.json
{"updatedAt":"2026-03-26T00:01:06.579Z","createdAt":"2026-03-25T11:20:09.805Z","id":"wMkgfDo8WSmHHs1J","name":"Lavazza Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,-96],"id":"c977b212-77a3-47fe-a1d3-7a281de95520","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://api.gdeltproject.org/api/v2/doc/doc","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"(coffee OR cafe OR café OR cafeicultura) sourcecountry:brazil"},{"name":"mode","value":"artlist"},{"name":"maxrecords","value":"250"},{"name":"sort","value":"datedesc"},{"name":"timespan","value":"1d"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-16,-160],"id":"69867afe-1da4-4c66-9411-f01952bf0629","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"articles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[208,-160],"id":"2bd36081-4e19-4991-8b0a-150e51b57bbb","name":"Split Out"},{"parameters":{"promptType":"define","text":"=={{\n`URL: ${$json.url}\nTitle: ${$json.title}\nDomain: ${$json.domain}\nLanguage: ${$json.language}\nSource Country: ${$json.sourcecountry}\nSeen Date: ${$json.seendate}`\n}}\n","messages":{"messageValues":[{"message":"=You are filtering news articles for a Lavazza intelligence system that monitors risks related to coffee origins in Brazil.\n\nDecide whether an article is relevant and worth keeping for downstream scraping and analysis.\n\nAn article is relevant only if it is substantially related to at least one of the following:\n- coffee production in Brazil\n- Brazilian coffee-growing regions\n- agribusiness, agriculture, exports, logistics, trade, tariffs, regulation, or policy that may affect Brazilian coffee\n- environmental, climate, wildfire, drought, ENSO, or crop-related conditions that may affect Brazilian coffee\n- geopolitical, economic, or supply-chain developments with plausible impact on Brazilian coffee production or exports\n\nReject articles that are mainly about:\n- cafes, coffee shops, restaurants, tourism, lifestyle, recipes, or coffee culture\n- entertainment, sports, celebrities, general crime, or unrelated politics\n- coffee in general without a meaningful connection to Brazil\n- Brazil in general without a meaningful connection to coffee, agriculture, agribusiness, climate risk, or export/logistics risk\n\nBe conservative. Keep only clearly useful articles.\n\nReturn only valid JSON in this exact format:\n\n{\n  \"keep_article\": true,\n  \"relevance_score\": 0,\n  \"is_about_brazil\": true,\n  \"is_in_scope\": true,\n  \"topic\": \"geo\",\n  \"reason\": \"short explanation\"\n}\n\nRules:\n- keep_article must be true only if both is_about_brazil and is_in_scope are true.\n- relevance_score must be an integer from 0 to 100.\n- topic must be one of: \"geo\", \"crops\", \"prices\", \"environment\", \"other\".\n- reason must be short and specific.\n- Return JSON only, with no extra text.\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[912,-176],"id":"8defd02c-1f5a-478c-8c9d-ab86260d74c5","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-codex","mode":"list","cachedResultName":"gpt-5-codex"},"builtInTools":{},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[928,0],"id":"3a2be490-1aa8-4871-9993-f44d7206d30c","name":"OpenAI Chat Model","retryOnFail":true,"credentials":{"openAiApi":{"id":"0Vum5STk59lUOybm","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[496,-160],"id":"53425f35-9127-4164-9164-40028a7aaac5","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,-176],"id":"0eed6eba-7283-47cd-a0ba-b4d7dfd06245","name":"Wait","webhookId":"6051aa69-e3ba-44e6-ad12-f044f14540b6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"90f83ad7-988e-4c18-99f8-7b4cf54f2e9a","leftValue":"=={{ $json.keep_article }}\n","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,-176],"id":"5c9e8e85-08f9-482e-9d4b-3bcc44358a5f","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8fbcbc2a-6f49-41cf-9f48-fb46999a9bb1","activeVersionId":null,"versionCounter":166,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T11:20:09.808Z","createdAt":"2026-03-25T11:20:09.808Z","role":"workflow:owner","workflowId":"wMkgfDo8WSmHHs1J","projectId":"q8JpgDwRngOnEhbc","project":{"updatedAt":"2026-03-25T11:18:29.801Z","createdAt":"2026-03-25T00:11:22.563Z","id":"q8JpgDwRngOnEhbc","name":"Vittorio Di Giorgio <vittorio.digiorgio@hotmail.it>","type":"personal","icon":null,"description":null,"creatorId":"f704a28c-fb3a-459a-bbef-0fc10642972b"}}],"versionMetadata":{"name":null,"description":null}}