docker/local-files/workflows/split/07-world-bank-pink-sheet.json
{
  "name": "Lavazza - World Bank Pink Sheet",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "manual-trigger-worldbank",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "schedule-trigger-worldbank",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.excelUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        780,
        0
      ],
      "id": "wb-pink-sheet-download-node",
      "name": "World Bank Pink Sheet Download",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "data",
        "options": {
          "sheetName": "Monthly Prices",
          "range": "A5:BZ5000",
          "includeEmptyCells": true,
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1560,
        0
      ],
      "id": "wb-pink-sheet-extract-node",
      "name": "World Bank Pink Sheet Extract"
    },
    {
      "parameters": {
        "jsCode": "function getCollectedPeriod(isoTs, cadenza) {\n  const d = new Date(isoTs || new Date().toISOString());\n  const pad = n => String(n).padStart(2, '0');\n  const yyyy = d.getUTCFullYear();\n  const mm = pad(d.getUTCMonth() + 1);\n  const dd = pad(d.getUTCDate());\n  const hh = pad(d.getUTCHours());\n  const doy = Math.floor((d - new Date(Date.UTC(yyyy,0,1))) / 86400000);\n  const week = pad(Math.ceil((doy + new Date(Date.UTC(yyyy,0,1)).getUTCDay() + 1) / 7));\n  switch((cadenza||'').toLowerCase()) {\n    case 'hourly':  return `${yyyy}-${mm}-${dd}T${hh}`;\n    case 'daily':   return `${yyyy}-${mm}-${dd}`;\n    case 'weekly':  return `${yyyy}-W${week}`;\n    case 'monthly': return `${yyyy}-${mm}`;\n    default:        return `${yyyy}-${mm}-${dd}`;\n  }\n}\nconst now = new Date().toISOString();\nconst _collectedPeriod = getCollectedPeriod(now, 'monthly');\nconst expectedFreshnessHours = 24 * 35;\nconst isFresh = (new Date() - new Date(now)) / 3600000 < expectedFreshnessHours;\n\nconst lookbackMonths = 120;\nconst sourceFileUrl = $('World Bank Extract URL').item.json.excelUrl;\nconst extractedRows = $input.all()\n  .map((item) => Array.isArray(item.json.row) ? item.json.row : [])\n  .filter((row) => row.length);\n\nif (extractedRows.length < 4) {\n  throw new Error('World Bank Pink Sheet extract returned too few rows');\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').trim();\n}\n\nfunction normalizeNumber(value, decimals = 4) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === 'number') {\n    if (!Number.isFinite(value)) return null;\n    return Number(value.toFixed(decimals));\n  }\n\n  const text = normalizeText(value);\n  if (!text || text === '...' || text === '…') return null;\n\n  const numeric = Number(text.replace(/,/g, ''));\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nfunction parsePeriod(periodRaw) {\n  const match = /^(\\d{4})M(\\d{2})$/.exec(periodRaw);\n  if (!match) return null;\n  return {\n    period_raw: periodRaw,\n    report_month: `${match[1]}-${match[2]}`,\n    report_date: `${match[1]}-${match[2]}-01`\n  };\n}\n\nfunction buildStats(values, decimals = 4) {\n  if (!values.length) return null;\n  const min = Math.min(...values);\n  const max = Math.max(...values);\n  const avg = values.reduce((sum, value) => sum + value, 0) / values.length;\n  return {\n    min: Number(min.toFixed(decimals)),\n    avg: Number(avg.toFixed(decimals)),\n    max: Number(max.toFixed(decimals)),\n    range: Number((max - min).toFixed(decimals))\n  };\n}\n\nconst headerRow = extractedRows[0].map(normalizeText);\nconst unitsRow = extractedRows[1].map(normalizeText);\nconst arabicaIndex = headerRow.findIndex((value) => value === 'Coffee, Arabica');\nconst robustaIndex = headerRow.findIndex((value) => value === 'Coffee, Robusta');\n\nif (arabicaIndex === -1 || robustaIndex === -1) {\n  throw new Error('World Bank Pink Sheet columns Coffee, Arabica / Coffee, Robusta not found');\n}\n\nconst arabicaUnit = unitsRow[arabicaIndex] || null;\nconst robustaUnit = unitsRow[robustaIndex] || null;\n\nconst dapIndex       = headerRow.findIndex((v) => v.toLowerCase().includes('dap'));\nconst ureaIndex      = headerRow.findIndex((v) => v.toLowerCase().includes('urea'));\nconst potashIndex    = headerRow.findIndex((v) => v.toLowerCase().includes('potassium') || v.toLowerCase().includes('mop'));\nconst fertAvailable  = dapIndex !== -1 || ureaIndex !== -1 || potashIndex !== -1;\nconst dapUnit        = dapIndex    !== -1 ? (unitsRow[dapIndex]    || null) : null;\nconst ureaUnit       = ureaIndex   !== -1 ? (unitsRow[ureaIndex]   || null) : null;\nconst potashUnit     = potashIndex !== -1 ? (unitsRow[potashIndex] || null) : null;\n\n\nconst rows = extractedRows\n  .slice(2)\n  .map((row) => {\n    const periodInfo = parsePeriod(normalizeText(row[0]));\n    if (!periodInfo) return null;\n\n    const arabica = normalizeNumber(row[arabicaIndex], 4);\n    const robusta = normalizeNumber(row[robustaIndex], 4);\n    if (arabica === null || robusta === null) return null;\n\n    const dap    = dapIndex    !== -1 ? normalizeNumber(row[dapIndex],    4) : null;\n    const urea   = ureaIndex   !== -1 ? normalizeNumber(row[ureaIndex],   4) : null;\n    const potash = potashIndex !== -1 ? normalizeNumber(row[potashIndex], 4) : null;\n    return {\n      ...periodInfo,\n      coffee_arabica_price: arabica,\n      coffee_robusta_price: robusta,\n      arabica_robusta_spread: Number((arabica - robusta).toFixed(4)),\n      dap_usd_t:    dap,\n      urea_usd_t:   urea,\n      potash_usd_t: potash,\n    };\n  })\n  .filter((row) => row !== null)\n  .sort((a, b) => a.period_raw.localeCompare(b.period_raw));\n\nif (!rows.length) {\n  throw new Error('World Bank Pink Sheet returned no valid coffee observations');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-lookbackMonths);\n\nconst fertilizerSeries = rows.map((r) => ({\n  report_date:  r.report_date,\n  report_month: r.report_month,\n  dap_usd_t:    r.dap_usd_t,\n  urea_usd_t:   r.urea_usd_t,\n  potash_usd_t: r.potash_usd_t,\n})).filter((r) => r.dap_usd_t !== null || r.urea_usd_t !== null || r.potash_usd_t !== null);\n\nconst fertilizerLatest = fertilizerSeries.length ? fertilizerSeries[fertilizerSeries.length - 1] : null;\nconst fertilizerPrevious = fertilizerSeries.length > 1 ? fertilizerSeries[fertilizerSeries.length - 2] : null;\nconst fertStats = {\n  dap:    buildStats(fertilizerSeries.map((r) => r.dap_usd_t).filter((v) => v !== null)),\n  urea:   buildStats(fertilizerSeries.map((r) => r.urea_usd_t).filter((v) => v !== null)),\n  potash: buildStats(fertilizerSeries.map((r) => r.potash_usd_t).filter((v) => v !== null)),\n};\n\nconst arabicaStats = buildStats(recentSeries.map((row) => row.coffee_arabica_price));\nconst robustaStats = buildStats(recentSeries.map((row) => row.coffee_robusta_price));\nconst spreadStats = buildStats(recentSeries.map((row) => row.arabica_robusta_spread));\n\nconst changeMomArabica = previous ? Number((latest.coffee_arabica_price - previous.coffee_arabica_price).toFixed(4)) : null;\nconst changePctMomArabica = previous && previous.coffee_arabica_price ? Number((((latest.coffee_arabica_price - previous.coffee_arabica_price) / previous.coffee_arabica_price) * 100).toFixed(4)) : null;\nconst changeMomRobusta = previous ? Number((latest.coffee_robusta_price - previous.coffee_robusta_price).toFixed(4)) : null;\nconst changePctMomRobusta = previous && previous.coffee_robusta_price ? Number((((latest.coffee_robusta_price - previous.coffee_robusta_price) / previous.coffee_robusta_price) * 100).toFixed(4)) : null;\nconst changeMomSpread = previous ? Number((latest.arabica_robusta_spread - previous.arabica_robusta_spread).toFixed(4)) : null;\n\nlet movementLabel = 'mixed';\nif (changeMomArabica === 0 && changeMomRobusta === 0) movementLabel = 'stable';\nelse if ((changeMomArabica ?? 0) > 0 && (changeMomRobusta ?? 0) > 0) movementLabel = 'coffee_benchmarks_up';\nelse if ((changeMomArabica ?? 0) < 0 && (changeMomRobusta ?? 0) < 0) movementLabel = 'coffee_benchmarks_down';\n\nlet summaryEn = `Latest World Bank Pink Sheet monthly observation for ${latest.report_month} shows Arabica at ${latest.coffee_arabica_price.toFixed(4)} USD/kg and Robusta at ${latest.coffee_robusta_price.toFixed(4)} USD/kg.`;\nconst signals = [\n  `Latest Arabica ${latest.coffee_arabica_price.toFixed(4)} USD/kg`,\n  `Latest Robusta ${latest.coffee_robusta_price.toFixed(4)} USD/kg`,\n  `Latest Arabica-Robusta spread ${latest.arabica_robusta_spread.toFixed(4)} USD/kg`,\n  `${lookbackMonths}-month Arabica range ${arabicaStats ? arabicaStats.range.toFixed(4) : 'n/a'} USD/kg`,\n  `${lookbackMonths}-month Robusta range ${robustaStats ? robustaStats.range.toFixed(4) : 'n/a'} USD/kg`\n];\n\nif (previous) {\n  summaryEn += ` Versus ${previous.report_month}, Arabica changed by ${changeMomArabica.toFixed(4)} USD/kg (${changePctMomArabica.toFixed(4)}%) and Robusta changed by ${changeMomRobusta.toFixed(4)} USD/kg (${changePctMomRobusta.toFixed(4)}%).`;\n\n  if (movementLabel === 'coffee_benchmarks_up') {\n    summaryEn += ' Both coffee benchmarks moved up month over month.';\n    signals.push('Arabica and Robusta both increased month over month');\n  } else if (movementLabel === 'coffee_benchmarks_down') {\n    summaryEn += ' Both coffee benchmarks moved down month over month.';\n    signals.push('Arabica and Robusta both decreased month over month');\n  } else if (movementLabel === 'stable') {\n    signals.push('Arabica and Robusta unchanged month over month');\n  } else {\n    summaryEn += ' Arabica and Robusta moved in different directions month over month.';\n    signals.push('Arabica and Robusta moved in different directions month over month');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'WB_PINK_SHEET',\n    source_format: 'xlsx',\n    source_file_url: sourceFileUrl,\n    source_url: sourceFileUrl,\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    collected_period: _collectedPeriod,\n        is_fresh: isFresh,\n    dataset: 'CMO_HISTORICAL_DATA_MONTHLY',\n    sheet_name: 'Monthly Prices',\n    price_unit: arabicaUnit === robustaUnit ? arabicaUnit : null,\n    arabica_unit: arabicaUnit,\n    robusta_unit: robustaUnit,\n    lookback_months: lookbackMonths,\n    total_observations: rows.length,\n    report_period: latest.period_raw,\n    report_month: latest.report_month,\n    report_date: latest.report_date,\n    coffee_arabica_price: latest.coffee_arabica_price,\n    coffee_robusta_price: latest.coffee_robusta_price,\n    arabica_robusta_spread: latest.arabica_robusta_spread,\n    movement_label: movementLabel,\n    previous_report_period: previous ? previous.period_raw : null,\n    previous_report_month: previous ? previous.report_month : null,\n    previous_report_date: previous ? previous.report_date : null,\n    previous_coffee_arabica_price: previous ? previous.coffee_arabica_price : null,\n    previous_coffee_robusta_price: previous ? previous.coffee_robusta_price : null,\n    previous_arabica_robusta_spread: previous ? previous.arabica_robusta_spread : null,\n    change_mom_arabica: changeMomArabica,\n    change_pct_mom_arabica: changePctMomArabica,\n    change_mom_robusta: changeMomRobusta,\n    change_pct_mom_robusta: changePctMomRobusta,\n    change_mom_spread: changeMomSpread,\n    coffee_price_stats_lookback: {\n      arabica: arabicaStats,\n      robusta: robustaStats,\n      spread: spreadStats\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals,\n    fertilizer_available: fertAvailable,\n    fertilizer_units: { dap: dapUnit, urea: ureaUnit, potash: potashUnit },\n    fertilizer_latest: fertilizerLatest,\n    fertilizer_previous: fertilizerPrevious,\n    fertilizer_stats: fertStats,\n    fertilizer_series: fertilizerSeries,\n    _chart_fields: [\"recent_series\", \"fertilizer_series\"]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        0
      ],
      "id": "wb-pink-sheet-parse-node",
      "name": "World Bank Pink Sheet Parse"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "raw_prices",
        "fields": "source,source_url,source_format,source_file_url,country,macroarea,collected_at,collected_period,dataset,sheet_name,price_unit,arabica_unit,robusta_unit,lookback_months,total_observations,report_period,report_month,report_date,coffee_arabica_price,coffee_robusta_price,arabica_robusta_spread,movement_label,previous_report_period,previous_report_month,previous_report_date,previous_coffee_arabica_price,previous_coffee_robusta_price,previous_arabica_robusta_spread,change_mom_arabica,change_pct_mom_arabica,change_mom_robusta,change_pct_mom_robusta,change_mom_spread,coffee_price_stats_lookback,recent_series,fertilizer_available,fertilizer_units,fertilizer_latest,fertilizer_previous,fertilizer_stats,fertilizer_series,summary_en,signals,_chart_fields",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2600,
        0
      ],
      "id": "wb-mongo-raw-prices-node",
      "name": "World Bank MongoDB raw_prices",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\nconst meta = $('World Bank Parse Signals').item.json;\n\nreturn [{\n  json: {\n    source: 'WB_PINK_SHEET',\n    country: 'BR',\n    macroarea: 'prices',\n    cadenza: 'monthly',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    report_period: meta.report_period || null,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        0
      ],
      "id": "wb-build-log-node",
      "name": "World Bank Build Ingestion Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ingestion_log",
        "fields": "source,country,macroarea,cadenza,run_date,status,completed_at"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3120,
        0
      ],
      "id": "wb-mongo-log-node",
      "name": "World Bank MongoDB ingestion_log",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.worldbank.org/en/research/commodity-markets",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        260,
        0
      ],
      "id": "wb-fetch-page-node",
      "name": "World Bank Fetch Page"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\nconst match = /https:\\/\\/thedocs\\.worldbank\\.org\\/en\\/doc\\/[^\"']+CMO-Historical-Data-Monthly\\.xlsx/.exec(html);\nif (!match) {\n  throw new Error('World Bank Pink Sheet: URL Excel non trovato nella pagina commodity-markets');\n}\nreturn [{ json: { excelUrl: match[0] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "wb-extract-url-node",
      "name": "World Bank Extract URL"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ report_period: $json.report_period, coffee_arabica_price: $json.coffee_arabica_price, coffee_robusta_price: $json.coffee_robusta_price, arabica_robusta_spread: $json.arabica_robusta_spread, change_pct_mom_arabica: $json.change_pct_mom_arabica, change_pct_mom_robusta: $json.change_pct_mom_robusta, coffee_price_stats_lookback: $json.coffee_price_stats_lookback, movement_label: $json.movement_label, rule_based_signals: $json.signals, fallback_summary_en: $json.summary_en }, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are interpreting World Bank Pink Sheet commodity price data for a Lavazza coffee intelligence system. Report arabica and robusta prices, spread, and recent trend. Describe what is happening factually — do not judge if it is good or bad for Lavazza.\n\nOutput format:\n{\n  \"movement_label\": \"...\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nmovement_label options: prices_rising|prices_falling|prices_stable|prices_volatile\nRules:\n- signals: max 5 short English strings describing observable facts\n- DO NOT assign positive/negative valence — just describe what is happening\n- movement_label: one concise label describing the current situation\n- summary_en: 1-2 English sentences, factual only\n- return JSON only, no extra text"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2080,
        0
      ],
      "id": "wb-ai-signals-node",
      "name": "World Bank AI Signals",
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2080,
        240
      ],
      "id": "wb-openai-signals-node",
      "name": "World Bank OpenAI Signals Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.text || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/```$/i,'').trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('World Bank Pink Sheet Parse').item.json;\n\nreturn [{ json: {\n  ...base,\n  rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n  rule_based_movement_label: base.movement_label || 'mixed',\n  fallback_summary_en: base.summary_en || '',\n  movement_label: parsed.movement_label || base.movement_label || 'mixed',\n  signals: Array.isArray(parsed.signals) && parsed.signals.length ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n  summary_en: parsed.summary_en || base.summary_en || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        0
      ],
      "id": "wb-parse-signals-node",
      "name": "World Bank Parse Signals"
    },
    {
      "id": "8e25f285-884a-469a-bd49-7582168c7c03",
      "name": "API Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst err = item.json?.error ?? item.error?.message ?? '';\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 0;\nif (err || statusCode >= 400) {\n  return [{ json: {\n    _api_skip: true,\n    source: '07_WORLD_BANK_PINK_SHEET',\n    country: 'BR',\n    status: 'skipped_api_error',\n    reason: `API unavailable: ${err || 'HTTP ' + statusCode}`,\n    run_date: new Date().toISOString(),\n    completed_at: new Date().toISOString()\n  } }];\n}\nreturn [{ json: item.json, binary: item.binary }];"
      }
    },
    {
      "id": "e946a122-722e-4e04-b77d-39d5e837ca8c",
      "name": "API Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5a06d088-f8f7-4e18-964a-b01df30e1797",
              "leftValue": "={{ $json._api_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "d66f935d-8eb5-419b-b478-c43601393e79",
      "name": "Return Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3380,
        0
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f436426a-13e9-41db-87d8-850c6be25fd2",
              "name": "workflow",
              "value": "=07-world-bank-pink-sheet",
              "type": "string"
            },
            {
              "id": "b3821604-6c2a-40f8-b812-43f188464a7d",
              "name": "status",
              "value": "={{ $json.status || 'done' }}",
              "type": "string"
            },
            {
              "id": "1e5b37e3-484c-4b4e-8256-f2d572f33d70",
              "name": "completed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ],
      "id": "execute-workflow-trigger-MR9h5J37",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "World Bank Pink Sheet Download": {
      "main": [
        [
          {
            "node": "API Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Pink Sheet Extract": {
      "main": [
        [
          {
            "node": "World Bank Pink Sheet Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Pink Sheet Parse": {
      "main": [
        [
          {
            "node": "World Bank AI Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank MongoDB raw_prices": {
      "main": [
        [
          {
            "node": "World Bank Build Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Build Ingestion Log": {
      "main": [
        [
          {
            "node": "World Bank MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Fetch Page": {
      "main": [
        [
          {
            "node": "World Bank Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Extract URL": {
      "main": [
        [
          {
            "node": "World Bank Pink Sheet Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank OpenAI Signals Model": {
      "ai_languageModel": [
        [
          {
            "node": "World Bank AI Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "World Bank AI Signals": {
      "main": [
        [
          {
            "node": "World Bank Parse Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank Parse Signals": {
      "main": [
        [
          {
            "node": "World Bank MongoDB raw_prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "World Bank Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "World Bank Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Check": {
      "main": [
        [
          {
            "node": "API Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Skip?": {
      "main": [
        [
          {
            "node": "World Bank MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "World Bank Pink Sheet Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Bank MongoDB ingestion_log": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "World Bank Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Status": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [],
  "id": "MR9h5J37EPv0LvFU"
}