docker/local-files/workflows/split/08-ecb-fx.json
{
  "name": "Lavazza - ECB FX",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        -2180
      ],
      "id": "manual-trigger-ecb",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        -2060
      ],
      "id": "schedule-trigger-ecb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ (() => { const lookbackDays = 180; const end = new Date(); const start = new Date(end); start.setDate(start.getDate() - lookbackDays); const fmt = (d) => `${d.getFullYear()}-${String(d.getMonth() + 1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}`; return `https://data-api.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?startPeriod=${fmt(start)}&endPeriod=${fmt(end)}&detail=dataonly&format=csvdata`; })() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1600,
        -2120
      ],
      "id": "ecb-download-node",
      "name": "ECB Data Portal Download",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function getCollectedPeriod(isoTs, cadenza) {\n  const d = new Date(isoTs || new Date().toISOString());\n  const pad = n => String(n).padStart(2, '0');\n  const yyyy = d.getUTCFullYear();\n  const mm = pad(d.getUTCMonth() + 1);\n  const dd = pad(d.getUTCDate());\n  const hh = pad(d.getUTCHours());\n  const doy = Math.floor((d - new Date(Date.UTC(yyyy,0,1))) / 86400000);\n  const week = pad(Math.ceil((doy + new Date(Date.UTC(yyyy,0,1)).getUTCDay() + 1) / 7));\n  switch((cadenza||'').toLowerCase()) {\n    case 'hourly':  return `${yyyy}-${mm}-${dd}T${hh}`;\n    case 'daily':   return `${yyyy}-${mm}-${dd}`;\n    case 'weekly':  return `${yyyy}-W${week}`;\n    case 'monthly': return `${yyyy}-${mm}`;\n    default:        return `${yyyy}-${mm}-${dd}`;\n  }\n}\nconst now = new Date().toISOString();\nconst _collectedPeriod = getCollectedPeriod(now, 'daily');\nconst expectedFreshnessHours = 36;\nconst isFresh = (new Date() - new Date(now)) / 3600000 < expectedFreshnessHours;\n\nconst lookbackDays = 180;\nconst end = new Date();\nconst start = new Date(end);\nstart.setDate(start.getDate() - lookbackDays);\nconst seriesKey = 'EXR.D.BRL.EUR.SP00.A';\n\nfunction formatIsoDate(date) {\n  return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;\n}\n\nfunction parseCsvLine(line) {\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n\n    if (char === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i += 1;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      values.push(current);\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n\n  values.push(current);\n  return values;\n}\n\nfunction toNumber(value, decimals = 6) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nconst lines = raw.split(/\\r?\\n/).filter((line) => line.trim() !== '');\nif (!lines.length) {\n  throw new Error('ECB Data Portal response is empty');\n}\n\nconst headers = parseCsvLine(lines[0]).map((header) => header.trim());\nconst timeIndex = headers.findIndex((header) => header === 'TIME_PERIOD');\nconst valueIndex = headers.findIndex((header) => header === 'OBS_VALUE');\n\nif (timeIndex === -1 || valueIndex === -1) {\n  throw new Error('Unexpected ECB CSV schema: TIME_PERIOD or OBS_VALUE missing');\n}\n\nconst rows = lines.slice(1)\n  .map((line) => {\n    const values = parseCsvLine(line);\n    const timePeriod = (values[timeIndex] ?? '').trim();\n    const obsValue = toNumber((values[valueIndex] ?? '').trim(), 6);\n\n    return {\n      quote_date: timePeriod,\n      fx_rate_brl_per_eur: obsValue\n    };\n  })\n  .filter((row) => row.quote_date && row.fx_rate_brl_per_eur !== null)\n  .sort((a, b) => a.quote_date.localeCompare(b.quote_date));\n\nif (!rows.length) {\n  throw new Error('ECB Data Portal returned no valid FX observations in the selected period');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-10);\nconst fxValues = rows.map((row) => row.fx_rate_brl_per_eur).filter((value) => typeof value === 'number');\nconst minFx = fxValues.length ? Number(Math.min(...fxValues).toFixed(6)) : null;\nconst maxFx = fxValues.length ? Number(Math.max(...fxValues).toFixed(6)) : null;\nconst avgFx = fxValues.length ? Number((fxValues.reduce((sum, value) => sum + value, 0) / fxValues.length).toFixed(6)) : null;\nconst rangeFx = minFx !== null && maxFx !== null ? Number((maxFx - minFx).toFixed(6)) : null;\n\nconst changeVsPrevious = previous ? Number((latest.fx_rate_brl_per_eur - previous.fx_rate_brl_per_eur).toFixed(6)) : null;\nconst changePctVsPrevious = previous && previous.fx_rate_brl_per_eur ? Number((((latest.fx_rate_brl_per_eur - previous.fx_rate_brl_per_eur) / previous.fx_rate_brl_per_eur) * 100).toFixed(6)) : null;\n\nlet movementLabel = 'stable';\nlet summaryEn = `Latest ECB EUR/BRL reference rate on ${latest.quote_date} was ${latest.fx_rate_brl_per_eur.toFixed(6)} BRL per EUR.`;\nconst signals = [\n  `Latest ECB EUR/BRL ${latest.fx_rate_brl_per_eur.toFixed(6)}`,\n  `${lookbackDays}-day EUR/BRL range ${rangeFx !== null ? rangeFx.toFixed(6) : 'n/a'}`,\n  `Series key ${seriesKey}`\n];\n\nif (changeVsPrevious !== null) {\n  if (changeVsPrevious > 0) movementLabel = 'brl_weaker_vs_eur';\n  else if (changeVsPrevious < 0) movementLabel = 'brl_stronger_vs_eur';\n\n  summaryEn += ` Versus the previous observation, the rate changed by ${changeVsPrevious.toFixed(6)} (${changePctVsPrevious.toFixed(6)}%).`;\n  if (movementLabel === 'brl_weaker_vs_eur') {\n    summaryEn += ' This indicates BRL weakening against EUR versus the previous ECB reference rate.';\n    signals.push('BRL weakened versus EUR compared with previous ECB fixing');\n  } else if (movementLabel === 'brl_stronger_vs_eur') {\n    summaryEn += ' This indicates BRL strengthening against EUR versus the previous ECB reference rate.';\n    signals.push('BRL strengthened versus EUR compared with previous ECB fixing');\n  } else {\n    signals.push('ECB EUR/BRL unchanged versus previous fixing');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'ECB_DATA_PORTAL',\n    source_format: 'sdmx_csvdata',\n    source_url_template: 'https://data-api.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?...',\n    source_url: 'https://data-api.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?...',\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    collected_period: _collectedPeriod,\n        is_fresh: isFresh,\n    dataset: 'EXR',\n    series_key: seriesKey,\n    base_currency: 'EUR',\n    quote_currency: 'BRL',\n    lookback_days: lookbackDays,\n    query_start_date: formatIsoDate(start),\n    query_end_date: formatIsoDate(end),\n    total_quotes: rows.length,\n    quote_date: latest.quote_date,\n    fx_rate_brl_per_eur: latest.fx_rate_brl_per_eur,\n    movement_label: movementLabel,\n    previous_quote_date: previous ? previous.quote_date : null,\n    previous_fx_rate_brl_per_eur: previous ? previous.fx_rate_brl_per_eur : null,\n    change_vs_previous: changeVsPrevious,\n    change_pct_vs_previous: changePctVsPrevious,\n    fx_stats_lookback: {\n      min: minFx,\n      avg: avgFx,\n      max: maxFx,\n      range: rangeFx\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals,\n    _chart_fields: [\"recent_series\"]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -2120
      ],
      "id": "ecb-parse-node",
      "name": "ECB Data Portal Parse"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "raw_prices",
        "options": {},
        "fields": "source,source_url,source_format,source_url_template,country,macroarea,collected_at,dataset,series_key,base_currency,quote_currency,lookback_days,query_start_date,query_end_date,total_quotes,quote_date,fx_rate_brl_per_eur,movement_label,previous_quote_date,previous_fx_rate_brl_per_eur,change_vs_previous,change_pct_vs_previous,fx_stats_lookback,recent_series,summary_en,signals"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1120,
        -2120
      ],
      "id": "ecb-mongo-raw-prices-node",
      "name": "ECB MongoDB raw_prices",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date().toISOString();\nconst meta = $('ECB Parse Signals').item.json;\n\nreturn [{\n  json: {\n    source: 'ECB_DATA_PORTAL',\n    country: 'BR',\n    macroarea: 'prices',\n    cadenza: 'daily',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    quote_date: meta.quote_date || null,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -2120
      ],
      "id": "ecb-build-log-node",
      "name": "ECB Build Ingestion Log"
    },
    {
      "parameters": {
        "operation": "upsert",
        "collection": "ingestion_log",
        "options": {
          "upsert": true
        },
        "fields": "source,country,macroarea,cadenza,run_date,status,completed_at,report_period,survey_number,season,market_year,latest_year,quote_date,total_detections,latest_period,enso_phase,items_ingested,ports_monitored",
        "filter": "{ \"source\": \"ECB_DATA_PORTAL\", \"country\": \"BR\", \"run_date\": {{ $json.run_date }} }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -640,
        -2120
      ],
      "id": "ecb-mongo-log-node",
      "name": "ECB MongoDB ingestion_log",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ quote_date: $json.quote_date, fx_rate_brl_per_eur: $json.fx_rate_brl_per_eur, change_vs_previous: $json.change_vs_previous, change_pct_vs_previous: $json.change_pct_vs_previous, fx_stats_lookback: $json.fx_stats_lookback, movement_label: $json.movement_label, rule_based_signals: $json.signals, fallback_summary_en: $json.summary_en }, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are interpreting ECB EUR/BRL exchange rate data for a Lavazza coffee intelligence system. EUR/BRL rate affects the cost of Brazilian coffee denominated in euros. Describe what is happening factually — do not judge if it is good or bad.\n\nOutput format:\n{\n  \"movement_label\": \"...\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nmovement_label options: eur_strengthening|eur_weakening|eur_stable|eur_volatile\nRules:\n- signals: max 5 short English strings describing observable facts\n- DO NOT assign positive/negative valence — just describe what is happening\n- movement_label: one concise label describing the current situation\n- summary_en: 1-2 English sentences, factual only\n- return JSON only, no extra text"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -880,
        -2120
      ],
      "id": "ecb-ai-signals-node",
      "name": "ECB AI Signals"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -880,
        -1920
      ],
      "id": "ecb-openai-signals-node",
      "name": "ECB OpenAI Signals Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = ($json.text || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/```$/i,'').trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('ECB Data Portal Parse').item.json;\n\nreturn [{ json: {\n  ...base,\n  rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n  rule_based_movement_label: base.movement_label || 'mixed',\n  fallback_summary_en: base.summary_en || '',\n  movement_label: parsed.movement_label || base.movement_label || 'mixed',\n  signals: Array.isArray(parsed.signals) && parsed.signals.length ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n  summary_en: parsed.summary_en || base.summary_en || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -2120
      ],
      "id": "ecb-parse-signals-node",
      "name": "ECB Parse Signals"
    },
    {
      "id": "e30da32b-fa98-4a94-9867-829f38617732",
      "name": "API Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1380,
        -2120
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst err = item.json?.error ?? item.error?.message ?? '';\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 0;\nif (err || statusCode >= 400) {\n  return [{ json: {\n    _api_skip: true,\n    source: '08_ECB_FX',\n    country: 'BR',\n    status: 'skipped_api_error',\n    reason: `API unavailable: ${err || 'HTTP ' + statusCode}`,\n    run_date: new Date().toISOString(),\n    completed_at: new Date().toISOString()\n  } }];\n}\nreturn [{ json: item.json }];"
      }
    },
    {
      "id": "33625368-c438-464d-bb2b-7bc90e329aac",
      "name": "API Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1160,
        -2120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bb4638b9-26c6-4a92-a83d-11bc2a5c4bbc",
              "leftValue": "={{ $json._api_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "959bea4a-c62f-4b40-91b2-b2993df48936",
      "name": "Return Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        -2120
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "28fcb156-7dfe-433a-b802-4d739ef623fe",
              "name": "workflow",
              "value": "=08-ecb-fx",
              "type": "string"
            },
            {
              "id": "dcf19340-4d43-48b7-844e-1d8226265dbc",
              "name": "status",
              "value": "={{ $json.status || 'done' }}",
              "type": "string"
            },
            {
              "id": "6cf5392d-05c8-4eb1-9100-69321154ec09",
              "name": "completed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ECB Data Portal Download": {
      "main": [
        [
          {
            "node": "API Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB Data Portal Parse": {
      "main": [
        [
          {
            "node": "ECB AI Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB MongoDB raw_prices": {
      "main": [
        [
          {
            "node": "ECB Build Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB Build Ingestion Log": {
      "main": [
        [
          {
            "node": "ECB MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB OpenAI Signals Model": {
      "ai_languageModel": [
        [
          {
            "node": "ECB AI Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ECB AI Signals": {
      "main": [
        [
          {
            "node": "ECB Parse Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB Parse Signals": {
      "main": [
        [
          {
            "node": "ECB MongoDB raw_prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "ECB Data Portal Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ECB Data Portal Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Check": {
      "main": [
        [
          {
            "node": "API Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Skip?": {
      "main": [
        [
          {
            "node": "ECB MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ECB Data Portal Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ECB MongoDB ingestion_log": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "ECB Data Portal Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Status": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [],
  "id": "C17pmMtR27ICovcS"
}