docker/local-files/workflows/split/09-bcb-ptax.json
{
  "name": "Lavazza - BCB PTAX",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        -1780
      ],
      "id": "manual-trigger-bcb",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        -1660
      ],
      "id": "schedule-trigger-bcb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ (() => { const lookbackDays = 180; const end = new Date(); const start = new Date(end); start.setDate(start.getDate() - lookbackDays); const fmt = (d) => `${String(d.getMonth() + 1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}-${d.getFullYear()}`; const startEncoded = encodeURIComponent(`'${fmt(start)}'`); const endEncoded = encodeURIComponent(`'${fmt(end)}'`); return `https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial=${startEncoded}&@dataFinalCotacao=${endEncoded}&$top=100&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao`; })() }}",
        "options": {
          "timeout": 60000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1600,
        -1720
      ],
      "id": "bcb-ptax-download-node",
      "name": "BCB PTAX Download",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function getCollectedPeriod(isoTs, cadenza) {\n  const d = new Date(isoTs || new Date().toISOString());\n  const pad = n => String(n).padStart(2, '0');\n  const yyyy = d.getUTCFullYear();\n  const mm = pad(d.getUTCMonth() + 1);\n  const dd = pad(d.getUTCDate());\n  const hh = pad(d.getUTCHours());\n  const doy = Math.floor((d - new Date(Date.UTC(yyyy,0,1))) / 86400000);\n  const week = pad(Math.ceil((doy + new Date(Date.UTC(yyyy,0,1)).getUTCDay() + 1) / 7));\n  switch((cadenza||'').toLowerCase()) {\n    case 'hourly':  return `${yyyy}-${mm}-${dd}T${hh}`;\n    case 'daily':   return `${yyyy}-${mm}-${dd}`;\n    case 'weekly':  return `${yyyy}-W${week}`;\n    case 'monthly': return `${yyyy}-${mm}`;\n    default:        return `${yyyy}-${mm}-${dd}`;\n  }\n}\nconst now = new Date().toISOString();\nconst _collectedPeriod = getCollectedPeriod(now, 'daily');\nconst expectedFreshnessHours = 36;\nconst isFresh = (new Date() - new Date(now)) / 3600000 < expectedFreshnessHours;\n\nconst lookbackDays = 180;\nconst end = new Date();\nconst start = new Date(end);\nstart.setDate(start.getDate() - lookbackDays);\n\nfunction formatIsoDate(date) {\n  return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;\n}\n\nfunction toNumber(value, decimals = 4) {\n  if (value === null || value === undefined || value === '') return null;\n  const numeric = Number(value);\n  if (Number.isNaN(numeric)) return null;\n  return Number(numeric.toFixed(decimals));\n}\n\nconst responseRows = Array.isArray($json.value) ? $json.value : [];\nconst rows = responseRows\n  .map((row) => {\n    const dataHoraCotacao = String(row.dataHoraCotacao || '').trim();\n    const cotacaoCompra = toNumber(row.cotacaoCompra, 4);\n    const cotacaoVenda = toNumber(row.cotacaoVenda, 4);\n\n    return {\n      dataHoraCotacao,\n      quote_date: dataHoraCotacao ? dataHoraCotacao.slice(0, 10) : null,\n      cotacaoCompra,\n      cotacaoVenda,\n      spread: cotacaoCompra !== null && cotacaoVenda !== null ? Number((cotacaoVenda - cotacaoCompra).toFixed(4)) : null\n    };\n  })\n  .filter((row) => row.dataHoraCotacao && row.cotacaoCompra !== null && row.cotacaoVenda !== null)\n  .sort((a, b) => a.dataHoraCotacao.localeCompare(b.dataHoraCotacao));\n\nif (!rows.length) {\n  throw new Error('BCB PTAX returned no valid quotes in the selected period');\n}\n\nconst latest = rows[rows.length - 1];\nconst previous = rows.length > 1 ? rows[rows.length - 2] : null;\nconst recentSeries = rows.slice(-10);\nconst sellValues = rows.map((row) => row.cotacaoVenda).filter((value) => typeof value === 'number');\nconst minSell = sellValues.length ? Number(Math.min(...sellValues).toFixed(4)) : null;\nconst maxSell = sellValues.length ? Number(Math.max(...sellValues).toFixed(4)) : null;\nconst avgSell = sellValues.length ? Number((sellValues.reduce((sum, value) => sum + value, 0) / sellValues.length).toFixed(4)) : null;\nconst rangeSell = minSell !== null && maxSell !== null ? Number((maxSell - minSell).toFixed(4)) : null;\n\nconst changeVsPrevious = previous ? Number((latest.cotacaoVenda - previous.cotacaoVenda).toFixed(4)) : null;\nconst changePctVsPrevious = previous && previous.cotacaoVenda ? Number((((latest.cotacaoVenda - previous.cotacaoVenda) / previous.cotacaoVenda) * 100).toFixed(4)) : null;\n\nlet movementLabel = 'stable';\nlet summaryEn = `Latest BCB PTAX USD/BRL fixing on ${latest.quote_date} was ${latest.cotacaoVenda.toFixed(4)} BRL sell and ${latest.cotacaoCompra.toFixed(4)} BRL buy.`;\nconst signals = [\n  `Latest PTAX sell ${latest.cotacaoVenda.toFixed(4)} BRL/USD`,\n  `Latest PTAX buy ${latest.cotacaoCompra.toFixed(4)} BRL/USD`,\n  `10-day sell range ${rangeSell !== null ? rangeSell.toFixed(4) : 'n/a'} BRL`\n];\n\nif (changeVsPrevious !== null) {\n  if (changeVsPrevious > 0) movementLabel = 'brl_weaker';\n  else if (changeVsPrevious < 0) movementLabel = 'brl_stronger';\n\n  summaryEn += ` Versus the previous fixing, the PTAX sell rate changed by ${changeVsPrevious.toFixed(4)} BRL (${changePctVsPrevious.toFixed(4)}%).`;\n  if (movementLabel === 'brl_weaker') {\n    summaryEn += ' This indicates BRL weakening against the USD versus the previous fixing.';\n    signals.push('BRL weakened versus previous PTAX fixing');\n  } else if (movementLabel === 'brl_stronger') {\n    summaryEn += ' This indicates BRL strengthening against the USD versus the previous fixing.';\n    signals.push('BRL strengthened versus previous PTAX fixing');\n  } else {\n    signals.push('PTAX unchanged versus previous fixing');\n  }\n}\n\nreturn [{\n  json: {\n    source: 'BCB_PTAX',\n    source_format: 'odata_json',\n    source_url_template: 'https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(...)',\n    source_url: 'https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(...)',\n    country: 'BR',\n    macroarea: 'prices',\n    collected_at: now,\n    collected_period: _collectedPeriod,\n        is_fresh: isFresh,\n    lookback_days: lookbackDays,\n    query_start_date: formatIsoDate(start),\n    query_end_date: formatIsoDate(end),\n    total_quotes: rows.length,\n    quote_date: latest.quote_date,\n    dataHoraCotacao: latest.dataHoraCotacao,\n    cotacaoCompra: latest.cotacaoCompra,\n    cotacaoVenda: latest.cotacaoVenda,\n    spread: latest.spread,\n    movement_label: movementLabel,\n    previous_quote_date: previous ? previous.quote_date : null,\n    previous_dataHoraCotacao: previous ? previous.dataHoraCotacao : null,\n    previous_cotacaoCompra: previous ? previous.cotacaoCompra : null,\n    previous_cotacaoVenda: previous ? previous.cotacaoVenda : null,\n    change_vs_previous: changeVsPrevious,\n    change_pct_vs_previous: changePctVsPrevious,\n    sell_stats_lookback: {\n      min: minSell,\n      avg: avgSell,\n      max: maxSell,\n      range: rangeSell\n    },\n    recent_series: recentSeries,\n    summary_en: summaryEn,\n    signals,\n    _chart_fields: [\"recent_series\"]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -1720
      ],
      "id": "bcb-ptax-parse-node",
      "name": "BCB PTAX Parse"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "raw_prices",
        "options": {},
        "fields": "source,source_url,source_format,source_url_template,country,macroarea,collected_at,lookback_days,query_start_date,query_end_date,total_quotes,quote_date,dataHoraCotacao,cotacaoCompra,cotacaoVenda,spread,movement_label,previous_quote_date,previous_dataHoraCotacao,previous_cotacaoCompra,previous_cotacaoVenda,change_vs_previous,change_pct_vs_previous,sell_stats_lookback,recent_series,summary_en,signals"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1120,
        -1720
      ],
      "id": "bcb-mongo-raw-prices-node",
      "name": "BCB MongoDB raw_prices",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date().toISOString();\nconst meta = $('BCB Parse Signals').item.json;\n\nreturn [{\n  json: {\n    source: 'BCB_PTAX',\n    country: 'BR',\n    macroarea: 'prices',\n    cadenza: 'daily',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    quote_date: meta.quote_date || null,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -1720
      ],
      "id": "bcb-build-log-node",
      "name": "BCB Build Ingestion Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ingestion_log",
        "fields": "source,country,macroarea,cadenza,run_date,status,completed_at"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -640,
        -1720
      ],
      "id": "bcb-mongo-log-node",
      "name": "BCB MongoDB ingestion_log",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ quote_date: $json.quote_date, cotacaoCompra: $json.cotacaoCompra, cotacaoVenda: $json.cotacaoVenda, spread: $json.spread, change_vs_previous: $json.change_vs_previous, change_pct_vs_previous: $json.change_pct_vs_previous, sell_stats_lookback: $json.sell_stats_lookback, movement_label: $json.movement_label, rule_based_signals: $json.signals, fallback_summary_en: $json.summary_en }, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are interpreting BCB PTAX BRL/USD exchange rate data for a Lavazza coffee intelligence system. Lavazza buys Brazilian coffee priced in USD. BRL/USD movements affect export competitiveness and supply volumes. Describe what is happening factually — do not judge if it is good or bad for Lavazza.\n\nOutput format:\n{\n  \"movement_label\": \"...\",\n  \"signals\": [\"...\"],\n  \"summary_en\": \"...\"\n}\n\nmovement_label options: brl_weakening|brl_strengthening|brl_stable|brl_volatile\nRules:\n- signals: max 5 short English strings describing observable facts\n- DO NOT assign positive/negative valence — just describe what is happening\n- movement_label: one concise label describing the current situation\n- summary_en: 1-2 English sentences, factual only\n- return JSON only, no extra text"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -880,
        -1720
      ],
      "id": "bcb-ai-signals-node",
      "name": "BCB AI Signals",
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -880,
        -1520
      ],
      "id": "bcb-openai-signals-node",
      "name": "BCB OpenAI Signals Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = ($json.text || '').trim();\nconst cleaned = raw.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/```$/i,'').trim();\nconst parsed = JSON.parse(cleaned);\nconst base = $('BCB PTAX Parse').item.json;\n\nreturn [{ json: {\n  ...base,\n  rule_based_signals: Array.isArray(base.signals) ? base.signals : [],\n  rule_based_movement_label: base.movement_label || 'mixed',\n  fallback_summary_en: base.summary_en || '',\n  movement_label: parsed.movement_label || base.movement_label || 'mixed',\n  signals: Array.isArray(parsed.signals) && parsed.signals.length ? parsed.signals : (Array.isArray(base.signals) ? base.signals : []),\n  summary_en: parsed.summary_en || base.summary_en || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -1720
      ],
      "id": "bcb-parse-signals-node",
      "name": "BCB Parse Signals"
    },
    {
      "id": "cfd928f7-6940-4762-836f-2941ba9e6456",
      "name": "BCB API Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1380,
        -1720
      ],
      "parameters": {
        "jsCode": "// Se BCB è down (502/timeout), logga skip e interrompi senza errore\nconst item = $input.first();\nconst err = item.json?.error ?? item.error?.message ?? '';\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 0;\n\nif (err || statusCode >= 400) {\n  // Scrivi direttamente nel log e termina silenziosamente\n  return [{\n    json: {\n      _api_skip: true,\n      source: 'BCB_PTAX',\n      country: 'BR',\n      status: 'skipped_api_error',\n      reason: `BCB API unavailable: ${err || 'HTTP ' + statusCode}`,\n      run_date: new Date().toISOString(),\n      completed_at: new Date().toISOString()\n    }\n  }];\n}\n// API OK — passa il dato al Parse\nreturn [{ json: item.json }];\n"
      }
    },
    {
      "id": "d912ab30-0051-4508-8582-72ea5c9c3211",
      "name": "BCB Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1160,
        -1720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1e7373f-f582-4738-81e5-02ea53f53ee9",
              "leftValue": "={{ $json._api_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "9166334a-4c73-4b9f-9c3e-3c5aa565fcc5",
      "name": "Return Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        -1720
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "3c466e6d-0a9b-4364-82e4-85b4cd050b0e",
              "name": "workflow",
              "value": "=09-bcb-ptax",
              "type": "string"
            },
            {
              "id": "f7745181-a8fa-4d1e-a441-ddfe40249b5a",
              "name": "status",
              "value": "={{ $json.status || 'done' }}",
              "type": "string"
            },
            {
              "id": "59d1df77-9dc7-4ee6-ba9f-1dd321a3106c",
              "name": "completed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        -1705
      ],
      "id": "execute-workflow-trigger-joNcZFDe",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "BCB PTAX Download": {
      "main": [
        [
          {
            "node": "BCB API Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB PTAX Parse": {
      "main": [
        [
          {
            "node": "BCB AI Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB MongoDB raw_prices": {
      "main": [
        [
          {
            "node": "BCB Build Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB Build Ingestion Log": {
      "main": [
        [
          {
            "node": "BCB MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB OpenAI Signals Model": {
      "ai_languageModel": [
        [
          {
            "node": "BCB AI Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BCB AI Signals": {
      "main": [
        [
          {
            "node": "BCB Parse Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB Parse Signals": {
      "main": [
        [
          {
            "node": "BCB MongoDB raw_prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "BCB PTAX Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BCB PTAX Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB API Check": {
      "main": [
        [
          {
            "node": "BCB Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB Skip?": {
      "main": [
        [
          {
            "node": "BCB MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BCB PTAX Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCB MongoDB ingestion_log": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "BCB PTAX Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Status": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [],
  "id": "joNcZFDedBFhi6ue"
}