docker/local-files/workflows/split/13-gdelt-news.json
{
  "name": "Lavazza - GDELT News",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "722cefd9-864a-4638-9c44-e45d6eba0bff",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "00712322-08ab-476d-8b71-f1efc603f2fb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.gdeltproject.org/api/v2/doc/doc",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "(coffee OR cafe OR café OR cafeicultura) sourcecountry:brazil"
            },
            {
              "name": "mode",
              "value": "artlist"
            },
            {
              "name": "maxrecords",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "datedesc"
            },
            {
              "name": "timespan",
              "value": "1d"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        260,
        0
      ],
      "id": "479756a5-0143-4519-9ab8-74a3bef47f64",
      "name": "GDELT caffè",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        100
      ],
      "id": "d945aad6-c177-4b62-b9f9-d9c5d2a231c5",
      "name": "Wait 8s 1",
      "continueOnFail": false,
      "webhookId": "wait-1-webhook"
    },
    {
      "parameters": {
        "url": "https://api.gdeltproject.org/api/v2/doc/doc",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "(enchente OR seca OR queimada OR \"chuva extrema\" OR desastre) sourcecountry:BR"
            },
            {
              "name": "mode",
              "value": "artlist"
            },
            {
              "name": "maxrecords",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "datedesc"
            },
            {
              "name": "timespan",
              "value": "1d"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1300,
        0
      ],
      "id": "16e78893-4f96-4c99-9df4-039f353ee6e7",
      "name": "GDELT disastri",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const seen = new Map();\nconst nodeNames = ['GDELT caff\\u00e8', 'API Check Disastri'];\n\nfor (const name of nodeNames) {\n  try {\n    const items = $(name).all();\n    for (const item of items) {\n      const articles = item.json.articles || [];\n      for (const art of articles) {\n        if (art.url && !seen.has(art.url)) {\n          seen.set(art.url, art);\n        }\n      }\n    }\n  } catch(e) {}\n}\n\nreturn [{ json: { articles: Array.from(seen.values()) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        0
      ],
      "id": "491594c8-cbcb-4ec1-8457-c38306322c38",
      "name": "GDELT Multi-Query"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "e692a471-efa6-4733-b621-8d1bd8fcb09d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2340,
        0
      ],
      "id": "692e74da-62ed-41a4-a7e9-7cfe99087a38",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        0
      ],
      "id": "af48a816-1422-4c76-a993-b97ab2f34398",
      "name": "Wait1",
      "webhookId": "6051aa69-e3ba-44e6-ad12-f044f14540b6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{\n`URL: ${$json.url}\nTitle: ${$json.title}\nDomain: ${$json.domain}\nLanguage: ${$json.language}\nSource Country: ${$json.sourcecountry}\nSeen Date: ${$json.seendate}`\n}}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are filtering news articles for a Lavazza intelligence system that monitors risks related to coffee origins in Brazil.\n\nDecide whether an article is relevant and worth keeping for downstream scraping and analysis.\n\nAn article is relevant only if it is substantially related to at least one of the following:\n\ncoffee production trends, forecasts, or harvest data at regional or national level in Brazil\nBrazilian coffee-growing regions affected by climate, disease, or structural changes\nagribusiness, agriculture, exports, logistics, trade, tariffs, regulation, or policy that may affect Brazilian coffee at regional, national, or international scale\nenvironmental, climate, wildfire, drought, ENSO, or crop-related conditions that may affect Brazilian coffee\ngeopolitical, economic, or supply-chain developments with plausible impact on Brazilian coffee production or exports\nReject articles that are mainly about:\n\ncafes, coffee shops, restaurants, tourism, lifestyle, recipes, or coffee culture\nentertainment, sports, celebrities, general crime, or unrelated politics\ncoffee in general without a meaningful connection to Brazil\nBrazil in general without a meaningful connection to coffee, agriculture, agribusiness, climate risk, or export/logistics risk\nlocal field days, training workshops, municipal extension events, or cooperative press releases about routine operational activities\nsingle-farm or single-municipality initiatives without regional or national significance\nBe conservative. Keep only articles with impact beyond a single municipality or farm — regional, national, or international scope required.\n\nReturn only valid JSON in this exact format:\n\n\n{\n  \"url\": \"...\",\n  \"keep_article\": true,\n  \"relevance_score\": 0,\n  \"is_about_brazil\": true,\n  \"is_in_scope\": true,\n  \"topic\": \"geo\",\n  \"reason\": \"short explanation\"\n}\nRules:\n\nurl must be the exact URL value provided in the input, copied verbatim.\nkeep_article must be true only if both is_about_brazil and is_in_scope are true AND the article has impact at regional, national, or international scale.\nrelevance_score must be an integer from 0 to 100.\ntopic must be one of: \"geo\", \"crops\", \"prices\", \"environment\", \"other\".\nreason must be short and specific.\nReturn JSON only, with no extra text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2860,
        0
      ],
      "id": "e2becbc3-8614-4d0f-b569-e733e05906e9",
      "name": "Basic LLM Chain1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2860,
        240
      ],
      "id": "bcc6535e-e28b-4815-ba4f-4899f36108d5",
      "name": "OpenAI Chat Model1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.text || '').replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        0
      ],
      "id": "f2043b54-76e2-492f-9f61-403c9064132b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90f83ad7-988e-4c18-99f8-7b4cf54f2e9a",
              "leftValue": "={{ $json.keep_article }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3380,
        0
      ],
      "id": "d95a6418-2f52-4c40-bcad-543fb427399f",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3640,
        0
      ],
      "id": "1cf1083b-5ba4-4e71-9b7a-02db17b0aa1f",
      "name": "Scrape Article",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || '';\nconst meta = $('Code in JavaScript1').item.json;\n\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 6000);\n\nreturn [{\n  json: {\n    ...meta,\n    article_text: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        0
      ],
      "id": "c891af8d-fd75-4fd6-944b-059bbc795a7a",
      "name": "Strip HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.article_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You extract structured signals from news articles about Brazilian coffee. Return only valid JSON, no extra text.\n\nOutput format:\n{\n  \"signals\": [\"...\"],\n  \"entities\": [\"...\"],\n  \"sentiment\": \"positive|negative|neutral\",\n  \"summary_en\": \"...\"\n}\n\nRules:\n- signals: max 5 short strings, each a concrete risk or positive factor for Brazilian coffee\n- entities: regions, organizations, or people mentioned (max 5)\n- sentiment: overall tone toward Brazilian coffee sector\n- summary_en: 1-2 sentences in English summarizing the article\n- Return JSON only, with no extra text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4160,
        0
      ],
      "id": "41c7321d-6701-495b-be15-ef1e54693ca1",
      "name": "Extract Signals",
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4160,
        240
      ],
      "id": "c0974160-d7c3-4714-b78f-601abfee7b16",
      "name": "OpenAI Extract Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function getCollectedPeriod(isoTs, cadenza) {\n  const d = new Date(isoTs || new Date().toISOString());\n  const pad = n => String(n).padStart(2, '0');\n  const yyyy = d.getUTCFullYear();\n  const mm = pad(d.getUTCMonth() + 1);\n  const dd = pad(d.getUTCDate());\n  const hh = pad(d.getUTCHours());\n  const doy = Math.floor((d - new Date(Date.UTC(yyyy,0,1))) / 86400000);\n  const week = pad(Math.ceil((doy + new Date(Date.UTC(yyyy,0,1)).getUTCDay() + 1) / 7));\n  switch((cadenza||'').toLowerCase()) {\n    case 'hourly':  return `${yyyy}-${mm}-${dd}T${hh}`;\n    case 'daily':   return `${yyyy}-${mm}-${dd}`;\n    case 'weekly':  return `${yyyy}-W${week}`;\n    case 'monthly': return `${yyyy}-${mm}`;\n    default:        return `${yyyy}-${mm}-${dd}`;\n  }\n}\nconst now = new Date().toISOString();\nconst _collectedPeriod = getCollectedPeriod(now, 'hourly');\n\n// Parse LLM extraction output\nlet signals = {};\ntry { const _raw = ($json.text || '').replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim(); signals = JSON.parse(_raw || '{}'); } catch(e) { signals = {}; }\n\n// Filter metadata (url, topic, relevance_score, reason) from Code in JavaScript1\nconst meta = $('Code in JavaScript1').item.json;\n\n// Original GDELT article data from the loop\nlet original = {};\ntry { original = $('Loop Over Items1').item.json; } catch(e) {}\n\nreturn [{\n  json: {\n    source: 'GDELT',\n    source_url: 'https://api.gdeltproject.org/api/v2/doc/doc',\n    country: 'BR',\n    macroarea: 'geo',\n    collected_at: now,\n    collected_period: _collectedPeriod,\n    url: meta.url || original.url || null,\n    topic: meta.topic || null,\n    relevance_score: meta.relevance_score || null,\n    reason: meta.reason || null,\n    title: original.title || null,\n    domain: original.domain || null,\n    seendate: original.seendate || null,\n    signals: signals.signals || [],\n    entities: signals.entities || [],\n    sentiment: signals.sentiment || null,\n    summary_en: signals.summary_en || null,\n    embed_text: (signals.summary_en || '') + ' ' + (signals.signals || []).join('. ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4420,
        0
      ],
      "id": "e0a8bfad-4a29-4d90-84af-3846c8bf124e",
      "name": "Parse Signals"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "raw_geo",
        "updateKey": "url",
        "fields": "source,source_url,country,macroarea,collected_at,collected_period,url,topic,relevance_score,reason,title,domain,seendate,signals,entities,sentiment,summary_en,embed_text",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        4680,
        0
      ],
      "id": "ad5d1c44-cc1f-48f7-8d6f-f4c7a8e9215c",
      "name": "MongoDB raw_geo",
      "continueOnFail": true,
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Parse Signals').item.json.embed_text }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4940,
        0
      ],
      "id": "9f93913e-b5db-4d29-ae19-87648dbd9ee8",
      "name": "OpenAI Embeddings",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "0Vum5STk59lUOybm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getCollectedPeriod(collectedAt, cadenza) {\n  const d = new Date(collectedAt || new Date().toISOString());\n  const pad = (n) => String(n).padStart(2, '0');\n  const yyyy = d.getUTCFullYear();\n  const mm = pad(d.getUTCMonth() + 1);\n  const dd = pad(d.getUTCDate());\n  const hh = pad(d.getUTCHours());\n  const startOfYear = new Date(Date.UTC(yyyy, 0, 1));\n  const weekNo = pad(Math.ceil(((d - startOfYear) / 86400000 + startOfYear.getUTCDay() + 1) / 7));\n  switch((cadenza || '').toLowerCase()) {\n    case 'hourly':  return `${yyyy}-${mm}-${dd}T${hh}`;\n    case 'daily':   return `${yyyy}-${mm}-${dd}`;\n    case 'weekly':  return `${yyyy}-W${weekNo}`;\n    case 'monthly': return `${yyyy}-${mm}`;\n    default:        return `${yyyy}-${mm}-${dd}`;\n  }\n}\n\nconst _cadenza = 'hourly';\nconst meta = $('Parse Signals').item.json;\nconst _collectedAt = meta.collected_at || new Date().toISOString();\nconst _collectedPeriod = getCollectedPeriod(_collectedAt, _cadenza);\nconst vector = $json.data[0].embedding;\n\nconst url = meta.url || '';\nlet hash = 0;\nfor (let i = 0; i < url.length; i++) {\n  hash = ((hash << 5) - hash) + url.charCodeAt(i);\n  hash |= 0;\n}\nconst pointId = Math.abs(hash) || Math.floor(Math.random() * 1e9);\n\nreturn [{\n  json: {\n    points: [{\n      id: pointId,\n      vector: vector,\n      payload: {\n        source: meta.source,\n        source_url: meta.source_url,\n        country: meta.country,\n        macroarea: meta.macroarea,\n        collected_at: meta.collected_at,\n        url: meta.url,\n        topic: meta.topic,\n        relevance_score: meta.relevance_score,\n        sentiment: meta.sentiment,\n        summary_en: meta.summary_en,\n        signals: meta.signals\n      }\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        0
      ],
      "id": "365bef33-5a5c-4a01-b485-3481c36005cb",
      "name": "Build Qdrant Payload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/geo_texts/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5460,
        0
      ],
      "id": "884e1611-7ea9-40bb-abf4-9e303e65a123",
      "name": "Qdrant Upsert",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\nconst meta = $('GDELT Multi-Query').item.json;\n\nreturn [{\n  json: {\n    source: 'GDELT',\n    country: 'BR',\n    macroarea: 'geo',\n    cadenza: 'hourly',\n    run_date: now,\n    status: 'done',\n    completed_at: now,\n    items_ingested: Array.isArray(meta.articles) ? meta.articles.length : null,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5720,
        0
      ],
      "id": "d33bfea3-d6a4-407d-8888-cb3d6434802b",
      "name": "Build Ingestion Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ingestion_log",
        "fields": "source,country,macroarea,cadenza,run_date,status,completed_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1040,
        -100
      ],
      "id": "62057ad7-bce6-4518-a1fe-18a66ee92c91",
      "name": "MongoDB ingestion_log",
      "credentials": {
        "mongoDb": {
          "id": "Jo4ZHZCY4HM8JRrD",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst err = item.json?.error ?? item.error?.message ?? '';\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 0;\nif (err || statusCode >= 400) {\n  return [{ json: {\n    _api_skip: true,\n    source: 'GDELT',\n    country: 'BR',\n    macroarea: 'geo',\n    cadenza: 'hourly',\n    status: 'skipped_api_error',\n    reason: `API unavailable: ${err || 'HTTP ' + statusCode}`,\n    run_date: new Date().toISOString(),\n    completed_at: new Date().toISOString()\n  } }];\n}\nreturn [{ json: item.json }];"
      },
      "id": "2d301576-e56d-4734-a08e-ede188e65b97",
      "name": "API Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "76cc4151-2376-4e3f-8eac-f4bd60a72b10",
              "leftValue": "={{ $json._api_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e20c12b4-36a8-47cb-8efb-1a7d261cbc2f",
      "name": "API Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "480fa225-affe-422f-a403-86f79e2474e2",
              "name": "workflow",
              "value": "=13-gdelt-news",
              "type": "string"
            },
            {
              "id": "d32716de-c1ea-49fd-adc6-18f07a103e0a",
              "name": "status",
              "value": "={{ $json.status || 'done' }}",
              "type": "string"
            },
            {
              "id": "c24641a6-92c0-400b-9061-8a742d5349b5",
              "name": "completed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "833ea691-d8fe-472c-a984-4d93ed90c608",
      "name": "Return Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5980,
        0
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ],
      "id": "0413c6b7-5666-4d82-8ec0-136e502159e6",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst err = item.json?.error ?? item.error?.message ?? '';\nconst statusCode = item.json?.statusCode ?? item.json?.status ?? 0;\nif (err || statusCode >= 400) {\n  return [{ json: { articles: [] } }];\n}\nreturn [{ json: item.json }];"
      },
      "id": "b7c8d9e0-f1a2-3456-bcde-f01234567891",
      "name": "API Check Disastri",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ],
      "continueOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "GDELT caffè": {
      "main": [
        [
          {
            "node": "API Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s 1": {
      "main": [
        [
          {
            "node": "GDELT disastri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDELT disastri": {
      "main": [
        [
          {
            "node": "API Check Disastri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Check Disastri": {
      "main": [
        [
          {
            "node": "GDELT Multi-Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDELT Multi-Query": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Build Ingestion Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Scrape Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Article": {
      "main": [
        [
          {
            "node": "Strip HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip HTML": {
      "main": [
        [
          {
            "node": "Extract Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Signals": {
      "main": [
        [
          {
            "node": "Parse Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signals": {
      "main": [
        [
          {
            "node": "MongoDB raw_geo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB raw_geo": {
      "main": [
        [
          {
            "node": "OpenAI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "main": [
        [
          {
            "node": "Build Qdrant Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant Payload": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingestion Log": {
      "main": [
        [
          {
            "node": "MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GDELT caffè",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GDELT caffè",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Check": {
      "main": [
        [
          {
            "node": "API Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Skip?": {
      "main": [
        [
          {
            "node": "MongoDB ingestion_log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 8s 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB ingestion_log": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "GDELT caffè",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "54bec304-2a7f-4733-8246-c3cfd719becd",
  "meta": {
    "instanceId": "2be5d016e514bca7075b92e7e4319cc52b5ecaf9d38e791fac92ccc23d3d69ba"
  },
  "id": "udzCjAsrPBiiZ1IJ",
  "tags": []
}